<div class="modal-content">
    <div class="modal-header border-0">
        <div class="form-header modal-header-title text-start mb-0">
            <h4 class="mb-0">{{ 'payment.transactionDetails' |
                translate }}</h4>
            <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'transfer'">{{ 'payment.moneyTransfer' |
                translate }}</h6>
            <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'withdrawal'">{{ 'payment.withdrawal' |
                translate }}</h6>

            <!-- <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'deposit'">{{ 'payment.withdrawal' |
                translate }}</h6> -->
            <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'payment'">{{ 'payment.title' |
                translate }}</h6>
            <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'subscription'">{{ 'subscriptions.title' |
                translate }}</h6>
            <h6 class="mb-0" *ngIf="transactionData?.transactionType === 'fundraising'">{{ 'dashboard.fundraising' |
                translate }}</h6>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal id="closeModal"
            (click)="ngOnDestroy()">
        </button>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-header modal-header-title text-start mb-0">

                <span
                    *ngIf="transactionData?.status === 'transaction_initialized' || transactionData?.status === 'transaction_payin_closed'"
                    class="badge badge-label bg-dark">
                    {{ "status." + transactionData?.status | translate }}
                </span>

                <span class="badge badge-label bg-danger" *ngIf="transactionData?.status === 'transaction_payin_error'
                || transactionData?.status === 'transaction_payout_rejected'
                || transactionData?.status === 'transaction_payout_error'
                || transactionData?.status === 'transaction_payout_closed'">{{
                    "status." +
                    transactionData?.status | translate }} </span>

                <span *ngIf="transactionData?.status === 'transaction_payout_success'"
                    class="badge badge-label bg-success">
                    {{ "status." + transactionData?.status | translate }}
                </span>

                <span *ngIf="transactionData?.status === 'transaction_payin_success'">
                    <span class="badge badge-label bg-primary" disabled
                        *ngIf="transactionData?.transactionType === 'transfer' || transactionData?.transactionType === 'withdrawal'">
                        {{ "status.waitingConfirmation" | translate }}
                    </span>
                    <span class="badge badge-label bg-success"
                        *ngIf="transactionData?.transactionType !== 'transfer' && transactionData?.transactionType !== 'withdrawal'">
                        {{ "status." + transactionData?.status | translate }}
                    </span>
                </span>
                <span class="badge badge-label bg-success"
                    *ngIf="transactionData?.status === 'transaction_payout_success'">
                    {{ "status." + transactionData?.status | translate }}
                </span>

                    <span class="badge badge-label bg-warning" *ngIf="transactionData?.status === 'transaction_payin_pending'
                        || transactionData?.status === 'transaction_payout_pending'">
                        <span role="status" class="spinner-border spinner-border-sm me-2"></span>
                        {{ "status." + transactionData?.status | translate }}
                    </span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="img-upload">
                        <div class="profile-img company-profile-img" *ngIf="transactionData?.status === 'successful'">
                            <button class="btn btn-rounded btn-outline-success me-1">{{ "payment.success" |
                                translate }} </button>
                        </div>
                        <div class="profile-img company-profile-img" *ngIf="transactionData?.status === 'failed'">
                            <span class="badge badge-label bg-danger">{{ "payment.error" |
                                translate }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="profile-picture">
                        <div class="upload-profile">
                            <!-- <div class="profile-img company-profile-img">
                                <img id="company-img" class="img-fluid me-0" [src]="selectedCountry?.flagUrl"
                                    alt="profile-img">
                            </div> -->
                            <div class="add-profile" *ngIf="transactionData?.id">
                                <h5>{{ transactionData?.charged_amount }} {{
                                    transactionData?.currency }}</h5>
                                <span>
                                    {{ "payment.amount" | translate }}: {{ transactionData?.amount }}
                                    {{
                                    transactionData?.currency }} |
                                    {{ "payment.taxes" | translate }}: {{ transactionData?.app_fee }}
                                    {{
                                    transactionData?.currency }}</span>
                            </div>
                        </div>
                        <!-- <div class="img-upload">
                            <label class="btn btn-upload">
                                Upload <input type="file">
                            </label>
                            <a class="btn btn-remove">Remove</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12">
                    <h5 class="form-title mb-3">{{ "payment.details" | translate }}</h5>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="transactionData?._id && currentUser?.isAdmin">
                    <label>{{ "payment.amount" | translate }}</label>
                    <div class="input-block mb-3">
                        <h5>{{ transactionData?.receiverAmount }} {{
                            transactionData?.receiverCurrency }}</h5>
                        <span>
                            {{ "payment.amount" | translate }}: {{ transactionData?.estimation }}
                            {{
                            transactionData?.senderCurrency }} |
                            {{ "payment.taxes" | translate }}: {{ transactionData?.invoiceTaxes }}
                            {{
                            transactionData?.senderCurrency }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-block mb-3">
                        <label>ID</label>
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?.id" disabled
                            *ngIf="transactionData?.id">
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?._id" disabled
                            *ngIf="transactionData?._id">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="transactionData?._id">
                    <div class="input-block mb-3">
                        <label>Ref</label>
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?.transactionRef"
                            disabled>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-block mb-3">
                        <label>Date</label>
                        <input type="text" class="form-control" placeholder=""
                            [value]="transactionData?.createdAt | date : 'dd/MM/yyyy HH:mm:ss'" disabled>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="transactionData?.id">
                    <div class="input-block mb-3">
                        <label>Flutterwave ref</label>
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?.flw_ref"
                            disabled>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="transactionData?.id">
                    <div class="input-block mb-3">
                        <label>Ip</label>
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?.ip" disabled>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="transactionData?.id">
                    <div class="input-block mb-3">
                        <label>Type</label>
                        <input type="text" class="form-control" placeholder="" [value]="transactionData?.payment_type"
                            disabled>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="input-block mb-3">
                        <label>{{ "payment.narration" | translate }}</label>
                        <input type="text" class="form-control" placeholder=""
                            [value]="transactionData?.raisonForTransfer" disabled
                            *ngIf="transactionData?._id && transactionData?.transactionType === 'transfer'">
                        <input type="text" class="form-control" placeholder=""
                            [value]="transactionData?.raisonForTransfer" disabled *ngIf="transactionData?.id">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.id">
                    <div class="input-block mb-3">
                        <label>System Message</label>
                        <textarea type="text" class="form-control" placeholder=""
                            [value]="transactionData?.processor_response" disabled></textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.receiverEmail">
                    <div class="option-space-op">
                        <h6 *ngIf="transactionData?.receiverEmail">
                            <i class="fas fa-user"></i> {{ "payment.sender" | translate }}
                        </h6>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "subscriptions.name" | translate }}</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.senderName" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "auth.country" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.senderCountry" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "terms.phone" | translate }} (Whatsapp)</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.senderContact" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "terms.email" | translate }}</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.senderEmail" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.receiverEmail">
                    <div class="option-space-op">
                        <h6 *ngIf="transactionData?.receiverEmail">
                            <i class="fas fa-user"></i> {{ "payment.receiver" | translate }}
                        </h6>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "payment.receiverName" | translate }}</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.receiverName" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "payment.receiverCountry" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.receiverCountry" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "payment.receiverContact" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="'+' + transactionData?.receiverCountryCode + transactionData?.receiverContact"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "payment.receiverEmail" | translate }}</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.receiverEmail" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 *ngIf="transactionData?.customer && currentUser?.isAdmin">{{ "payment.card" | translate }}</h6>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.customer && currentUser?.isAdmin">
                    <div class="option-space">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Id</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.id" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.name" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.name" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.email" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.email" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Date</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.phone "}} (Whatsapp)</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.phone_number" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.creationDate" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 *ngIf="transactionData?.customer && currentUser?.isAdmin">{{ "payment.card" | translate }}</h6>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.customer && currentUser?.isAdmin">
                    <div class="option-space">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Id</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.id" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.name" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.name" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.email" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.email" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Date</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.phone "}} (Whatsapp)</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.phone_number" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.creationDate" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 *ngIf="transactionData?.customer && currentUser?.isAdmin">Customer</h6>
                <div class="col-sm-12 col-md-12" *ngIf="transactionData?.customer && currentUser?.isAdmin">
                    <div class="option-space">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Id</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.id" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.name" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.name" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.email" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.email" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>Date</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.phone "}} (Whatsapp)</label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.phone_number" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-block mb-3">
                                    <label>{{ "users.creationDate" | translate }} </label>
                                    <input type="text" class="form-control" placeholder=""
                                        [value]="transactionData?.customer.created_at" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="modal-body">
        <div class="form-header modal-header-title text-start mb-0"
            *ngIf="currentUser?.isAdmin && transactionData?._id">
            <span
                *ngIf="transactionData?.status === 'transaction_payout_error'">

                <button class="btn btn-rounded btn-outline-success me-1" href="javascript:void(0);"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" matTooltip="accept Payment"
                    (click)="retryPayment(transactionData?._id)"><span>
                        {{ "action.retry" | translate }}</span>
                </button>
                <button class="btn btn-rounded btn-outline-danger me-1" href="javascript:void(0);"
                    style="margin-left: 20px;" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    matTooltip="Reject Payment" (click)="rejectPayment(transactionData)"><span>
                        {{ "payment.reject" | translate }}
                    </span>
                </button>
            </span>
            <span
                *ngIf="transactionData?.transactionType === 'transfer' && transactionData?.status === 'transaction_payin_success'
                || transactionData?.transactionType === 'withdrawal' && transactionData?.status === 'transaction_payin_success'">
                <button class="btn btn-rounded btn-outline-success me-1" href="javascript:void(0);"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" matTooltip="accept Payment"
                    (click)="acceptPayment(transactionData?._id)"><span>
                        {{ "payment.accept" | translate }}</span>
                </button>
                <button class="btn btn-rounded btn-outline-danger me-1" href="javascript:void(0);"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" matTooltip="Reject Payment"
                    (click)="rejectPayment(transactionData)"><span>
                        {{ "payment.reject" | translate }}
                    </span>
                </button>
            </span>
        </div>
        <div class="form-header modal-header-title text-start mb-0" *ngIf="currentUser?.isAdmin && processing">
            <span role="status" class="spinner-border spinner-border-sm me-2"></span>
        </div>
    </div>

    <button class="btn btn-rounded btn-outline-secondary me-1" href="javascript:void(0);" style="margin-left: 20px;"
        data-bs-toggle="tooltip" data-bs-placement="bottom" matTooltip="Close view"
        (click)="ngOnDestroy(); closeModalClick()" *ngIf="!processing"><span>
            {{ "action.close" | translate }}
        </span>
    </button>
    <br>
    <div class="modal-body" *ngIf="currentUser?.isAdmin">
        {{ "rawData" | translate }}:
        <div class="col-sm-12 col-md-12">
            <div class="option-space">
                <app-json-viewer [data]="transactionData" *ngIf="transactionData"></app-json-viewer>

            </div>
        </div>
    </div>
</div>