<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Invoice Templates</h5>
  </div>
</div>
<!-- /Page Header -->
<div class="card mb-0">
  <div class="card-body pb-0">
    <div class="invoice-card-title">
      <h6>General Invoice</h6>
    </div>
    <div class="row">
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.invoiceonea"
              ><img
                class="img-fluid"
                src="assets/img/invoice-one.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.invoiceonea">General Invoice 1</a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.invoicetwo"
              ><img
                class="img-fluid"
                src="assets/img/invoice-two.jpg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.invoicetwo"> General Invoice 2 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.invoicethree"
              ><img
                class="img-fluid"
                src="assets/img/invoice - three.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.invoicethree"> General Invoice 3 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.invoicefoura"
              ><img
                class="img-fluid"
                src="assets/img/invoice-four.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.invoicefoura"> General Invoice 4 </a>
          </div>
        </div>
      </div>
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.invoicefive"
              ><img
                class="img-fluid"
                src="assets/img/invoice - five.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.invoicefive"> General Invoice 5 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- /Invoice List -->
    </div>
    <div class="row">
      <div class="invoice-card-title">
        <h6>Receipt Invoice</h6>
      </div>
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.cashreceipt1"
              ><img
                class="img-fluid"
                src="assets/img/cash-receipt-1.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.cashreceipt1"> Cash Receipt 1 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.cashreceipt2"
              ><img
                class="img-fluid"
                src="assets/img/cash-receipt-2.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.cashreceipt2"> Cash Receipt 2 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.cashreceipt3"
              ><img
                class="img-fluid"
                src="assets/img/cash-receipt-3.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.cashreceipt3"> Cash Receipt 3 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
      <!-- Invoice List -->
      <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
        <div
          class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
        >
          <div class="blog-image">
            <a [routerLink]="routes.cashreceipt4"
              ><img
                class="img-fluid"
                src="assets/img/cash-receipt-4.svg"
                alt="Post Image"
              />
            </a>
          </div>
          <div class="invoice-content-title">
            <a [routerLink]="routes.cashreceipt4"> Cash Receipt 4 </a>
          </div>
        </div>
      </div>
      <!-- /Invoice List -->
    </div>
  </div>
</div>
