<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Payments</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a
            (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0"
            matTooltip="Filter"
            href="javascript:void(0);"
            class="btn btn-filters w-auto popup-toggle"
            ><span class="me-2"
            ><img src="assets/img/icons/filter-icon.svg" alt="filter" /></span
            >Filter
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-scroll">
            <table
              matSort
              (matSortChange)="sortData($event)"
              class="table table-stripped table-hover datatable"
              >
              <thead class="thead-light">
                <tr>
                  <th mat-sort-header="sNo">#</th>
                  <th mat-sort-header="customer">Customer</th>
                  <th mat-sort-header="paymentid">Payment ID</th>
                  <th mat-sort-header="amount">Amount</th>
                  <th mat-sort-header="date">Date</th>
                  <th mat-sort-header="paymentmethod">Payment Method</th>
                  <th mat-sort-header="status">Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (data of payments; track data; let i = $index) {
                  <tr>
                    <td>{{ data.id }}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          [routerLink]="routes.profile"
                          class="avatar avatar-sm me-2"
                          ><img
                          class="avatar-img rounded-circle"
                          [src]="data.img"
                          alt="User Image"
                        /></a>
                        <a [routerLink]="routes.profile"
                          >{{ data.name }}<span>{{ data.email }}</span></a
                          >
                        </h2>
                      </td>
                      <td>{{ data.paymentId }}</td>
                      <td>{{ data.amount }}</td>
                      <td>{{ data.date }}</td>
                      <td>{{ data.paymentMethod }}</td>
                      <td>
                        <span
                          class="badge"
                      [ngClass]="{
                        '  bg-success-light text-success-light':
                          data.status === 'Success',
                        ' bg-warning-light text-warning-light':
                          data.status === 'Processing',
                        'bg-danger-light': data.status === 'Failed'
                      }"
                          >{{ data.status }}</span
                          >
                        </td>
                        <td class="d-flex align-items-center">
                          <a
                            class="btn-action-icon me-2"
                            href="javascript:void(0);"
                            download
                            ><i class="feather icon-download"></i
                          ></a>
                          <a
                            class="btn-action-icon me-2"
                            href="javascript:void(0);"
                            download
                            ><i class="feather icon-eye"></i
                          ></a>
                          <div class="dropdown dropdown-action">
                            <a
                              href="javascript:void(0);"
                              class="btn-action-icon"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                              ><i class="fas fa-ellipsis-v"></i
                            ></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <ul>
                                <li>
                                  <a class="dropdown-item" href="javascript:void(0);"
                                    ><i class="far fa-edit me-3"></i>Edit</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="javascript:void(0);"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                      ><i class="far fa-trash-alt me-3"></i>Delete</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <app-custom-pagination></app-custom-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Table -->

        <!-- Add Asset -->
        <div class="toggle-sidebar" [ngClass]="{ 'open-filter': toggleData === true }">
          <div class="sidebar-layout-filter">
            <div class="sidebar-header">
              <h5>Filter</h5>
              <a
                href="javascript:void(0);"
                (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0"
                class="sidebar-closes"
                ><i class="fa-regular fa-circle-xmark"></i
              ></a>
            </div>
            <div class="sidebar-body">
              <form action="#" autocomplete="off">
                <!-- Customer -->
                <div class="accordion" id="accordionMain1">
                  <div class="card-header-new" id="headingOne">
                    <h6 class="filter-title">
                      <a
                        href="javascript:void(0);"
                        class="w-100"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                        >
                        Customer
                        <span class="float-end"
                          ><i class="fa-solid fa-chevron-down"></i
                        ></span>
                      </a>
                    </h6>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample1"
                    >
                    <div class="card-body-chat">
                      <div class="row">
                        <div class="col-md-12">
                          <div id="checkBoxes1">
                            <div class="form-custom">
                              <input
                                type="text"
                                class="form-control"
                                id="member_search1"
                                placeholder="Search here"
                                />
                                <span
                                  ><img src="assets/img/icons/search.svg" alt="img"
                                /></span>
                              </div>
                              <div class="selectBox-cont">
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> John Smith
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Johnny
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Robert
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Sharonda
                                </label>
                                <!-- View All -->
                                <div class="view-content">
                                  <div class="viewall-One">
                                    @for (user of users1; track user) {
                                      <label
                                        class="custom_check w-100"
                            [ngClass]="{
                              closed: !isCollapsed1,
                              open: isCollapsed1
                            }"
                                        >
                                        <input
                                          type="checkbox"
                                          name="username"
                                          [(ngModel)]="user.checked"
                                          />
                                          <span class="checkmark"></span> {{ user.name }}
                                        </label>
                                      }
                                    </div>
                                    <div class="view-all">
                                      <a
                                        (click)="toggleCollapse1()"
                                        href="javascript:void(0);"
                                        class="viewall-button-One"
                                        ><span class="me-2">{{
                                        isCollapsed1 ? "Close All" : "View All"
                                        }}</span
                                        ><span
                                        ><i
                                        class="fa"
                                [ngClass]="
                                  !isCollapsed1
                                    ? 'fa-circle-chevron-down'
                                    : 'fa-circle-chevron-up'
                                "
                                      ></i></span
                                    ></a>
                                  </div>
                                </div>
                                <!-- /View All -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Customer -->

                  <!-- Product Code -->
                  <div class="accordion" id="accordionMain2">
                    <div class="card-header-new" id="headingTwo">
                      <h6 class="filter-title">
                        <a
                          href="javascript:void(0);"
                          class="w-100 collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo"
                          aria-expanded="true"
                          aria-controls="collapseTwo"
                          >
                          Payment ID
                          <span class="float-end"
                            ><i class="fa-solid fa-chevron-down"></i
                          ></span>
                        </a>
                      </h6>
                    </div>

                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample2"
                      >
                      <div class="card-body-chat">
                        <div id="checkBoxes3">
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="pay-id" />
                              <span class="checkmark"></span> 25689825
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="pay-id" />
                              <span class="checkmark"></span> 25689826
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="pay-id" />
                              <span class="checkmark"></span> 25689827
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="pay-id" />
                              <span class="checkmark"></span> 25689828
                            </label>
                            <!-- View All -->
                            <div class="view-content">
                              <div class="viewall-One">
                                @for (user of users2; track user) {
                                  <label
                                    class="custom_check w-100"
                        [ngClass]="{
                          closed: !isCollapsed2,
                          open: isCollapsed2
                        }"
                                    >
                                    <input
                                      type="checkbox"
                                      name="username"
                                      [(ngModel)]="user.checked"
                                      />
                                      <span class="checkmark"></span> {{ user.name }}
                                    </label>
                                  }
                                </div>
                                <div class="view-all">
                                  <a
                                    (click)="toggleCollapse2()"
                                    href="javascript:void(0);"
                                    class="viewall-button-One"
                                    ><span class="me-2">{{
                                    isCollapsed2 ? "Close All" : "View All"
                                    }}</span
                                    ><span
                                    ><i
                                    class="fa"
                            [ngClass]="
                              !isCollapsed2
                                ? 'fa-circle-chevron-down'
                                : 'fa-circle-chevron-up'
                            "
                                  ></i></span
                                ></a>
                              </div>
                            </div>
                            <!-- /View All -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Product Code -->

                  <!-- By Status -->
                  <div class="accordion accordion-last" id="accordionMain3">
                    <div class="card-header-new" id="headingThree">
                      <h6 class="filter-title">
                        <a
                          href="javascript:void(0);"
                          class="w-100 collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThree"
                          aria-expanded="true"
                          aria-controls="collapseThree"
                          >
                          Payment Method
                          <span class="float-end"
                            ><i class="fa-solid fa-chevron-down"></i
                          ></span>
                        </a>
                      </h6>
                    </div>

                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample3"
                      >
                      <div class="card-body-chat">
                        <div id="checkBoxes2">
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="payment-mode" />
                              <span class="checkmark"></span> Cash
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="payment-mode" />
                              <span class="checkmark"></span> Cheque
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /By Status -->

                  <div class="filter-buttons">
                    <button
                      type="submit"
                      class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary"
                      >
                      Apply
                    </button>
                    <button
                      type="submit"
                      class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary"
                      >
                      Reset
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--/Add Asset -->

          <!-- Delete Items Modal -->
          <div class="modal custom-modal fade" id="delete_modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="form-header">
                    <h3>Delete Payments</h3>
                    <p>Are you sure want to delete?</p>
                  </div>
                  <div class="modal-btn delete-action">
                    <div class="row">
                      <div class="col-6">
                        <button
                          type="reset"
                          data-bs-dismiss="modal"
                          class="w-100 btn btn-primary paid-continue-btn"
                          >
                          Delete
                        </button>
                      </div>
                      <div class="col-6">
                        <button
                          type="submit"
                          data-bs-dismiss="modal"
                          class="w-100 btn btn-primary paid-cancel-btn"
                          >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Delete Items Modal -->
