<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Customers</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" href="javascript:void(0);" class="btn btn-filters w-auto popup-toggle"
            matTooltip="Filter"><span class="me-2"><img src="assets/img/icons/filter-icon.svg"
          alt="filter" /></span>Filter
        </a>
      </li>
      <li>
        <div class="dropdown dropdown-action" matTooltip="Download">
          <a href="javascript:void(0);" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i
          class="feather icon-download"></i></span></a>
          <div class="dropdown-menu dropdown-menu-end">
            <ul class="d-block">
              <li>
                <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                class="far fa-file-pdf me-2"></i>PDF</a>
              </li>
              <li>
                <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                class="far fa-file-text me-2"></i>CVS</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a class="btn-filters" href="javascript:void(0);" matTooltip="Print"><span><i
        class="feather icon-printer"></i></span>
      </a>
    </li>
    <li>
      <a class="btn btn-import" href="javascript:void(0);"><span><i
      class="feather icon-check-square me-2"></i>Import
    Customer</span></a>
  </li>
  <li>
    <a class="btn btn-primary" [routerLink]="routes.addCustomer"><i class="fa fa-plus-circle me-2"
    aria-hidden="true"></i>Add
  Customer</a>
</li>
</ul>
</div>
</div>
</div>
<!-- /Page Header -->

<!-- Search Filter -->
<div id="filter_inputs" class="card filter-card">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Name</label>
          <input id="label" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Email</label>
          <input id="label" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Phone</label>
          <input id="label" type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search Filter -->

<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-scroll">
          <table matSort (matSortChange)="sortData($event)" class="table table-center table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th mat-sort-header="id">#</th>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="phone">Phone</th>
                <th mat-sort-header="balance">Balance</th>
                <th mat-sort-header="invoice">Total Invoice</th>
                <th mat-sort-header="created">Created</th>
                <th mat-sort-header="status">Status</th>
                <th mat-sort-header="action">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (customer of customers; track customer; let i = $index) {
                <tr>
                  <td>{{ customer.id }}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a [routerLink]="routes.profile" class="avatar avatar-md me-2"><img
                      class="avatar-img rounded-circle" [src]="customer.img" alt="User Image" /></a>
                      <a [routerLink]="routes.profile">{{ customer.name }} <span>{{ customer.email }}</span></a>
                    </h2>
                  </td>
                  <td>{{ customer.phone }}</td>
                  <td>{{ customer.balance }}</td>
                  <td>{{ customer.invoice }}</td>
                  <td>{{ customer.created }}</td>
                  <td>
                  <span [ngClass]="{
                      'bg-success-light': customer.status === 'Active',
                      'bg-danger-light': customer.status === 'Deactive'
                    }" class="badge badge-pill bg-success-light">{{ customer.status }}</span>
                  </td>
                  <td class="d-flex align-items-center">
                    <a [routerLink] = "routes.addInvoice" class="btn btn-greys me-2"><i class="fa fa-plus-circle me-1"></i>
                  Invoice</a>
                  <a [routerLink]="routes.customerLedger" class="btn btn-greys me-2"><i
                  class="fa-regular fa-eye me-1"></i> Ledger</a>
                  <div class="dropdown dropdown-action">
                    <a href="javascript:void(0);" class=" btn-action-icon " data-bs-toggle="dropdown"
                      aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul>
                          <li>
                            <a class="dropdown-item" [routerLink] = "routes.editCustomer"><i class="far fa-edit me-2"></i>Edit</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                              data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                            </li>
                            <li>
                              <a class="dropdown-item" [routerLink] = "routes.customerdetails"><i class="far fa-eye me-2"></i>View</a>
                            </li>
                            <li>
                              <a class="dropdown-item" [routerLink] = "routes.activecustomer"><i
                              class="fa-solid fa-power-off me-2"></i>Activate</a>
                            </li>
                            <li>
                              <a class="dropdown-item" [routerLink] = "routes.deactivecustomer"><i
                              class="far fa-bell-slash me-2"></i>Deactivate</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <app-custom-pagination></app-custom-pagination>

      </div>
    </div>
  </div>

  <!-- Add Asset -->
  <div class="toggle-sidebar ledge" [ngClass]="{'open-filter' : toggleData === true}">
    <div class="sidebar-layout-filter">
      <div class="sidebar-header ledge">
        <h5>PayIn</h5>
        <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i
        class="fa-regular fa-circle-xmark"></i></a>
      </div>
      <div class="sidebar-header submenu">
        <h6>Test Company</h6>
        <p class="text-success-light">Balance: $400</p>
      </div>
      <div class="sidebar-body">
        <form action="#" autocomplete="off">
          <!-- Customer -->
          <div class="accordion accordion-last" id="accordionMain1">
            <div class="card-header-new" id="headingOne">
              <h6 class="filter-title">
                <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Customers
                  <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                </a>
              </h6>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
              <div class="card-body-chat">
                <div class="row">
                  <div class="col-md-12">
                    <div id="checkBoxes1">
                      <div class="form-custom">
                        <input type="text" class="form-control" id="member_search1" placeholder="Search Customer">
                        <span><img src="assets/img/icons/search.svg" alt="img"></span>
                      </div>
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> John Smith
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Johnny Charles
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Robert George
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Sharonda Letha
                        </label>
                        <!-- View All -->
                        <div class="view-content">
                          <div class="viewall-One">
                            @for (user of users; track user) {
                              <label class="custom_check w-100"
                                [ngClass]="{ closed: !isCollapsed, open: isCollapsed }">
                                <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                <span class="checkmark"></span> {{ user.name }}
                              </label>
                            }
                          </div>
                          <div class="view-all">
                            <a (click)="toggleCollapse()" href="javascript:void(0);" class="viewall-button-One"><span
                            class="me-2">{{ isCollapsed ? "Close All" : "View All" }}</span><span><i
                          class="fa fa-circle-chevron-down"></i></span></a>
                        </div>
                      </div>
                      <!-- /View All -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Customer -->
        <div class="accordion" id="accordionMain2">
          <div class="col-lg-12 col-sm-12">
            <div class="input-block mb-3">
              <label for="Amount">Enter Amount</label>
              <input type="text" class="form-control" placeholder="Enter Amount">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Payment">Payment Date</label>
              <div class="cal-icon cal-icon-info">
                <input type="text" class="datetimepicker form-control" placeholder="Select Date" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
              </div>
            </div>
          </div>
          <div class="input-block mb-3 notes-form-group-info">
            <label for="Notes">Notes</label>
            <textarea class="form-control" placeholder="Enter your notes"></textarea>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add
            Payment</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/Add Asset -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Customer</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <button type="reset" data-bs-dismiss="modal" class="w-100 btn btn-primary paid-continue-btn">
                Delete
              </button>
            </div>
            <div class="col-6">
              <button type="submit" data-bs-dismiss="modal" class="w-100 btn btn-primary paid-cancel-btn">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->
<div class="modal custom-modal fade" id="add_ledger" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Ledger</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="page-header add">
        <div class="content-page-header add">
          <div class="add-header">
            <h6>Test Company</h6>
            <p>You Pay $400</p>
          </div>
          <div class="list-btn">
            <ul class="filter-list">
              <li class="">
                <div class="dropdown dropdown-action" matTooltip="Download">
                  <a href="javascript:void(0);" class="btn-filters" data-bs-toggle="dropdown"
                    aria-expanded="false"><span><i class="feather icon-download"></i></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <ul class="d-block">
                        <li>
                          <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                          class="far fa-file-pdf me-2"></i>PDF</a>
                        </li>
                        <li>
                          <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                          class="far fa-file-text me-2"></i>CVS</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="btn-filters" href="javascript:void(0);" matTooltip="Print"><span><i
                  class="feather icon-printer"></i></span> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="modal-body add">
          <div class="addnew-modal">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-table">
                  <div class="card-body">
                    <div class="table-responsive">
                      <div class="companies-table Ledger">
                        <table matSort (matSortChange)="sortData($event)"
                          class="table table-center table-hover datatable">
                          <thead class="thead-light">
                            <tr>
                              <th mat-sort-header="id">#</th>
                              <th mat-sort-header="date">Date</th>
                              <th mat-sort-header="mode">Mode</th>
                              <th mat-sort-header="amount">Amount</th>
                              <th mat-sort-header="closingBalance">Closing Balance</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <h2 class="table-avatar">
                                  <a> PAYOUT -2<span>Payment Out</span></a>
                                </h2>
                              </td>
                              <td>16 Aug 2023</td>
                              <td><span class="badge bg-success-light">Cash</span>
                            </td>
                            <td><span class="text-danger-light">- $100</span></td>
                            <td>$400</td>
                            <td class="d-flex align-items-center">
                              <a class=" btn-action-icon me-2" href="javascript:void(0);"><i
                              class="feather icon-edit"></i></a>
                              <a class=" btn-action-icon" href="javascript:void(0);"><i
                              class="feather icon-trash-2"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h2 class="table-avatar">
                                <a> PAYIN -2<span>Payment In</span></a>
                              </h2>
                            </td>
                            <td>14 Aug 2023</td>
                            <td><span class="badge bg-success-light">Cash</span>
                          </td>
                          <td><span class="text-success-light">+ $200</span></td>
                          <td>$500</td>
                          <td class="d-flex align-items-center">
                            <a class=" btn-action-icon me-2" href="javascript:void(0);"><i
                            class="feather icon-edit"></i></a>
                            <a class=" btn-action-icon" href="javascript:void(0);"><i
                            class="feather icon-trash-2"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a> PAYOUT -1<span>Payment Out</span></a>
                            </h2>
                          </td>
                          <td>13 Aug 2023</td>
                          <td><span class="badge bg-success-light">Cash</span>
                        </td>
                        <td><span class="text-danger-light">- $200</span></td>
                        <td>$300</td>
                        <td class="d-flex align-items-center">
                          <a class=" btn-action-icon me-2" href="javascript:void(0);"><i
                          class="feather icon-edit"></i></a>
                          <a class=" btn-action-icon" href="javascript:void(0);"><i
                          class="feather icon-trash-2"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h2 class="table-avatar">
                            <a>PAYIN -1<span>Payment In</span></a>
                          </h2>
                        </td>
                        <td>12 Aug 2023</td>
                        <td><span class="badge bg-success-light">Cash</span>
                      </td>
                      <td><span class="text-success-light">+$500</span></td>
                      <td>$500</td>
                      <td class="d-flex align-items-center">
                        <a class=" btn-action-icon me-2" href="javascript:void(0);"><i
                        class="feather icon-edit"></i></a>
                        <a class=" btn-action-icon" href="javascript:void(0);"><i
                        class="feather icon-trash-2"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Table -->

    <div class="modal-footer add">
      <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-success  me-2"><i
      class="fa-solid fa-arrow-down"></i>Credit</a>
      <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-danger"><i
      class="fa-solid fa-arrow-up"></i>Add New</a>
    </div>
  </div>
</div>
</div>
</div>
</div>