<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">

      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <img class="img-fluid logo-dark mb-2 logo-color" src="assets/img/ressorces/dk_logo.png" alt="Logo">
            <!-- <h1>Login</h1> -->
            <p class="account-subtitle">Connexion</p>
            <br>
            <form [formGroup]="form" (ngSubmit)="loginFormSubmit()">
              <div class="input-block mb-3">
                <label htmlFor="label" class="form-control-label">Email Address</label>
                <input id="label" class="form-control" type="text" formControlName="email" id="email" [ngClass]="{
                    'is-invalid': f['email'].touched && f['email'].invalid
                  }" />
                @if (f['email'].touched && f['email'].invalid) {
                <div class="invalid-feedback">
                  @if (f['email'].errors && f['email'].errors['required']) {
                  <div>
                    Email is required.
                  </div>
                  }
                  @if (f['email'].errors && f['email'].errors['email']) {
                  <div>
                    Please, enter valid email address.
                  </div>
                  }
                </div>
                }
              </div>
              <div class="input-block mb-3">
                <label htmlFor="label" class="form-control-label">Password</label>
                <div class="pass-group">
                  <input id="label" class="form-control" [type]="show_password ? 'password' : 'text'" type="password"
                    formControlName="password" id="password" [ngClass]="{
                      'is-invalid':
                        f['password'].touched && f['password'].invalid
                    }" />
                  <a href="javascript:void(0);" (click)="show_password = !show_password">
                    <span [ngClass]="
                      show_password === true
                        ? 'fas toggle-password fa-eye-slash'
                        : 'fas toggle-password fa-eye'
                    "></span>
                  </a>
                  @if (f['password'].touched && f['password'].invalid) {
                  <div class="invalid-feedback">
                    @if (
                    f['password'].errors && f['password'].errors['required']
                    ) {
                    <div>
                      Mot de passe requis.
                    </div>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="input-block mb-3">
                <div class="row">
                  <div class="col-12" style="margin-bottom: 20px;">
                    <div class="custom-control custom-checkbox">
                      <div class="col-12 text-start">
                        <a class="forgot-link" [routerLink]="routes.forgot_password">Mot depasse oublié ?</a>
                      </div>
                    </div>
                  </div>
                  <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-primary w-100" type="submit"
                    *ngIf="!isLoading">
                    Connexion
                  </button>
                  <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-light w-100" type="submit"
                    disabled *ngIf="isLoading">
                    <img src="assets/img/new/loader.gif" width="30px" alt="">
                  </button>
                </div>
                <!-- /Social Login -->
                <div class="text-center dont-have">
                  Don't have an account yet?
                  <a [routerLink]="routes.register">Register</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <p style="
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto !important">&copy; digikuntz Payments 2025</p>
  </div>
</div>
<!-- /Main Wrapper -->