<div class="row d-flex align-items-center justify-content-center" *ngIf="loading || loadingSettings">
    <div style="display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;">
        <img src="../../../assets/img/ressorces/dk_logo.png" alt="Yaba-In">
    </div>
    <div style="display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<div *ngIf="!loading && !loadingSettings">
    <header id="top">
        <div class="wrapper-2">
            <img class="logo" [src]="userData?.pictureUrl" [alt]="showName(userData)"
                style="max-width: 80px; margin: 5px 20px;">
            <!-- {{showName(userData)}} -->
            <!-- <span class="logo">{{showName(userData)}}</span> -->
            <nav>
                <ul id="navigation">
                    <li><a [routerLink]="'/portal/' + userId">{{'portal.nav.home' | translate}}</a></li>
                    <li *ngIf="userSettings?.portalServices"><a>{{'portal.nav.service' | translate}}</a></li>
                    <li *ngIf="userSettings?.portalSubscription"><a href="#portfolio">{{'portal.nav.plans' | translate}}</a>
                    </li>
                    <li *ngIf="userSettings?.portalFundraising"><a href="#services">{{'portal.nav.fundraising' |
                            translate}}</a></li>
                    <li class="nav-item dropdown language-show">
                        <a href="javascript:void(0)" class="user-link nav-link" data-bs-toggle="dropdown">
                            <span class="user-content">
                                <span class="user-name" style="margin-right: 10px;">
                                    <img [src]="selectedLanguage[0]?.flagImage" alt=""
                                        style="width: 15px; height: 12px;">
                                    {{ selectedLanguage[0]?.name | translate }} <i class="fa-solid fa-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="dropdown-menu menu-drop-user">
                            <div class="profilemenu">
                                <div class="subscription-menu">
                                    <ul>
                                        <li>
                                            <a class="dropdown-item" (click)="useLanguage('en')">
                                                <img [src]="en[0].flagImage" alt="" style="width: 15px;">
                                                {{ en[0].name | translate }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="useLanguage('fr')">
                                                <img [src]="fr[0].flagImage" alt="" style="width: 15px;">
                                                {{ fr[0].name | translate }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="!currentUser">
                        <a class="nav-cta" (click)="navigateTo('/auth/login')">{{ 'auth.login' | translate }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="banner"
        [style.background]="userData?.cover ? 'url(' + userData?.cover + ') no-repeat center' : 'url(' + cover + ') no-repeat center'">
        <a name="home"></a>
        <div class="wrapper">
            <h2 [style.color]="userSettings?.headTitlePortalColor ? userSettings?.headTitlePortalColor : '#fff'">
                {{userSettings?.headTitlePortal}}</h2>
            <p class="subtitle" [style.color]="userSettings?.headTextPortalColor ? userSettings?.headTextPortalColor : '#fff'">
                {{userSettings?.headTextPortal}}</p>
        </div>
    </section>

    <section class="text-section" *ngIf="userSettings?.portalDescription && userSettings?.portalDescription !== ''">
        <div class="wrapper">
            <div class="image align-left">
                <img src="assets/img/new/light.png" alt="light bulb" class="align-left">
            </div>
            <div class="text align-left">
                <h3 [style.color]="userSettings?.portalPrimaryColor || '#021d66'">{{ 'profile.aboutUs' | translate }}</h3>
                <!-- <p class="subtitle">See Your Ideas Brought to Life</p> -->
                <p style="font-size: 1.3rem">{{ userData?.description }}</p>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section class="features-section" [style.background]="userSettings?.portalPrimaryColor || '#021d66'" *ngIf="userSettings?.portalSupportInfo">
        <div class="wrapper-2">
            <ul class="feature-squares">
                <li>
                    <div class="image">
                        <img src="assets/img/new/icon-eye.png" alt="feature icon">
                    </div>
                    <div class="text">
                        <h5>{{ 'portal.attention.title' | translate }}</h5>
                        <p>{{ 'portal.attention.desc' | translate }}</p>
                    </div>
                </li>

                <li>
                    <div class="image">
                        <img src="assets/img/new/icon-clock.png" alt="feature icon">
                    </div>
                    <div class="text">
                        <h5>{{ 'portal.saveTime.title' | translate }}</h5>
                        <p>{{ 'portal.saveTime.desc' | translate }}</p>
                    </div>
                </li>

                <li>
                    <div class="image">
                        <img src="assets/img/new/icon-dashboard.png" alt="feature icon">
                    </div>
                    <div class="text">
                        <h5>{{ 'portal.control.title' | translate }}</h5>
                        <p>{{ 'portal.control.desc' | translate }}</p>
                    </div>
                </li>

                <li>
                    <div class="image">
                        <img src="assets/img/new/icon-headset.png" alt="feature icon">
                    </div>
                    <div class="text">
                        <h5>{{ 'portal.support.title' | translate }}</h5>
                        <p>{{ 'portal.support.desc' | translate }}</p>
                    </div>
                </li>

                <div class="clear"></div>
            </ul>
        </div>
    </section>


    <!-- 
<div class="card" style="position: fixed;" *ngIf="!loading">
    <img [src]="userData?.pictureUrl" alt="" style="max-width: 80px; margin: 5px 20px;">
</div><br><br><br><br> -->

    <section class="contact" id="contact" *ngIf="userSettings?.portalContact">
        <div class="contact-container">
            <div class="contact-header">
                <h2 class="section-title" [style.color]="userSettings?.portalPrimaryColor || '#021d66'">{{ 'portal.contactTitleSection' | translate }}</h2>
                <p class="section-subtitle">{{ 'portal.contactSubtitleSection' | translate }}</p>
            </div>

            <div class="contact-content">
                <div class="contact-form-wrapper" [style.background]="userSettings?.portalPrimaryColor || '#021d66'">
                    <form id="contactForm">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="firstName">{{ 'portal.firstName.label' | translate }}</label>
                                <input type="text" id="firstName" name="firstName"
                                    [placeholder]="'portal.firstName.placeholder' | translate" required>
                            </div>

                            <div class="form-group">
                                <label for="lastName">{{ 'portal.lastName.label' | translate }}</label>
                                <input type="text" id="lastName" name="lastName"
                                    [placeholder]="'portal.lastName.placeholder' | translate" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">{{ 'portal.email.label' | translate }}</label>
                            <input type="email" id="email" name="email"
                                [placeholder]="'portal.email.placeholder' | translate" required>
                        </div>

                        <div class="form-group">
                            <label for="subject">{{ 'portal.subject.label' | translate }}</label>
                            <input type="text" id="subject" name="subject"
                                [placeholder]="'portal.subject.placeholder' | translate" required>
                        </div>

                        <div class="form-group">
                            <label for="message">{{ 'portal.message.label' | translate }}</label>
                            <textarea id="message" name="message"
                                [placeholder]="'portal.message.placeholder' | translate" required></textarea>
                        </div>

                        <button type="submit" class="form-submit">
                            {{ 'portal.submit' | translate }}
                        </button>
                    </form>
                </div>

                <div class="contact-info">
                    <h2>{{ 'portal.info.title' | translate }}</h2>
                    <br>
                    <!-- <p class="section-subtitle">{{ 'portal.info.subtitle' | translate }}</p> -->
                    <br><br>

                    <div class="info-item">
                        <div class="info-icon" [style.background]="userSettings?.portalSecondaryColor || '#021d66'"><i class="feather icon-map-pin"></i></div>
                        <div class="info-content">
                            <h3>{{ 'portal.info.location.title' | translate }}</h3>
                            <p>{{ userData?.address }}<br></p>
                        </div>
                    </div>

                    <div class="info-item">
                        <div class="info-icon" [style.background]="userSettings?.portalSecondaryColor || '#021d66'"><i class="feather icon-phone"></i></div>
                        <div class="info-content">
                            <h3>{{ 'portal.info.call.title' | translate }}</h3>
                            <p>
                                {{ 'portal.info.call.prefix' | translate }}
                                <a href="tel:+66021234567">+{{ userData?.countryId.code }} {{ userData?.phone }}</a><br>
                            </p>
                        </div>
                    </div>

                    <div class="info-item">
                        <div class="info-icon" [style.background]="userSettings?.portalSecondaryColor || '#021d66'"><i class="feather icon-mail"></i></div>
                        <div class="info-content">
                            <h3>{{ 'portal.info.email.title' | translate }}</h3>
                            <p>
                                {{ 'portal.info.email.prefix' | translate }}
                                <a [href]="'mailto:' + userData?.email">{{ userData?.email }}</a><br>
                            </p>
                        </div>
                    </div>

                    <div class="info-item">
                        <a target="_blank" [href]="userData?.website" class="btn btn-light btn-sm me-1 social"
                            *ngIf="userData && userData?.website">
                            <img src="assets/img/ressorces/web.webp" [attr.alt]="'portal.social.website' | translate"
                                style="width: 25px">
                        </a>

                        <a target="_blank" [href]="userData?.linkedIn" class="btn btn-light btn-sm me-1 social"
                            *ngIf="userData && userData?.linkedIn">
                            <img src="assets/img/ressorces/linkedIn.png"
                                [attr.alt]="'portal.social.linkedin' | translate" style="width: 25px">
                        </a>

                        <a target="_blank" [href]="userData?.facebook" class="btn btn-light btn-sm me-1 social"
                            *ngIf="userData && userData?.facebook">
                            <img src="assets/img/ressorces/facebook.png"
                                [attr.alt]="'portal.social.facebook' | translate" style="width: 20px">
                        </a>

                        <a target="_blank" [href]="userData?.instagram" class="btn btn-light btn-sm me-1 social"
                            *ngIf="userData && userData?.instagram">
                            <img src="assets/img/ressorces/instagram.png"
                                [attr.alt]="'portal.social.instagram' | translate" style="width: 25px">
                        </a>

                        <a target="_blank" [href]="userData?.twitter" class="btn btn-light btn-sm me-1 social"
                            *ngIf="userData && userData?.twitter">
                            <img src="assets/img/ressorces/x.webp" [attr.alt]="'portal.social.twitter' | translate"
                                style="width: 25px">
                        </a>

                        <a target="_blank" [href]="whatsappUrl(userData?.whatsapp)"
                            class="btn btn-light btn-sm me-1 social" *ngIf="userData && userData?.whatsapp">
                            <img src="assets/img/ressorces/whatsapp.webp"
                                [attr.alt]="'portal.social.whatsapp' | translate" style="width: 25px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer *ngIf="userSettings?.portalFooter" [style.background]="userSettings?.portalSecondaryColor ? userSettings?.portalSecondaryColor : '#F57C11'">
        <div class="wrapper-2">
            <img class="logo" [src]="userData?.pictureUrl" alt="" style="max-width: 80px; margin: 5px 20px;">

            <div class="footer-left">
                <p class="copyright">{{showName(userData)}}</p>
                <p class="footer-links"><a href="#">+{{userData?.countryId.code}} {{userData?.phone}}</a> I<a href="#">
                        {{userData?.email}} </a></p>
            </div>
            <div class="footer-right">
                <!-- <a href="#" class="social facebook">Facebook</a>
                <a href="#" class="social twitter">Facebook</a>
                <a href="#" class="social google">Facebook</a> -->

                <a target="_blank" [href]="userData?.website" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.website">
                    <img src="assets/img/ressorces/web.webp" alt="" style="width: 25px">
                </a>
                <a target="_blank" [href]="userData?.linkedIn" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.linkedIn">
                    <img src="assets/img/ressorces/linkedIn.png" alt="" style="width: 25px">
                </a>
                <a target="_blank" [href]="userData?.facebook" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.facebook">
                    <img src="assets/img/ressorces/facebook.png" alt="" style="width: 20px">
                </a>
                <a target="_blank" [href]="userData?.instagram" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.instagram">
                    <img src="assets/img/ressorces/instagram.png" alt="" style="width: 25px">
                </a>
                <a target="_blank" [href]="userData?.twitter" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.twitter">
                    <img src="assets/img/ressorces/x.webp" alt="" style="width: 25px">
                </a>
                <a target="_blank" [href]="whatsappUrl(userData?.whatsapp)" class="btn btn-light btn-sm me-1 social"
                    *ngIf="userData && userData?.whatsapp">
                    <img src="assets/img/ressorces/whatsapp.webp" alt="" style="width: 25px">
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <div class="footer-class">Powered by digiKuntz Payments</div>
    <app-footer></app-footer>
</div>