<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header ">
    <h5>Categories</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a href="javascript:void(0);" matTooltip="Filter" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="btn btn-filters w-auto popup-toggle"><span class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter </a>
        </li>
        <li>
          <a class="btn-filters" matTooltip="Settings" href="javascript:void(0);"><span><i class="feather icon-settings"></i></span> </a>
        </li>
        <li>
          <a class="btn btn-primary"   data-bs-toggle="modal" data-bs-target="#blog-categories"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Categories</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Search Filter -->
<div id="filter_inputs" class="card filter-card">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label htmlFor="label">Name</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label  htmlFor="label">Email</label>
          <input  id="label"  type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label  htmlFor="label">Phone</label>
          <input  id="label"  type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search Filter -->

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class=" card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table matSort
            (matSortChange)="sortData($event)"
            class="table table-stripped table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th  mat-sort-header="sNo">#</th>
                <th  mat-sort-header="category">Category Name</th>
                <th  mat-sort-header="date">Date</th>
                <th  mat-sort-header="added">Added By</th>
                <th  mat-sort-header="status">Status</th>
                <th  mat-sort-header="action">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of tableData; track item; let i = $index) {
                <tr>
                  <td>{{item.sNo}}</td>
                  <td>
                    <h2>
                      <img class="avatar-img rounded me-2" width="30" height="30" [src]="item.img" alt="User Image">
                    </h2>{{item.category}}
                  </td>
                  <td>{{item.date}}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a [routerLink]="routes.profile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="item.img2" alt="User Image"></a>
                      <a [routerLink]="routes.profile">{{item.added}}</a>
                    </h2>
                  </td>
                  <td>
                    <div class="status-toggle">
                      <input id={{item.value}} class="check" type="checkbox" checked="">
                      <label for="{{item.value}}" class="checktoggle checkbox-bg">checkbox</label>
                    </div>
                  </td>
                  <td class="d-flex align-items-center">
                    <a class=" btn-action-icon me-2" href="javascript:void(0);" download=""><i class="feather icon-edit"></i></a>
                    <a class=" btn-action-icon" href="javascript:void(0);" download=""><i class="feather icon-trash-2"></i></a>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
      </div>
    </div>
  </div>
</div>
<!-- /Table -->
<!-- Add Asset -->
<div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Customer
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                      <span><img src="assets/img/icons/search.svg" alt="img"></span>
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Brian Johnson
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Russell Copeland
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Greg Lynch
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> John Blair
                      </label>
                      <!-- View All -->
                      <div class="view-content">
                        <div class="viewall-One">
                          @for (user of users; track user) {
                            <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed1, open: isCollapsed1 }">
                              <input type="checkbox" name="username" [(ngModel)]="user.checked">
                              <span class="checkmark"></span> {{ user.name }}
                            </label>
                          }
                        </div>
                        <div class="view-all">
                          <a (click)="toggleCollapse1()" href="javascript:void(0);" class="viewall-button-One"><span
                          class="me-2">{{ isCollapsed1 ? "Close All" : "View All" }}</span><span><i
                        class="fa" [ngClass]="!isCollapsed1 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                      </div>
                    </div>
                    <!-- /View All -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Customer -->

      <!-- Select Date -->
      <div class="accordion" id="accordionMain2">
        <div class="card-header-new" id="headingTwo">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Select Date
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordionExample2">
          <div class="card-body-chat">
            <div class="input-block mb-3">
              <label for="From" class="form-control-label">From</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
            <div class="input-block mb-3">
              <label for="To" class="form-control-label">To</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Select Date -->

      <!-- By Status -->
      <div class="accordion" id="accordionMain3">
        <div class="card-header-new" id="headingThree">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              By Status
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordionExample3">
          <div class="card-body-chat">
            <div id="checkBoxes2">
              <div class="form-custom">
                <input type="text" class="form-control" id="member_search2" placeholder="Search here">
                <span><img src="assets/img/icons/search.svg" alt="img"></span>
              </div>
              <div class="selectBox-cont">
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> All Invoices
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span>  Paid
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span>  Overdue
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Draft
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Recurring
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Cancelled
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /By Status -->

      <!-- Category -->
      <div class="accordion accordion-last" id="accordionMain4">
        <div class="card-header-new" id="headingFour">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Category
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-bs-parent="#accordionExample4">
          <div class="card-body-chat">
            <div id="checkBoxes3">
              <div class="selectBox-cont">
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span> Advertising
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span>  Food
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span>  Repairs
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span> Software
                </label>
                <!-- View All -->
                <div class="view-content">
                  <div class="viewall-One">
                    @for (user of users2; track user) {
                      <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed2, open: isCollapsed2 }">
                        <input type="checkbox" name="username" [(ngModel)]="user.checked">
                        <span class="checkmark"></span> {{ user.name }}
                      </label>
                    }
                  </div>
                  <div class="view-all">
                    <a (click)="toggleCollapse2()" href="javascript:void(0);" class="viewall-button-One"><span
                    class="me-2">{{ isCollapsed2 ? "Close All" : "View All" }}</span><span><i
                  class="fa" [ngClass]="!isCollapsed2 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                </div>
              </div>
              <!-- /View All -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Category -->

    <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
      <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
    </button>
  </form>

</div>
</div>
</div>
<!--/Add Asset -->
<!-- modal -->
<div class="modal modal-lg custom-modal fade" id="blog-categories" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title  text-start mb-0">
          <h4 class="mb-0 ">Add Category</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="form-groups-item border-0 pb-0">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Category">Category Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control"  placeholder="Enter Category Name">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Slug">Slug<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter Slug">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Description">Description (Meta Tag)<span class="text-danger">*</span></label>
                <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Tags" name="services">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block">
                <label for="Keywords">Keywords (Meta Tag)<span class="text-danger">*</span></label>
                <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Tags" name="services">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block">
                <label for="Order">Order<span class="text-danger">*</span></label>
                <input type="text" class="form-control"  placeholder="Enter Order">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block status-grid">
                <label for="Status">Status</label>
                <div class="status-toggle">
                  <input id="rating_9" class="check" type="checkbox" checked>
                  <label for="rating_9" class="checktoggle checkbox-bg "></label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add Category</a>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal custom-modal fade bank-details" id="edit-blog-categories" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <div class="form-header text-start mb-0">
          <h4 class="mb-0 text-dark fw-bold">Edit Category</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="bank-inner-details">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Category">Category Name<span class="text-danger" >*</span></label>
                <input type="text" class="form-control" value="Expenses">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Slug">Slug<span class="text-danger">*</span></label>
                <input type="text" class="form-control" value="Offer">
                <small class="form-text text-muted"> (If you leave it empty, it will be generated automatically.)</small>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Description">Description (Meta Tag)<span class="text-danger">*</span></label>
                <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Tags" name="services" value="Expenses ">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Keywords">Keywords (Meta Tag)<span class="text-danger">*</span></label>
                <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Tags" name="services" value="Expenses ">
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="input-block mb-3">
                <label for="Order">Order<span class="text-danger">*</span></label>
                <input type="text" class="form-control" value="3">
              </div>
            </div>
            <div class="input-block mb-3">
              <label for="Status">Status</label>
              <div class="status-toggle">
                <input id="rating_10" class="check" type="checkbox" checked>
                <label for="rating_10" class="checktoggle checkbox-bg "></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer blog-categories-btn">
        <div class="bank-details-btn ">
          <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary me-2">Add Category</a>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade contentmodal" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div class="modal-header pb-0 border-bottom-0  justify-content-end">
        <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather icon-x-circle"></i></button>
      </div>
      <div class="modal-body">
        <div class="delete-wrap text-center">
          <div class="del-icon"><i class="feather icon-x-circle"></i></div>
          <h2>Sure you want to delete</h2>
          <div class="submit-section">
            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-success me-2">Yes</a>
            <a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->