<div class="content container-fluid">
    <div class="col-lg-12">

        <div class="profile-cover">
            <div class="profile-cover-wrap">
                <img class="profile-cover-img" src="{{cover}}" alt="">
            </div>
        </div>

        <div class="text-center mb-5">
            <form [formGroup]="uploadPictureForm" class="" style="text-align: center;"
                *ngIf="userData && uploadPictureForm">
                <div class="avatar avatar-xxl profile-cover-avatar">
                    <img class="avatar-img"
                        src="{{userData?.pictureUrl ? userData?.pictureUrl  : 'assets/img/new/user.png'}}" alt="">
                    <span class="avatar-edit" (click)="changePicture(true);fileUploader.click()" *ngIf="canEdit">
                        <i class="feather icon-camera avatar-uploader-icon shadow-soft"></i>
                    </span>
                    <input type="file" name="picture" id="picture" accept="image/*" class="form-control ml-4"
                        #fileUploader formControlName="pictureFile" (change)="showPreview($event)"
                        style="display: none;">
                </div>
            </form>
            <div class="div">
                <span class="badge m-1 rounded-pill badge-outline-success"
                    *ngIf="userData && !userData?.premium && userData?.verified && !userData?.warning">
                    <i class="feather icon-check-circle"></i> {{ "badge.verified" | translate }}</span>
                <span class="badge m-1 rounded-pill badge-outline-warning" *ngIf="userData && userData?.warning">
                    <i class="feather icon-alert-triangle"></i> {{ 'profile.warningAccount' | translate }}</span>
                <span class="badge m-1 badge-gradient-success"
                    *ngIf="userData && userData?.premium && !userData?.warning">
                    <i class="feather icon-zap"></i> Premium</span>
                <span class="badge m-1 badge-soft-warning badge-border"
                    *ngIf="userData && !userData?.verified && !userData?.warning">
                    <i class="feather icon-disc"></i> {{ "badge.notVerified" | translate }}</span>
                <span class="badge m-1 badge-soft-danger badge-border"
                    *ngIf="userData && !userData?.verified && userData?.isActive === false">
                    <i class="feather icon-user-x"></i> {{ "badge.inactive" | translate }}</span>
                <span class="badge m-1 badge-soft-dark badge-border" *ngIf="userData && userData?.inVerification">
                    <i class="feather icon-refresh-ccw"></i> {{ "badge.inVerification" | translate }}</span>
                <span class="badge m-1 badge-gradient-primary" *ngIf="userData && userData?.isAdmin">
                    <i class="feather icon-slack"></i> Admin</span>
                <div name="checkmark-done-outline" class="verified-badge"
                    *ngIf="userData && userData?.verified && !userData?.vip && !userData?.warning && !userData?.premium ">
                </div>
                <p *ngIf="userData && userData?.warning" class="warning-message">{{ 'profile.warningAccount' |
                    translate }}</p>
            </div>
            <br>
            <div *ngIf="isChangePicture">
                1 mb max
            </div>
            <div *ngIf="isChangePicture">
                <a class="btn btn-sm btn-secondary m-2" (click)="cancel()">{{ "action.cancel" |
                    translate }}</a>
                <a *ngIf="!uploadingPicture" class="btn btn-sm btn-success m-2" (click)="savePicture()">{{ "action.save"
                    |
                    translate }}</a>
                <a *ngIf="uploadingPicture" class="btn btn-sm btn-success" disabled>
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                </a>
            </div>
            <h2>
                {{ showName(userData) }}
                <!-- <i class="fas fa-certificate text-primary small" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i> -->
            </h2>
            <ul class="list-inline" *ngIf="userData">
                <li class="list-inline-item" *ngIf="userData?._id">
                    ID: <span style="margin-left: 5px;">{{userData?._id ?
                        userData?._id : ''}}</span>
                </li>
            </ul>

            <a target="_blank" [href]="userData?.website" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.website">
                <img src="assets/img/ressorces/web.webp" alt="" style="width: 25px; margin-right: 5px;">
            </a>
            <a target="_blank" [href]="userData?.linkedIn" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.linkedIn">
                <img src="assets/img/ressorces/linkedIn.png" alt="" style="width: 25px; margin-right: 5px;">
            </a>
            <a target="_blank" [href]="userData?.facebook" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.facebook">
                <img src="assets/img/ressorces/facebook.png" alt="" style="width: 20px; margin-right: 5px;">
            </a>
            <a target="_blank" [href]="userData?.instagram" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.instagram">
                <img src="assets/img/ressorces/instagram.png" alt="" style="width: 25px; margin-right: 5px;">
            </a>
            <a target="_blank" [href]="userData?.twitter" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.twitter">
                <img src="assets/img/ressorces/x.webp" alt="" style="width: 25px; margin-right: 5px;">
            </a>
            <a target="_blank" [href]="whatsappUrl(userData?.whatsapp)" class="btn btn-light btn-sm me-1"
                *ngIf="userData && userData?.whatsapp">
                <img src="assets/img/ressorces/whatsapp.webp" alt="" style="width: 25px; margin-right: 5px;">
            </a>

            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                *ngIf="!userData"></span>
        </div>
    </div>
</div>