
<div class="subscription-plane-head">
  <ul>
    <li>
      <a [routerLink]="'/admin-payout/payout'" [class]="page === 'payout' ? 'active' : ''" (click)="changePage('payout')">
        {{ "sideMenu.pendingPayout" | translate }} </a>
    </li>
    <li>
      <a [routerLink]="'/admin-payout/all-payout'" [class]="page !== 'payout' ? 'active' : ''" (click)="changePage('all-payout')">
        {{ "sideMenu.allPayout" | translate }} </a>
    </li>
  </ul>
</div>
<!-- Page Header -->
 <router-outlet></router-outlet>