<div class="main-title" *ngIf="!goToProceed">
  <div class="content-page-header page-tilte">
    <h2>{{ "dashboard.cashWithdrawal" | translate }}</h2>
    <div class="list-btn">
      <ul class="filter-list">
        <li (click)="refresh()">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Refresh" matTooltip="Refresh"><span><i
                class="feather icon-refresh-ccw"></i></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card-body" *ngIf="!currentUser">
    <div class="d-flex justify-content-center" style="margin-top: 10 vh">
      <div class="spinner-border spinner" role="status"></div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="!goToProceed && currentUser">
    <div class="card">
      <div class="card-body">
        <mat-stepper #stepperTwo linear class="non-clickable-steps">
          <mat-step>
            <ng-template matStepLabel>{{ "payment.receiverInfo" | translate }}</ng-template>
            <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
            <div class="card-header">
              <h4>{{ "payment.receiverInfo" | translate }}</h4>
              {{ "payment.receiverSubTitle" | translate }} <br />
            </div>
            <div class="card-body">
              <form action="#">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.personalDetails" | translate }}</h5><br>
                    <div class="input-block mb-3">
                      <label htmlFor="country">{{ 'auth.country' | translate }} *</label>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="input-group">
                            <span class="input-group-text"><img [src]="currentUser?.countryId.flagUrl" alt=""
                                class="flag" slot="start" style="width: 20px" /></span>
                            <input id="name" type="text" class="form-control"
                              value="{{ currentUser?.countryId.name | translate }}" name="name" disabled />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-block mb-3">
                          <label htmlFor="name">{{ "auth.firstName" | translate }} *</label>
                          <input id="name" type="text" class="form-control" [value]="getUserName(currentUser)"
                            name="name" disabled />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-block mb-3">
                        <label htmlFor="telephone">{{ 'auth.phone' | translate }} *</label>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <span class="input-group-text">+{{ currentUser?.countryId?.code }}</span>
                              <input id="telephone" type="telephone" class="form-control" [value]="currentUser?.phone"
                                name="receiverContact" disabled />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-block mb-3">
                        <label htmlFor="email">{{ 'auth.email' | translate }} *</label>
                        <input id="email" type="email" class="form-control" placeholder="exemple@test.com"
                          [value]="currentUser?.email" name="email" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.amountDetails" | translate }}</h5><br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-block mb-3">
                          <label htmlFor="amount">{{ 'payment.amount' | translate }} *</label>
                          <div class="input-group">
                            <input id="amount" id="amount" type="text" class="form-control" placeholder=""
                              [(ngModel)]="amountToBeReceived" name="amount" style="text-align: right"
                              (input)="formatAmount($event); convertCurrency()" />
                            <span class="input-group-text">{{ currentUser?.countryId?.currency }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p style="background: #fda430; color: black; padding: 10px; border-radius: 5px;">
                          {{ "payment.warningMessage" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end">
                  <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                    [disabled]="!canNext()">
                    {{ "payment.next" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="66"></mat-progress-bar>
            <form>
              <ng-template matStepLabel>{{ "payment.accountReception" | translate }}</ng-template>
              <div class="card-header">
                <h4>{{ "payment.accountDetailsReception" | translate }}</h4>
                {{ "payment.receiverSubTitle" | translate }} <br />
              </div>
              <div class="card-body">
                <form action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">{{ "payment.chooseReceptionMethod" | translate }}</h5><br>
                      <div class="step2">
                        <div class="payment-methods">
                          <div (click)="selectMethod('BANK')"
                            [ngClass]="selectedMethod === 'BANK' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <i class="fas fa-university"></i>
                            </div>
                            <div class="method-info">
                              <h3>{{ "payment.bank" | translate }}</h3>
                              <p>{{ "payment.bankDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('OM')"
                            *ngIf="currentUser.countryId.code === '237'"
                            [ngClass]="selectedMethod === 'OM' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <img src="assets/img/ressorces/om.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>Orange Money</h3>
                              <p>{{ "payment.omDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('MTN')"
                            *ngIf="currentUser.countryId.code === '237'"
                            [ngClass]="selectedMethod === 'MTN' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <img src="assets/img/ressorces/mtn_money.webp" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>MTN Mobile Money</h3>
                              <p>{{ "payment.mtnDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" style="opacity: 0.6;">
                            <div class="method-icon" style="color: #003087;">
                              <img src="assets/img/ressorces/paypal.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>PayPal</h3>
                              <p>{{ "payment.paypalDescription" | translate }}</p>
                              <span class="coming-soon">{{ "payment.comingSoon" | translate }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <h5 class="card-title">
                        <i class="fas fa-info-circle" style="color: #003087;"></i>
                        {{ "payment.accountDetails" | translate }}: {{ methodName }}
                      </h5>
                      <br>
                      <div class="row">
                        <div class="account-details"
                          style="background: #edf4f7 !important; padding: 25px; border-radius: 8px;">

                          <div class="col-md-12" *ngIf="selectedMethod === 'OM' || selectedMethod === 'MTN'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="receiverMobileAccountNumber">
                                  {{ 'payment.receiverMobileAccountNumber' | translate }} *</label>
                                <div class="input-group">
                                  <span class="input-group-text">+{{ currentUser?.countryId?.code }}</span>
                                  <input id="receiverMobileAccountNumber" type="telephone" class="form-control"
                                    placeholder="691229122" [(ngModel)]="receiverMobileAccountNumber"
                                    name="receiverMobileAccountNumber" (input)="canNext2()" />
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bankCode">BANK *</label>
                                <select id="label" class="form-select" (change)="onSelectBank($event)" id="country"
                                  *ngIf="!waitingBankList">
                                  <option *ngFor="let bank of bankList" [value]="bank.code">
                                    {{ bank.name | translate }}
                                  </option>
                                </select>
                                <span class="spinner-border spinner-border-sm me-2" role="status"
                                  *ngIf="waitingBankList" style="margin-left: 25vh"></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bankAccountNumber">{{ 'payment.accountNumber' | translate }} *</label>
                                <input id="bankAccountNumber" type="text" class="form-control" placeholder="10 Digits"
                                  [(ngModel)]="bankAccountNumber" name="bankAccountNumber"
                                  (input)="formatAccountNumber($event)" />
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <button mat-button matStepperPrevious>
                      <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                        title="feather icon-skip-back"></i>{{ "action.back" | translate }}
                    </button>
                    <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                      [disabled]="!canNext2()">
                      {{ "payment.next" | translate }}
                    </button>
                  </div>
                </form>
              </div>

            </form>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <ng-template matStepLabel>{{ "payment.confirmation" | translate }}</ng-template>
            <!-- <p>{{ "payment.receiverInformation" | translate }}</p> -->
            <h4>{{ "payment.confirmation" | translate }}</h4>
            {{ "payment.receiverSubTitleRecap" | translate }} <br />
            <div class="row">
              <div class="col-md-12">
                <div class="step3">
                  <div class="confirmation-container">
                    <div class="confirmation-content">

                      <div class="detail-card" style="border-left: 4px solid #fff !important; margin-bottom: 10px;">
                        <h3 style="margin-bottom: 10px;">{{ "payment.accountDetailsReception" | translate }}</h3>
                        <h3 *ngIf="selectedMethod === 'BANK'"><i class="fas fa-university"></i> {{ methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'OM'">
                          <img src="assets/img/ressorces/om.png" alt="" style="width: 50px; margin-right: 10px;"> {{
                          methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'MTN'">
                          <img src="assets/img/ressorces/mtn_money.webp" alt=""
                            style="width: 50px; margin-right: 10px;"> {{ methodName }}
                        </h3>

                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">{{ 'payment.accountNumber' | translate }}</span>
                          <span class="detail-value">{{ bankAccountNumber }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">Bank code</span>
                          <span class="detail-value">{{ bankCode }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod != 'BANK'">
                          <span class="detail-label">{{ 'payment.receiverMobileAccountNumber' | translate }}</span>
                          <span class="detail-value">+{{ currentUser.countryId.code }} {{ receiverMobileAccountNumber
                            }}</span>
                        </div>
                      </div>

                      <div class="amount-summary">
                        <div class="amount-label"></div>
                        <div class="amount-main"></div>
                        <div class="amount-secondary"> </div>
                      </div>

                      <div class="security-notice">
                        <img src="assets/img/ressorces/flutterwave.png" alt=""
                          style="max-width: 100px; border-radius: 5px; margin-right: 10px;">
                        <p>{{ "payment.secureMessage" | translate }}</p>
                      </div>
                      <div class="action-buttons">
                        <button class="btn btn-cancel" matStepperPrevious>
                          <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                            title="feather icon-skip-back"></i>
                          {{ "action.back" | translate }}
                        </button>
                        <button class="btn2 btn-confirm" (click)="stepperToProceed()">
                          <i class="fas fa-check"></i> {{ "payment.proceed" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="!goToProceed && currentUser">
    <div class="card">
      <div class="card-body sold">
        <!-- ========= Colonne de résumé ========= -->
        <aside class="card summary" aria-live="polite">
          <div class="inline" style="justify-content:space-between; margin-bottom:8px">
            <b>Solde disponible</b><br>
            <h3 *ngIf="!waittingBalance">{{ balance || 00 }} {{ currentUser.countryId.currency }}</h3>
            <h6 *ngIf="waittingBalance">
              <div class="spinner-border" role="status"></div></h6>
          </div>
          <div class="amount" id="sumBalance">—</div>
          <div class="row">
            <span class="col-md-6">Montant du retrait</span>
            <b class="col-md-6" style="text-align: right">{{ amountToBeReceived }} {{ currentUser?.countryId.currency
              }}</b>
          </div><br>
          <div class="row">
            <span class="col-md-5">Frais de retrait</span>
            <b class="col-md-7" style="text-align: right">0 {{
              currentUser.countryId.currency }}</b>
          </div>
          <div class="help" id="hint" style="margin-top:6px"></div>
        </aside>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="goToProceed && currentUser">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="wating-msg">
              <img src="assets/img/ressorces/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;">
              <!-- <img src="assets/img/new/loader.gif" width="30px" alt=""> -->
              <p style="margin-top: 50px;">
                {{ "payment.processing-message1" | translate }}<br>
                {{ "payment.processing-message2" | translate }}
              </p>
              <img src="assets/img/ressorces/flutterwave.png" alt="" style="max-width: 100px;;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <!-- Sidebar Hero -->
              <div class="hero-sidebar">
                <div class="hero-pattern"></div>
                <div class="hero-content">
                  <div class="hero-badge" style="color: #F57C11;">
                    <i class="fas fa-rocket"></i> {{ "payment.instantTransfer" | translate }}
                  </div>
                  <h1 class="hero-title">{{ "payment.hero-title" | translate }}</h1>
                  <p class="hero-subtitle">{{ "payment.hero-subTitle" | translate }}</p>

                  <ul class="features-list">
                    <li>
                      <i class="fas fa-bolt"></i>
                      <span>{{ "payment.hero-item1" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-lock"></i>
                      <span>{{ "payment.hero-item2" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-percentage"></i>
                      <span>{{ "payment.hero-item3" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-headset"></i>
                      <span>{{ "payment.hero-item4" | translate }}</span>
                    </li>
                  </ul>

                  <div class="security-badge">
                    <p>
                      <i class="fas fa-shield-alt"></i>
                      <span>{{ "payment.hero-secureMessage" | translate }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>