<div class="card">
  <div class="card-body">
    <div class="page-header">
      <div class="content-page-header">
        <h5>{{ 'systemSettings.title' | translate }}</h5>
      </div>
    </div>
    <!-- Settings Menu -->
    <div class="widget settings-menu mb-0">
      <ul>
        <!-- <li class="nav-item">
          <a
            [routerLink]="routes.profileSystemSettings"
            class="nav-link"
            [class.active]="url === routes.profileSystemSettings"
          >
            <i class="feather icon-user"></i> <span>Account Settings</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a
            routerLink="company-settings"
            class="nav-link"
            [class.active]="isActive('company-settings')"
          >
            <i class="feather icon-settings"></i> <span>{{ 'systemSettings.companySettings' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="invoice-settings"
            class="nav-link"
            [class.active]="isActive('invoice-settings')"
          >
            <i class="feather icon-file"></i> <span>{{ 'payment.invoiceSettings' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="payment-settings"
            class="nav-link"
            [class.active]="isActive('payment-settings')"
          >
            <i class="feather icon-credit-card"></i>
            <span>{{ 'payment.paymentMethods' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="email-settings"
            class="nav-link"
            [class.active]="isActive('email-settings')"
          >
            <i class="feather icon-mail"></i> <span>{{ 'systemSettings.emailSettings' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="whatsapp-settings"
            class="nav-link"
            [class.active]="isActive('whatsapp-settings')"
          >
            <i class="feather icon-message-circle"></i>
            <span>{{ 'systemSettings.whatsappSettings' | translate }}</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a
            routerLink="preferences"
            class="nav-link"
            [class.active]="isActive('preferences')"
          >
            <i class="feather icon-settings"></i>
            <span>Preference Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="two-factor"
            class="nav-link"
            [class.active]="isActive('two-factor')"
          >
            <i class="feather icon-aperture"></i> <span>Two Factor</span>
          </a>
        </li> -->
      </ul>
    </div>
    <!-- /Settings Menu -->
  </div>
</div>
