<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Products / Services</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a
            (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0"
            matTooltip="Filter"
            href="javascript:void(0);"
            class="btn btn-filters w-auto popup-toggle"
            >
            <span class="me-2"
              ><img src="assets/img/icons/filter-icon.svg" alt="filter" /></span
              >Filter
            </a>
          </li>
          <li class="">
            <div class="dropdown dropdown-action">
              <a
                href="javascript:void(0);"
                class="btn-filters"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                matTooltip="Download"
                ><span><i class="feather icon-download"></i></span
              ></a>
              <div class="dropdown-menu dropdown-menu-end">
                <ul class="d-block">
                  <li>
                    <a
                      class="d-flex align-items-center download-item"
                      href="javascript:void(0);"
                      download
                      ><i class="far fa-file-pdf me-2"></i>PDF</a
                      >
                    </li>
                    <li>
                      <a
                        class="d-flex align-items-center download-item"
                        href="javascript:void(0);"
                        download
                        ><i class="far fa-file-text me-2"></i>CVS</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a class="btn-filters" matTooltip="Print" href="javascript:void(0);"
                  ><span><i class="feather icon-printer"></i></span>
                </a>
              </li>
              <li>
                <a class="btn btn-primary" [routerLink]="routes.addproducts"
                  ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add
                  Product</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div id="filter_inputs" class="card filter-card">
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="input-block mb-3">
                  <label htmlFor="label">Name</label>
                  <input id="label" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="input-block mb-3">
                  <label htmlFor="label">Email</label>
                  <input id="label" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="input-block mb-3">
                  <label htmlFor="label">Phone</label>
                  <input id="label" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Search Filter -->

        <!-- All Invoice -->
        <div class="card invoices-tabs-card">
          <div class="invoices-main-tabs">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="invoices-tabs">
                  <ul>
                    <li>
                      <a [routerLink]="routes.productlist" class="active">Product</a>
                    </li>
                    <li><a [routerLink]="routes.category">Category</a></li>
                    <li><a [routerLink]="routes.units">Units</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /All Invoice -->

        <!-- Table -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card-table">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="table-scroll">
                    <table
                      matSort
                      (matSortChange)="sortData($event)"
                      class="table table-center table-hover datatable"
                      >
                      <thead class="thead-light">
                        <tr>
                          <th mat-sort-header="id">#</th>
                          <th mat-sort-header="item">Item</th>
                          <th mat-sort-header="code">Code</th>
                          <th mat-sort-header="category">Category</th>
                          <th mat-sort-header="units">Units</th>
                          <th mat-sort-header="quantity">Quantity</th>
                          <th mat-sort-header="sellingPrice">Selling Price</th>
                          <th mat-sort-header="purchasePrice">Purchase Price</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (data of productlist; track data; let i = $index) {
                          <tr>
                            <td>{{ data.id }}</td>
                            <td>
                              <a href="javascript:void(0);" class="product-list-item-img"
                                ><img [src]="data.img" alt="image" />
                                <span>{{ data.item }}</span></a
                                >
                              </td>
                              <td>{{ data.code }}</td>
                              <td>{{ data.category }}</td>
                              <td>{{ data.units }}</td>
                              <td>{{ data.quantity }}</td>
                              <td>{{ data.sellingPrice }}</td>
                              <td>{{ data.purchasePrice }}</td>
                              <td class="d-flex align-items-center">
                                <div class="dropdown dropdown-action">
                                  <a
                                    href="javascript:void(0);"
                                    class="btn-action-icon"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    ><i class="fas fa-ellipsis-v"></i
                                  ></a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                      <li>
                                        <a
                                          class="dropdown-item"
                                          [routerLink]="routes.editproducts"
                                          ><i class="far fa-edit me-2"></i>Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i class="far fa-trash-alt me-2"></i>Delete</a
                                            >
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </div>
                        <app-custom-pagination></app-custom-pagination>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Table -->

              <!-- Add Asset -->
              <div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
                <div class="sidebar-layout-filter">
                  <div class="sidebar-header">
                    <h5>Filter</h5>
                    <a href="javascript:void(0);" class="sidebar-closes" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0"><i class="fa-regular fa-circle-xmark"></i></a>
                  </div>
                  <div class="sidebar-body">
                    <form action="#" autocomplete="off">
                      <!-- Product -->
                      <div class="accordion" id="accordionMain1">
                        <div class="card-header-new" id="headingOne">
                          <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Product Name
                              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                          </h6>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
                          <div class="card-body-chat">
                            <div class="row">
                              <div class="col-md-12">
                                <div id="checkBoxes1">
                                  <div class="form-custom">
                                    <input type="text" class="form-control" id="member_search1" placeholder="Search Product">
                                    <span><img src="assets/img/icons/search.svg" alt="img"></span>
                                  </div>
                                  <div class="selectBox-cont">
                                    <label class="custom_check w-100">
                                      <input type="checkbox" name="username">
                                      <span class="checkmark"></span> Lenovo 3rd Generation
                                    </label>
                                    <label class="custom_check w-100">
                                      <input type="checkbox" name="username">
                                      <span class="checkmark"></span> Nike Jordan
                                    </label>
                                    <label class="custom_check w-100">
                                      <input type="checkbox" name="username">
                                      <span class="checkmark"></span> Apple Series 5 Watch
                                    </label>
                                    <label class="custom_check w-100">
                                      <input type="checkbox" name="username">
                                      <span class="checkmark"></span> Amazon Echo Dot
                                    </label>
                                    <!-- View All -->
                                    <div class="view-content">
                                      <div class="viewall-One">
                                        @for (user of users1; track user) {
                                          <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed1, open: isCollapsed1 }">
                                            <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                            <span class="checkmark"></span> {{ user.name }}
                                          </label>
                                        }
                                      </div>
                                      <div class="view-all">
                                        <a (click)="toggleCollapse1()" href="javascript:void(0);" class="viewall-button-One"><span
                                        class="me-2">{{ isCollapsed1 ? "Close All" : "View All" }}</span><span><i
                                      class="fa" [ngClass]="!isCollapsed1 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                                    </div>
                                  </div>
                                  <!-- /View All -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Product -->

                    <!-- Product Code -->
                    <div class="accordion" id="accordionMain2">
                      <div class="card-header-new" id="headingTwo">
                        <h6 class="filter-title">
                          <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Product Code
                            <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                          </a>
                        </h6>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordionExample2">
                        <div class="card-body-chat">
                          <div id="checkBoxes3">
                            <div class="selectBox-cont">
                              <div class="form-custom">
                                <input type="text" class="form-control" id="member_search2" placeholder="Search Invoice">
                                <span><img src="assets/img/icons/search.svg" alt="img"></span>
                              </div>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> P125389
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> P125390
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span>  P125391
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> P125392
                              </label>
                              <!-- View All -->
                              <div class="view-content">
                                <div class="viewall-One">
                                  @for (user of users2; track user) {
                                    <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed2, open: isCollapsed2 }">
                                      <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                      <span class="checkmark"></span> {{ user.name }}
                                    </label>
                                  }
                                </div>
                                <div class="view-all">
                                  <a (click)="toggleCollapse2()" href="javascript:void(0);" class="viewall-button-One"><span
                                  class="me-2">{{ isCollapsed2 ? "Close All" : "View All" }}</span><span><i
                                class="fa" [ngClass]="!isCollapsed2 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                              </div>
                            </div>
                            <!-- /View All -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Product Code -->

                  <!-- Unts -->
                  <div class="accordion" id="accordionMain3">
                    <div class="card-header-new" id="headingThree">
                      <h6 class="filter-title">
                        <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          Units
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a>
                      </h6>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordionExample3">
                      <div class="card-body-chat">
                        <div id="checkBoxes2">
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span> Inches
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span>  Pieces
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span> Hours
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span> Box
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span> Kilograms
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="bystatus">
                              <span class="checkmark"></span> Meter
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Units -->

                  <!-- Category -->
                  <div class="accordion accordion-last" id="accordionMain4">
                    <div class="card-header-new" id="headingFour">
                      <h6 class="filter-title">
                        <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                          Category
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a>
                      </h6>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-bs-parent="#accordionExample4">
                      <div class="card-body-chat">
                        <div id="checkBoxes4">
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="category">
                              <span class="checkmark"></span> Laptop
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="category">
                              <span class="checkmark"></span>  Shoes
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="category">
                              <span class="checkmark"></span> Accessories
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="category">
                              <span class="checkmark"></span> Electronics
                            </label>
                            <!-- View All -->
                            <div class="view-content">
                              <div class="viewall-One">
                                @for (user of users3; track user) {
                                  <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed3, open: isCollapsed3 }">
                                    <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                    <span class="checkmark"></span> {{ user.name }}
                                  </label>
                                }
                              </div>
                              <div class="view-all">
                                <a (click)="toggleCollapse3()" href="javascript:void(0);" class="viewall-button-One"><span
                                class="me-2">{{ isCollapsed3 ? "Close All" : "View All" }}</span><span><i
                              class="fa" [ngClass]="!isCollapsed3 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                            </div>
                          </div>
                          <!-- /View All -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Category -->

                <div class="filter-buttons">
                  <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    Apply
                  </button>
                  <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary">
                    Reset
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <!-- /Add Asset -->

        <!-- Delete Items Modal -->
        <div class="modal custom-modal fade" id="delete_modal" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-header">
                  <h3>Delete Products / Services</h3>
                  <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                  <div class="row">
                    <div class="col-6">
                      <button
                        type="reset"
                        data-bs-dismiss="modal"
                        class="w-100 btn btn-primary paid-continue-btn"
                        >
                        Delete
                      </button>
                    </div>
                    <div class="col-6">
                      <button
                        type="submit"
                        data-bs-dismiss="modal"
                        class="w-100 btn btn-primary paid-cancel-btn"
                        >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Delete Items Modal -->
