<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Contact Messages</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" matTooltip="Filter" href="javascript:void(0);" class="btn btn-filters w-auto popup-toggle"
            ><span class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-scroll">
            <table
              matSort
              (matSortChange)="sortData($event)"
              class="table table-stripped table-hover datatable"
              >
              <thead class="thead-light">
                <tr>
                  <th mat-sort-header="sNo">#</th>
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="email">Email</th>
                  <th mat-sort-header="mobileNumber">Mobile Number</th>
                  <th mat-sort-header="message">Message</th>
                  <th mat-sort-header="creadedOn">Created on</th>
                  <th mat-sort-header="action">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (message of tableData; track message; let i = $index) {
                  <tr>
                    <td>{{ message.sNo }}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          [routerLink]="routes.contactdetails"
                          class="avatar avatar-sm me-2"
                          ><img
                          class="avatar-img rounded-circle"
                          [src]="message.img" alt="img"
                        /></a>
                        <a [routerLink]="routes.profile">{{ message.name }}</a>
                      </h2>
                    </td>
                    <td>
                      <span>{{ message.email }}</span>
                    </td>
                    <td>{{ message.mobileNumber }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.createdOn }}</td>
                    <td class="d-flex align-items-center">
                      <a
                        class="btn-action-icon me-2"
                        href="javascript:void(0);"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_contact"
                        ><i class="feather icon-edit"></i
                      ></a>
                      <a
                        class="btn-action-icon"
                        href="javascript:void(0);"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_modal"
                        ><i class="feather icon-trash-2"></i
                      ></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

        </div>
        <app-custom-pagination></app-custom-pagination>
      </div>
    </div>
  </div>
</div>
<!-- /Table -->

<!-- Add Asset -->
<div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Customer
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                      <span><img src="assets/img/icons/search.svg" alt="img"></span>
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Brian Johnson
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Russell Copeland
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Greg Lynch
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> John Blair
                      </label>
                      <!-- View All -->
                      <div class="view-content">
                        <div class="viewall-One">
                          @for (user of users; track user) {
                            <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed1, open: isCollapsed1 }">
                              <input type="checkbox" name="username" [(ngModel)]="user.checked">
                              <span class="checkmark"></span> {{ user.name }}
                            </label>
                          }
                        </div>
                        <div class="view-all">
                          <a (click)="toggleCollapse1()" href="javascript:void(0);" class="viewall-button-One"><span
                          class="me-2">{{ isCollapsed1 ? "Close All" : "View All" }}</span><span><i
                        class="fa" [ngClass]="!isCollapsed1 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                      </div>
                    </div>
                    <!-- /View All -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Customer -->

      <!-- Select Date -->
      <div class="accordion" id="accordionMain2">
        <div class="card-header-new" id="headingTwo">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Select Date
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordionExample2">
          <div class="card-body-chat">
            <div class="input-block mb-3">
              <label for="From" class="form-control-label">From</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
            <div class="input-block mb-3">
              <label for="To" class="form-control-label">To</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Select Date -->

      <!-- By Status -->
      <div class="accordion" id="accordionMain3">
        <div class="card-header-new" id="headingThree">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              By Status
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordionExample3">
          <div class="card-body-chat">
            <div id="checkBoxes2">
              <div class="form-custom">
                <input type="text" class="form-control" id="member_search2" placeholder="Search here">
                <span><img src="assets/img/icons/search.svg" alt="img"></span>
              </div>
              <div class="selectBox-cont">
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> All Invoices
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span>  Paid
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span>  Overdue
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Draft
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Recurring
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="bystatus">
                  <span class="checkmark"></span> Cancelled
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /By Status -->

      <!-- Category -->
      <div class="accordion accordion-last" id="accordionMain4">
        <div class="card-header-new" id="headingFour">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Category
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"  data-bs-parent="#accordionExample4">
          <div class="card-body-chat">
            <div id="checkBoxes3">
              <div class="selectBox-cont">
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span> Advertising
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span>  Food
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span>  Repairs
                </label>
                <label class="custom_check w-100">
                  <input type="checkbox" name="category">
                  <span class="checkmark"></span> Software
                </label>
                <!-- View All -->
                <div class="view-content">
                  <div class="viewall-One">
                    @for (user of users2; track user) {
                      <label class="custom_check w-100" [ngClass]="{ closed: !isCollapsed2, open: isCollapsed2 }">
                        <input type="checkbox" name="username" [(ngModel)]="user.checked">
                        <span class="checkmark"></span> {{ user.name }}
                      </label>
                    }
                  </div>
                  <div class="view-all">
                    <a (click)="toggleCollapse2()" href="javascript:void(0);" class="viewall-button-One"><span
                    class="me-2">{{ isCollapsed2 ? "Close All" : "View All" }}</span><span><i
                  class="fa" [ngClass]="!isCollapsed2 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                </div>
              </div>
              <!-- /View All -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Category -->

    <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
      <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
    </button>
  </form>

</div>
</div>
</div>
<!--/Add Asset -->

<!-- Edit Vendor Modal -->
<div class="modal custom-modal fade" id="edit_contact" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Edit Contact Messages</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Name">Name</label>
              <input type="text" class="form-control" value="John Smith" placeholder="Enter Name">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Email">Email</label>
              <input type="text" class="form-control" value="john@example.com" placeholder="Email">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Mobile">Mobile</label>
              <input type="text" class="form-control" value="989-438-3131" placeholder="Enter Mobile Number">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="message">Message</label>
              <input type="text" class="form-control" value="Lorem ipsum dolor" placeholder="message">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-0">
              <label for="date">Date</label>
              <input type="text" class="form-control" value="15 Dec 2022, 04:35 PM" placeholder="message">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Update</a>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Vendor Modal -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Contact Messages</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <button
                type="reset"
                data-bs-dismiss="modal"
                class="w-100 btn btn-primary paid-continue-btn"
                >
                Delete
              </button>
            </div>
            <div class="col-6">
              <button
                type="submit"
                data-bs-dismiss="modal"
                class="w-100 btn btn-primary paid-cancel-btn"
                >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->
