.padding {
    padding: 10px !important;
}

.padding-status {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.qr-countainer {
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.qr-class {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px block black;
    border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.instructions {
    padding: 5px 10px;
    background-color: rgba(166, 166, 166, 0.171);
}

.locked-qr {
    max-width: 180px;
    align-items: center;
}

.locked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disconnected {
    background-color: #850404;
    color: #fff;
    padding: 3px 5px !important;
    border-radius: 3px;
}

.connected {
    background-color: #04850e;
    color: #fff;
    padding: 3px 5px !important;
    border-radius: 3px;
}