<!-- Page Wrapper -->
    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header ">
            <h5>Membership Plans</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_membership"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Membership</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->	

    <!-- Price Table -->
    <div class="price-table-main">
        <div class="plan-selected">
            <h4>Monthly</h4>
            <div class="status-toggle me-2 ms-2">
                <input id="rating_1" class="px-4 check" type="checkbox" checked>
                <label for="rating_1" class="px-4 checktoggle checkbox-bg">checkbox</label>
            </div>
            <h4>Annually</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="plan-header">
                            <span class="plan-widget-icon">
                                <img src="assets/img/icons/plan-price-01.svg"alt="image">
                            </span>
                            <div class="plan-title">
                                <h6>For individuals</h6>
                                <h4 class="plan-name">Basic</h4>
                            </div>
                        </div>
                        <div class="description-content">								
                            <p>Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. </p>
                        </div>
                        <div class="price-dollar">
                            <h1 class="d-flex align-items-center">$99<span class="ms-1">/monthly</span></h1>
                        </div>
                        <div class="plan-description">
                            <h6>What’s included</h6>
                            <ul>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    All analytics features
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Up to 250,000 tracked visits
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Normal support
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Up to 3 team members
                                </li>
                            </ul>
                        </div>
                        <div class="plan-button">
                            <a class="btn btn-primary d-flex align-items-center justify-content-center" href="javascript:void(0);">Get Started<span class="ms-2"><i class="feather icon-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card price-selected">
                    <div class="card-body plan-header-selected">
                        <div class="d-flex">
                            <div class="plan-header">
                                <span class="plan-widget-icon">
                                    <img src="assets/img/icons/plan-price-02.svg"alt="image">
                                </span>
                                <div class="plan-title">
                                    <h6 class="text-white">For Startups</h6>
                                    <h4 class="plan-name text-white">Pro</h4>
                                </div>
                            </div>																						
                            <span class="price-popular">Popular</span>
                        </div>
                        <div class="description-content">								
                            <p>Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. </p>
                        </div>	
                        <div class="price-dollar">
                            <h1 class="d-flex align-items-center text-white">$199<span class="text-white ms-1">/monthly</span></h1>
                        </div>	
                        <div class="plan-description">
                            <h6 class="text-white">What’s included</h6>
                            <ul>
                                <li>
                                    <span class="rounded-circle bg-white me-2"><i class="text-primary feather icon-check"></i></span>
                                    All analytics features
                                </li>
                                <li>
                                    <span class="rounded-circle bg-white me-2"><i class="text-primary feather icon-check"></i></span>
                                    Up to 1,000,000 tracked visits
                                </li>
                                <li>
                                    <span class="rounded-circle bg-white me-2"><i class="text-primary feather icon-check"></i></span>
                                    Premium support
                                </li>
                                <li>
                                    <span class="rounded-circle bg-white me-2"><i class="text-primary feather icon-check"></i></span>
                                    Up to 10 team members
                                </li>
                            </ul>
                        </div>
                        <div class="plan-button">
                            <a class="btn btn-white d-flex align-items-center justify-content-center" href="javascript:void(0);">Get Started<span class="ms-2"><i class="feather icon-arrow-right"></i></span></a>
                        </div>	
                    </div>
                </div>
            </div>	
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="plan-header">
                            <span class="plan-widget-icon">
                                <img src="assets/img/icons/plan-price-03.svg"alt="image">
                            </span>
                            <div class="plan-title">
                                <h6>For individuals</h6>
                                <h4 class="plan-name">Basic</h4>
                            </div>
                        </div>
                        <div class="description-content">								
                            <p>Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. </p>
                        </div>
                        <div class="price-dollar">
                            <h1 class="d-flex align-items-center">$399<span class="ms-1">/monthly</span></h1>
                        </div>
                        <div class="plan-description">
                            <h6>What’s included</h6>
                            <ul>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    All analytics features
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Up to 5,000,000 tracked visits
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Dedicated support
                                </li>
                                <li>
                                    <span class="rounded-circle me-2"><i class="feather icon-check"></i></span>
                                    Up to 50 team members
                                </li>
                            </ul>
                        </div>
                        <div class="plan-button">
                            <a class="btn btn-primary d-flex align-items-center justify-content-center" href="javascript:void(0);">Get Started<span class="ms-2"><i class="feather icon-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>				  
        </div>
    </div>
    <!-- /Price Table -->
    <!-- Add Membership -->
			<div class="modal custom-modal modal-lg fade" id="add_membership" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-md">
					<div class="modal-content">
						<div class="modal-header border-0 pb-0">
							<div class="form-header modal-header-title text-start mb-0">
								<h4 class="mb-0">Add Membership</h4>
							</div>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="card-body">
										<div class="form-group-add">
											<h5 class="form-title">Plan</h5>
											<div class="row">
												<div class="col-lg-4 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Plan">Plan Name</label>
														<input type="text" class="form-control" placeholder="Enter Plan Name">
													</div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Monthly">Monthly Price</label>
														<input type="number" class="form-control" placeholder="Enter Plan Price">
														<span class="me-2"><i class="feather icon-alert-circle"></i></span><span>Set 0 for free</span>
													</div>											
												</div>
												<div class="col-lg-4 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Yearly">Yearly Price</label>
														<input type="text" class="form-control" placeholder=" Enter Yearly Price">
														<span class="me-2"><i class="feather icon-alert-circle"></i></span><span>Set 0 for free</span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group-add mb-0">
											<h5 class="form-title">Plan Settings</h5>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Services">Services</label>
														<div class="align-center">
															<input type="number" class="form-control" placeholder="1-100">														
															<div class="status-toggle">
																<input id="rating_2" class="check" type="checkbox" checked="">
																<label for="rating_2" class="checktoggle checkbox-bg">checkbox</label>
															</div>
														</div>
														<span>
															<label class="custom_check">
																<input type="checkbox" name="invoice">
																<span class="checkmark"></span> 
																<span>Unlimited</span>
															</label>
														</span>
														
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Appointments">Appointments</label>
														<div class="align-center">
															<input type="number" class="form-control" placeholder="1-100">														
															<div class="status-toggle">
																<input id="rating_7" class="check" type="checkbox" checked="">
																<label for="rating_7" class="checktoggle checkbox-bg">checkbox</label>
															</div>
														</div>
														<span>
															<label class="custom_check">
																<input type="checkbox" name="invoice">
																<span class="checkmark"></span> 
																<span>Unlimited</span>
															</label>
														</span>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Staffs">Staffs</label>
														<div class="align-center">
															<input type="number" class="form-control" placeholder="1-100">														
															<div class="status-toggle">
																<input id="rating_3" class="check" type="checkbox" checked="">
																<label for="rating_3" class="checktoggle checkbox-bg">checkbox</label>
															</div>
														</div>
														<span>
															<label class="custom_check">
																<input type="checkbox" name="invoice">
																<span class="checkmark"></span> 
																<span>Unlimited</span>
															</label>
														</span>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Gallery">Gallery</label>
														<div class="align-center">
															<input type="number" class="form-control" placeholder="1-100">														
															<div class="status-toggle">
																<input id="rating_4" class="check" type="checkbox" checked="">
																<label for="rating_4" class="checktoggle checkbox-bg">checkbox</label>
															</div>
														</div>
														<span>
															<label class="custom_check">
																<input type="checkbox" name="invoice">
																<span class="checkmark"></span> 
																<span>Unlimited</span>
															</label>
														</span>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block mb-3">
														<label for="Additional">Additional Service</label>
														<div class="align-center">
															<input type="number" class="form-control" placeholder="1-100">														
															<div class="status-toggle">
																<input id="rating_5" class="check" type="checkbox" checked="">
																<label for="rating_5" class="checktoggle checkbox-bg">checkbox</label>
															</div>
														</div>
														<span>
															<label class="custom_check">
																<input type="checkbox" name="invoice">
																<span class="checkmark"></span> 
																<span>Unlimited</span>
															</label>
														</span>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="input-block booking-option">												
														<label for="Booking">Booking Option</label>														
														<div class="status-toggle">
															<input id="rating_6" class="check" type="checkbox" checked="">
															<label for="rating_6" class="checktoggle checkbox-bg">checkbox</label>
														</div>
													</div>
												</div>
											</div>
										</div>							
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
							<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add Plan</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /Add Membership -->

<!-- /Page Wrapper -->