<!-- Page Header -->
 

<div class="profile-cover">
  <div class="profile-cover-wrap">
    <img class="profile-cover-img" src="{{cover}}" alt="">
  </div>
</div>

<div class="text-center mb-5">
  <form class="" style="text-align: center;">
    <div class="avatar avatar-xxl profile-cover-avatar">
      <img class="avatar-img" src="{{userData?.pictureUrl ? userData?.pictureUrl  : 'assets/img/new/user.png'}}"
        alt="">
    </div>
  </form>
  <div class="div">
    <span class="badge m-1 rounded-pill badge-outline-success"
      *ngIf="userData && !userData?.premium && userData?.verified && !userData?.warning">
      <i class="feather icon-check-circle"></i> {{ "badge.verified" | translate }}</span>
    <span class="badge m-1 rounded-pill badge-outline-warning" *ngIf="userData && userData?.warning">
      <i class="feather icon-alert-triangle"></i> {{ 'profile.warningAccount' | translate }}</span>
    <span class="badge m-1 badge-gradient-success"
      *ngIf="userData && userData?.premium && !userData?.warning">
      <i class="feather icon-zap"></i> Premium</span>
    <span class="badge m-1 badge-soft-warning badge-border"
      *ngIf="userData && !userData?.verified && !userData?.warning">
      <i class="feather icon-disc"></i> {{ "badge.notVerified" | translate }}</span>
    <span class="badge m-1 badge-soft-danger badge-border"
      *ngIf="userData && !userData?.verified && userData?.isActive === false">
      <i class="feather icon-user-x"></i> {{ "badge.inactive" | translate }}</span>
    <span class="badge m-1 badge-soft-dark badge-border" *ngIf="userData && userData?.inVerification">
      <i class="feather icon-refresh-ccw"></i> {{ "badge.inVerification" | translate }}</span>
    <span class="badge m-1 badge-gradient-primary" *ngIf="userData && userData?.isAdmin">
      <i class="feather icon-slack"></i> Admin</span>
    <div name="checkmark-done-outline" class="verified-badge"
      *ngIf="userData && userData?.verified && !userData?.vip && !userData?.warning && !userData?.premium ">
    </div>
    <p *ngIf="userData && userData?.warning" class="warning-message">{{ 'profile.warningAccount' |
      translate }}</p>
  </div>
  <br>
  <h2>
    {{ showName(userData) }}
    <!-- <i class="fas fa-certificate text-primary small" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i> -->
  </h2>
  <ul class="list-inline" *ngIf="userData">
    <li class="list-inline-item" *ngIf="userData?._id">
      ID: <span style="margin-left: 5px;">{{userData?._id ?
        userData?._id : ''}}</span>
    </li>
  </ul>

  <a target="_blank" [href]="userData?.website" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.website">
    <img src="assets/img/ressorces/web.webp" alt="" style="width: 25px; margin-right: 5px;">
  </a>
  <a target="_blank" [href]="userData?.linkedIn" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.linkedIn">
    <img src="assets/img/ressorces/linkedIn.png" alt="" style="width: 25px; margin-right: 5px;">
  </a>
  <a target="_blank" [href]="userData?.facebook" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.facebook">
    <img src="assets/img/ressorces/facebook.png" alt="" style="width: 20px; margin-right: 5px;">
  </a>
  <a target="_blank" [href]="userData?.instagram" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.instagram">
    <img src="assets/img/ressorces/instagram.png" alt="" style="width: 25px; margin-right: 5px;">
  </a>
  <a target="_blank" [href]="userData?.twitter" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.twitter">
    <img src="assets/img/ressorces/x.webp" alt="" style="width: 25px; margin-right: 5px;">
  </a>
  <a target="_blank" [href]="whatsappUrl(userData?.whatsapp)" class="btn btn-light btn-sm me-1" *ngIf="userData && userData?.whatsapp">
    <img src="assets/img/ressorces/whatsapp.webp" alt="" style="width: 25px; margin-right: 5px;">
  </a>

  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" *ngIf="!userData"></span>
</div>

<div class="page-header">
  <div class="content-page-header page-tilte">
    <h5 style="color: black !important;">{{ "users.userDetails" | translate }}</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li *ngIf="userData?.isActive === true"
          style="background-color: #04850e; color: #fff; padding: 3px 5px; border-radius: 3px;">
          {{ "users.enabled" | translate }}
        </li>
        <li *ngIf="userData?.isActive != true"
          style="background-color: #850404; color: #fff; padding: 3px 5px; border-radius: 3px;">
          {{ "users.disabled" | translate }}
        </li>
        <li (click)="changeUserActiveStatus()" *ngIf="userData?.isActive != true">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
            matTooltip="Enable"><span><i class="feather icon-power" style="color: #04c714"></i></span></a>
        </li>
        <li (click)="changeUserActiveStatus()" *ngIf="userData?.isActive === true">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
            matTooltip="Disable"><span><i class="feather icon-power" style="color: #df0404"></i></span></a>
        </li>
        <li (click)="changeUserVerifiedStatus()">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
            matTooltip="Make as Verified"><span><i class="feather icon-check-circle"></i></span></a>
        </li>
        <li (click)="changeUserAdminStatus()">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
            matTooltip="Make as Admin"><span><i class="fa fa-universal-access"></i></span></a>
        </li>
        <li>
          <a class="btn-filters btn-hover" href="javascript:void(0);" matTooltip="Print"><span><i
                class="feather icon-printer"></i></span>
          </a>
        </li>
        <li (click)="refresh()">
          <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
            matTooltip="Refresh"><span><i class="feather icon-refresh-ccw"></i></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->
<div class="card customer-details-group">
  <div class="card-body">
    <div class="row align-items-center" *ngIf="!gettingUserData">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon ">
              <i class="feather icon-airplay"></i>
            </span>
            <div class="customer-details-cont">
              <h6>{{ "auth.accountType" | translate }}</h6>
              <p>{{ "users." + userData.accountType | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon ">
              <i class="feather icon-mail"></i>
            </span>
            <div class="customer-details-cont">
              <h6>{{ "auth.emailAddres" | translate }}</h6>
              <p>{{ userData.email }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon ">
              <i class="feather icon-phone"></i>
            </span>
            <div class="customer-details-cont">
              <h6>{{ "auth.phone" | translate }}</h6>
              <p>+{{ userData.countryId.code }} {{ userData.phone }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon ">
              <i class="feather icon-map-pin"></i>
            </span>
            <div class="customer-details-cont">
              <h6>{{ "users.address" | translate }} </h6>
              <p><img [src]="userData?.countryId.flagUrl" alt="" width="15px">
                {{ userData.countryId.name | translate }} <br>
                {{ userData.cityId.name }}, {{ userData.countryId.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon ">
              <i class="feather icon-globe"></i>
            </span>
            <div class="customer-details-cont">
              <h6>Website</h6>
              <p class="customer-mail">{{userData?.website}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="customer-details">
          <div class="d-flex align-items-center">
            <span class="customer-widget-icon " *ngIf="userData?.verified === true" matTooltip="Verified Badge">
              <i class="feather icon-check-circle" style="color: #047c0c;"></i>
            </span>
            <span class="customer-widget-icon " *ngIf="userData?.isAdmin === true" matTooltip="Admin Badge">
              <i class="fa fa-universal-access" style="color: #e89b00"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="gettingUserData" style="margin: 50px">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>
</div>

<!-- Search Filter -->
<div id="filter_inputs" class="card filter-card" *ngIf="!gettingUserData">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Name</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Email</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          <label htmlFor="label">Phone</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search Filter -->

<!-- Inovices card -->
<div class="row" style="display: none;">
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-info-light">
            <img src="assets/img/icons/receipt-item.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Total d'envoie</div>
            <div class="dash-counts">
              <p>18</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">02</span></p>
          <p class="inovice-trending text-success-light">02 <span class="ms-2"><i
                class="feather icon-trending-up"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-primary-light">
            <img src="assets/img/icons/transaction-minus.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Outstanding</div>
            <div class="dash-counts">
              <p>$325,215</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">03</span></p>
          <p class="inovice-trending text-success-light">04 <span class="ms-2"><i
                class="feather icon-trending-up"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-warning-light">
            <img src="assets/img/icons/archive-book.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Total Overdue</div>
            <div class="dash-counts">
              <p>$7825</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">01</span></p>
          <p class="inovice-trending text-danger-light">03 <span class="ms-2"><i
                class="feather icon-trending-down"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-primary-light">
            <img src="assets/img/icons/clipboard-close.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Cancelled</div>
            <div class="dash-counts">
              <p>100</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">04</span></p>
          <p class="inovice-trending text-danger-light">05 <span class="ms-2"><i
                class="feather icon-trending-down"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-green-light">
            <img src="assets/img/icons/message-edit.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Draft</div>
            <div class="dash-counts">
              <p>$125,586</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">06</span></p>
          <p class="inovice-trending text-danger-light">02 <span class="ms-2"><i
                class="feather icon-trending-down"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
    <div class="card inovices-card w-100">
      <div class="card-body">
        <div class="dash-widget-header">
          <span class="inovices-widget-icon bg-danger-light">
            <img src="assets/img/icons/3d-rotate.svg" alt="image">
          </span>
          <div class="dash-count">
            <div class="dash-title">Recurring</div>
            <div class="dash-counts">
              <p>$86,892</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">03</span></p>
          <p class="inovice-trending text-success-light">02 <span class="ms-2"><i
                class="feather icon-trending-up"></i></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Inovices card -->

<!-- Table -->
<div class="row" style="display: none;">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-scroll">
            <table matSort (matSortChange)="sortData($event)" class="table table-stripped table-hover datatable">
              <thead class="thead-light">
                <tr>
                  <th mat-sort-header="invoiceId">
                    <label class="custom_check invoice-id">
                      <input type="checkbox" name="invoice">
                      <span class="checkmark"></span> Invoice ID
                    </label>
                  </th>
                  <th mat-sort-header="category">Category</th>
                  <th mat-sort-header="createdOn">Created On</th>
                  <th mat-sort-header="tOtalAmount">Total Amount</th>
                  <th mat-sort-header="paidAmount">Paid Amount</th>
                  <th mat-sort-header="paymentMode">Payment Mode</th>
                  <th mat-sort-header="balanace">Balance</th>
                  <th mat-sort-header="dueDate">Due Date</th>
                  <th mat-sort-header="status">Status</th>
                  <th mat-sort-header="action" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (data of recurringinvoice; track data; let i = $index) {
                <tr>
                  <td>
                    <label class="custom_check ">
                      <input type="checkbox" name="invoice">
                      <span class="checkmark"></span>
                    </label>
                    <a [routerLink]="routes.viewInvoice" class="invoice-link">{{data.invoiceId}}</a>
                  </td>
                  <td>{{data.category}}</td>
                  <td>{{data.createdOn}}</td>
                  <td>{{data.totalAmount}}</td>
                  <td>{{data.paidAmount}}</td>
                  <td>{{data.paymentmode}}</td>
                  <td>{{data.balance}}</td>
                  <td>{{data.dueDate}}</td>
                  <td><span class="badge" [ngClass]="{'bg-success-light': data.status1 === 'Paid','bg-warning-light text-warning': data.status1 === 'Overdue',
                                        ' bg-danger-light text-danger': data.status1 ==='Cancelled',
                                        ' bg-primary-light': data.status1 ==='Partially Paid',
                                        'bg-light-gray text-secondary':data.status1 ==='Unpaid',
                                        'bg-light-gray text-primary' :data.status1 ==='Draft'}">
                      {{data.status1}}</span></td>
                  <td>
                    <div class="dropdown dropdown-action">
                      <a href="javascript:void(0);" class=" btn-action-icon " data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                        <ul>
                          <!-- <li>
                            <a class="dropdown-item" [routerLink]="routes.editCustomer"><i
                                class="feather icon-edit me-2"></i>Edit</a>
                          </li> -->
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                              data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="routes.customerdetails"><i
                                class="feather icon-eye me-2"></i>View</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="routes.customerdetails"><i
                                class="feather icon-send me-2"></i>Send</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="routes.customerdetails"><i
                                class="feather icon-download me-2"></i>Download</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="routes. addcreditnotes"><i
                                class="feather icon-file-text me-2"></i>Convert to Sales Return</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="routes.customerdetails"><i
                                class="feather icon-copy me-2"></i>Clone as Invoice</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
                }

              </tbody>
            </table>
          </div>
        </div>
        <app-custom-pagination></app-custom-pagination>
      </div>
    </div>
  </div>
</div>
<!-- /Table -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Customer Details</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Delete</a>
            </div>
            <div class="col-6">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->