<div>
    <span class="icon-frame d-flex align-items-rigth justify-content-rigth">
        <img src="assets/img/icons/price-01.svg" alt="img">
    </span>
    <br>
    <div class="package-header d-flex justify-content-between">
        <div class="d-flex justify-content-between w-100">
            <div class="">
                <h4>{{ subscription.planId.title }}</h4>
                <h6>{{ 'subscriptions.' + subscription.cycle | translate }}</h6>
            </div>
        </div>
    </div>
    <span class="package-enabled" *ngIf="subscription.status">{{ 'subscriptions.actived' | translate }}</span>
    <span class="package-disabled" *ngIf="!subscription.status">{{ 'subscriptions.inactive' | translate }}</span>
    <p>{{ subscription.planId.subTitle }} </p>
    <span style="font-weight: 700; font-size: 1.7rem;" *ngIf="subscription.planId.price > 0">{{ subscription.planId.price }}</span>
    {{ subscription.planId.currency }} - 
    <span style="font-weight: 400; font-size: 1.2rem; color: #2d2d2d">{{ 'subscriptions.' + subscription.cycle | translate }}</span>
    <h2 *ngIf="subscription.planId.price === 0">{{ "item.free" | translate }}</h2>
</div>