<div class="main-title page-tilte" *ngIf="!goToProceed">
  <h2>{{ "dashboard.sendMoney" | translate }}</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body" *ngIf="!goToProceed">
        <mat-stepper #stepperTwo linear class="non-clickable-steps">
          <mat-step>
            <ng-template matStepLabel>{{ "payment.receiverInfo" | translate }}</ng-template>
            <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
            <div class="card-header">
              <h4>{{ "payment.receiverInfo" | translate }}</h4>
              {{ "payment.receiverSubTitle" | translate }} <br />
            </div>
            <div class="card-body">
              <form action="#">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.personalDetails" | translate }}</h5><br>
                    <div class="input-block mb-3">
                      <label htmlFor="label">{{ 'payment.receiverCountry' | translate }} *</label>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="input-group">
                            <span class="input-group-text"><img [src]="flagCountry" alt="" class="flag" slot="start"
                                style="width: 20px" /></span>
                            <select id="label" class="form-select" (change)="onSelect($event)" id="country"
                              *ngIf="!waitingLocations" [value]="selectedCountry._id">
                              <option *ngFor="let country of availableCountries" [value]="country._id"
                                [selected]="country._id === selectedCountry._id">
                                {{ country.name | translate }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverFirstName">{{ "auth.firstName" | translate }} *</label>
                          <input id="receiverFirstName" type="text" class="form-control" [(ngModel)]="receiverFirstName"
                            name="receiverFirstName" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="label">{{ "auth.lastName" | translate }} *</label>
                          <input id="receiverLastName" type="text" class="form-control" [(ngModel)]="receiverLastName"
                            name="receiverLastName" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="telephone">{{ 'payment.receiverContact' | translate }} *</label>
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="input-group">
                                <span class="input-group-text">+{{ selectedCountry?.code }}</span>
                                <input id="telephone" type="telephone" class="form-control"
                                  [(ngModel)]="receiverContact" name="code" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverEmail">{{ 'payment.receiverEmail' | translate }} *</label>
                          <input id="receiverEmail" type="email" class="form-control" placeholder="exemple@test.com"
                            [(ngModel)]="receiverEmail" name="receiverEmail" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverAddress">{{ 'payment.receiverAddress' | translate }} *</label>
                          <input id="receiverAddress" type="text" class="form-control" placeholder=""
                            [(ngModel)]="receiverAddress" name="receiverAddress" />
                        </div>
                      </div>
                    </div>
                    <div class="input-block mb-3">
                      <label htmlFor="label">{{ 'payment.raisonForTransfer' | translate }} *</label>
                      <textarea rows="5" cols="5" class="form-control" id="raisonForTransfer" placeholder="Description"
                        [(ngModel)]="raisonForTransfer" name="raisonForTransfer"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.amountDetails" | translate }}</h5><br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="amountToBeReceived">{{ 'payment.amountToBeReceived' | translate }} *</label>
                          <div class="input-group">
                            <input id="amountToBeReceived" id="amountToBeReceived" type="text" class="form-control"
                              placeholder="" [(ngModel)]="amountToBeReceived" name="amountToBeReceived"
                              style="text-align: right" (input)="formatAmount($event); convertCurrency()" />
                            <span class="input-group-text">{{ selectedCountry?.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="estimation">{{ 'payment.estimation' | translate }} HT</label>
                          <div class="input-group">

                            <span class="spinner-border spinner-border-sm me-2" role="status" *ngIf="watingEstimation"
                              style="margin-left: 25vh"></span>

                            <input class="form-control" placeholder="Estimation" *ngIf="!watingEstimation"
                              style="text-align: right" type="number" id="estimation" placeholder=""
                              [(ngModel)]="estimation" name="estimation" [disabled]="true" />
                            <span class="input-group-text">{{ currentUser?.countryId.currency }}</span>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p style="background: #fda430; color: black; padding: 10px; border-radius: 5px;">
                          {{ "payment.warningMessage" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end">
                  <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                    [disabled]="!canNext()">
                    {{ "payment.next" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="66"></mat-progress-bar>
            <form>
              <ng-template matStepLabel>{{ "payment.accountReception" | translate }}</ng-template>

              <div class="card-header">
                <h4>{{ "payment.accountDetailsReception" | translate }}</h4>
                {{ "payment.receiverSubTitle" | translate }} <br />
              </div>
              <div class="card-body">
                <form action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">{{ "payment.chooseReceptionMethod" | translate }}</h5><br>
                      <div class="step2">

                        <div class="payment-methods">

                          <div (click)="selectMethod('BANK')"
                            [ngClass]="selectedMethod === 'BANK' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <i class="fas fa-university"></i>
                            </div>
                            <div class="method-info">
                              <h3>{{ "payment.bank" | translate }}</h3>
                              <p>{{ "payment.bankDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('OM')" *ngIf="selectedCountry?.code === '237'"
                            [ngClass]="selectedMethod === 'OM' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <img src="assets/img/ressorces/om.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>Orange Money</h3>
                              <p>{{ "payment.omDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('MTN')" *ngIf="selectedCountry?.code === '237'"
                            [ngClass]="selectedMethod === 'MTN' ? 'method-card active' : 'method-card'" disabled>
                            <div class="method-icon">
                              <img src="assets/img/ressorces/mtn_money.webp" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>MTN Mobile Money</h3>
                              <p>{{ "payment.mtnDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" style="opacity: 0.6;">
                            <div class="method-icon" style="color: #003087;">
                              <img src="assets/img/ressorces/paypal.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>PayPal</h3>
                              <p>{{ "payment.paypalDescription" | translate }}</p>
                              <span class="coming-soon">{{ "payment.comingSoon" | translate }}</span>
                            </div>
                          </div>


                          <div class="method-card" style="opacity: 0.6;">
                            <div class="method-icon" style="color: #003087;">
                              <img src="assets/img/ressorces/icon.jpg" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>Digikuntz account</h3>
                              <p>Instant payment</p>
                              <span class="coming-soon">{{ "payment.comingSoon" | translate }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <h5 class="card-title">
                        <i class="fas fa-info-circle" style="color: #003087;"></i>
                        {{ "payment.accountDetails" | translate }}: {{ methodName }}
                      </h5>
                      <br>
                      <div class="row">
                        <div class="account-details"
                          style="background: #edf4f7 !important; padding: 25px; border-radius: 8px;">

                          <div class="col-md-12" *ngIf="selectedMethod === 'OM' || selectedMethod === 'MTN'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="receiverMobileAccountNumber">
                                  {{ 'payment.receiverMobileAccountNumber' | translate }} *</label>
                                <div class="input-group">
                                  <span class="input-group-text">+{{ selectedCountry?.code }}</span>
                                  <input id="receiverMobileAccountNumber" type="telephone" class="form-control"
                                    placeholder="691229122" [(ngModel)]="receiverMobileAccountNumber"
                                    name="receiverMobileAccountNumber" (input)="canNext2()" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bankCode">BANK *</label>
                                <select id="label" class="form-select" (change)="onSelectBank($event)" id="country"
                                  *ngIf="!waitingLocations && !waitingBankList">
                                  <option *ngFor="let bank of bankList" [value]="bank.code">
                                    {{ bank.name | translate }}
                                  </option>
                                </select>
                                <span class="spinner-border spinner-border-sm me-2" role="status"
                                  *ngIf="waitingBankList" style="margin-left: 25vh"></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bankAccountNumber">{{ 'payment.accountNumber' | translate }} *</label>
                                <input id="bankAccountNumber" type="text" class="form-control" placeholder="10 Digits"
                                  [(ngModel)]="bankAccountNumber" name="bankAccountNumber"
                                  (input)="formatAccountNumber($event)" />
                              </div>
                            </div>
                          </div>
                          <div class="fee-breakdown">
                            <h4><i class="feather icon-triangle"></i> Warning !</h4>
                            {{ "payment.sureBankAccountNumberMessage" | translate }}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <button mat-button matStepperPrevious>
                      <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                        title="feather icon-skip-back"></i>{{ "action.back" | translate }}
                    </button>
                    <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                      [disabled]="!canNext2()">
                      {{ "payment.next" | translate }}
                    </button>
                  </div>
                </form>
              </div>

            </form>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <ng-template matStepLabel>{{ "payment.confirmation" | translate }}</ng-template>
            <!-- <p>{{ "payment.receiverInformation" | translate }}</p> -->
            <h4>{{ "payment.confirmation" | translate }}</h4>
            {{ "payment.receiverSubTitleRecap" | translate }} <br />
            <div class="row">
              <div class="col-md-6">
                <div class="step3">
                  <div class="confirmation-container">
                    <div class="confirmation-content">
                      <div class="detail-card">
                        <h3><i class="fas fa-user-friends"></i> {{ "payment.receiver" | translate }}</h3>
                        <div class="detail-item">
                          <span class="detail-label">{{ "auth.firstName" | translate }}</span>
                          <span class="detail-value">{{ receiverFirstName }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "auth.lastName" | translate }}</span>
                          <span class="detail-value">{{ receiverLastName }} </span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "terms.email" | translate }}</span>
                          <span class="detail-value">{{ receiverEmail }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ 'payment.receiverCountry' | translate }}</span>
                          <span class="detail-value">{{ selectedCountry?.name }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "terms.phone" | translate }}</span>
                          <span class="detail-value">+{{ selectedCountry?.code }} {{ receiverContact }}</span>
                        </div>
                      </div>

                      <div class="details-grid">
                        <div class="detail-card">
                          <h3><i class="fas fa-user"></i> {{ "payment.sender" | translate }}</h3>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.firstName" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.firstName }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.lastName" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.lastName }} </span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "terms.email" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.email }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.country" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.countryId.name }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "terms.phone" | translate }}</span>
                            <span class="detail-value">+{{ currentUser?.countryId.code }} {{ currentUser?.phone
                              }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="step3">
                  <div class="confirmation-container">
                    <div class="confirmation-content">

                      <div class="detail-card" style="border-left: 4px solid #fff !important; margin-bottom: 10px;">
                        <h3 style="margin-bottom: 10px;">{{ "payment.accountDetailsReception" | translate }}</h3>
                        <h3 *ngIf="selectedMethod === 'BANK'"><i class="fas fa-university"></i> {{ methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'OM'">
                          <img src="assets/img/ressorces/om.png" alt="" style="width: 50px; margin-right: 10px;"> {{
                          methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'MTN'">
                          <img src="assets/img/ressorces/mtn_money.webp" alt=""
                            style="width: 50px; margin-right: 10px;"> {{ methodName }}
                        </h3>

                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">{{ 'payment.accountNumber' | translate }}</span>
                          <span class="detail-value">{{ bankAccountNumber }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">Bank code</span>
                          <span class="detail-value">{{ bankCode }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod != 'BANK'">
                          <span class="detail-label">{{ 'payment.receiverMobileAccountNumber' | translate }}</span>
                          <span class="detail-value">+{{ selectedCountry.code }} {{ receiverMobileAccountNumber
                            }}</span>
                        </div>
                      </div>

                      <div class="amount-summary">
                        <div class="amount-label"></div>
                        <div class="amount-main"></div>
                        <div class="amount-secondary"> </div>
                      </div>

                      <div class="fee-breakdown">
                        <h4><i class="fas fa-receipt"></i> {{ "payment.amountDetails" | translate }}</h4>
                        <div class="fee-item">
                          <span>{{ "payment.amountToBeReceived" | translate }}</span>
                          <span>{{amountToBeReceived}} {{ selectedCountry?.currency }}</span>
                        </div>
                        <div class="fee-item">
                          <span>{{ "payment.equivalentTo" | translate }}</span>
                          <span>{{estimation}} {{ currentUser?.countryId.currency }}</span>
                        </div>
                        <div class="fee-item">
                          <span>{{ "payment.feeDetails" | translate }}</span>
                          <span>{{ transactionData?.taxesAmount }} {{ currentUser?.countryId.currency }}</span>
                        </div>
                        <div class="fee-total">
                          <span>{{ "payment.total" | translate }}</span>
                          <span>{{ transactionData?.paymentWithTaxes }} {{ currentUser?.countryId.currency }}</span>
                        </div>
                      </div>

                      <div class="security-notice">
                        <img src="assets/img/ressorces/flutterwave.png" alt=""
                          style="max-width: 100px; border-radius: 5px; margin-right: 10px;">
                        <p>{{ "payment.secureMessage" | translate }}</p>
                      </div>
                      <div class="action-buttons">
                        <button class="btn btn-cancel" matStepperPrevious>
                          <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                            title="feather icon-skip-back"></i>
                          {{ "action.back" | translate }}
                        </button>
                        <button class="btn2 btn-confirm" (click)="stepperToProceed()">
                          <i class="fas fa-check"></i> {{ "payment.proceed" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
      <div class="card-body" *ngIf="goToProceed">
        <div class="row">
          <div class="col-md-6">
            <div class="wating-msg">
              <img src="assets/img/ressorces/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"
                *ngIf="!modalClosed && !transactionSucceded && !transactionFailed">
              <!-- <div class="spinner-border" role="status" *ngIf="!modalClosed && !transactionSucceded && !transactionFailed"></div> -->
              <p style="margin-top: 50px;" *ngIf="!modalClosed && !transactionSucceded && !transactionFailed">
                {{ "payment.processing-message1" | translate }}<br>
                {{ "payment.processing-message2" | translate }}
              </p>


              <img src="../../../assets/img/ressorces/tfailed.gif" alt="" style="max-width: 100px;;"
                *ngIf="!reOpen && transactionFailed">
              <br>
              <span style="color: red !important" *ngIf="!reOpen && transactionFailed">{{ "payment.transactionFailed" | translate }}</span>
              <p style="margin-top: 50px;" *ngIf="!reOpen && transactionFailed">
                Click
                <span class="retry" (click)="openPayin()" *ngIf="!reOpen && transactionFailed">{{
                  "payment.hereToRetry" | translate
                  }}.</span>
                <span *ngIf="reOpen && transactionFailed">{{ "payment.hereToRetry" | translate }}. {{ "payment.opening" | translate }}...</span>
              </p>

              <img src="assets/img/ressorces/flutterwave.png" alt="" style="max-width: 100px;;"
                *ngIf="!transactionSucceded && !transactionFailed">
              <p style="margin-top: 50px;" *ngIf="showRetry && !transactionSucceded && !transactionFailed">
                {{ "payment.processing-message4" | translate }}
                <span class="retry" (click)="openPayin()" *ngIf="!reOpen && !transactionSucceded">{{
                  "payment.hereToRetry" | translate
                  }}.</span>
                <span *ngIf="reOpen && !transactionSucceded">{{ "payment.hereToRetry" | translate }}. {{ "payment.opening" | translate }}...</span>
              </p>

              <img src="assets/img/ressorces/paymentDone.gif" alt="" style="max-width: 250px;;"
                *ngIf="transactionSucceded && !transactionFailed">
              <p style="margin-top: 50px;" *ngIf="transactionSucceded && !transactionFailed">{{ 'payment.paymentSuccess'
                | translate }}<br>
                {{ 'payment.fundsWillReceive' | translate }}</p>

              <br>
              <p style="margin-top: 50px;" *ngIf="!transactionSucceded && showRetry || !transactionSucceded && transactionSucceded">
                {{ 'payment.ifPaymentConfirmed' | translate }}</p>
                <br>
              <button class="btn btn-primary" *ngIf="showRetry || transactionSucceded"
                (click)="navigateTo('/dashboard')"> {{ "action.backToHome" | translate }} </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <!-- Sidebar Hero -->
              <div class="hero-sidebar">
                <div class="hero-pattern"></div>
                <div class="hero-content">
                  <div class="hero-badge" style="color: #F57C11 !important;">
                    <i class="fas fa-rocket" style="color: #F57C11 !important;"></i> {{ "payment.instantTransfer" |
                    translate }}
                  </div>
                  <h1 class="hero-title">{{ "payment.hero-title" | translate }}</h1>
                  <p class="hero-subtitle">{{ "payment.hero-subTitle" | translate }}</p>

                  <ul class="features-list">
                    <li>
                      <i class="fas fa-bolt"></i>
                      <span>{{ "payment.hero-item1" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-lock"></i>
                      <span>{{ "payment.hero-item2" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-percentage"></i>
                      <span>{{ "payment.hero-item3" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-headset"></i>
                      <span>{{ "payment.hero-item4" | translate }}</span>
                    </li>
                  </ul>

                  <div class="security-badge">
                    <p>
                      <i class="fas fa-shield-alt"></i>
                      <span>{{ "payment.hero-secureMessage" | translate }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Invoices Preview Modal -->
<div class="modal custom-modal fade invoices-preview" id="invoices_preview" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card invoice-info-card">
              <div class="card-body pb-0">
                <div class="invoice-item invoice-item-one">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="invoice-logo">
                        <img src="assets/img/new/y_nkap.jpeg" alt="logo">
                        <h2>Digikuntz Payments</h2>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="invoice-info">
                        <div class="invoice-head">
                          <h2 class="text-primary">Reçu {{transactionData?.schoolName}}</h2>
                          <p>No. : {{transactionData?.invoiceRef}}</p>
                          <p style="color: #14660a;" *ngIf="transactionData?.status === 'Completed'"><b>PAYED</b>
                          </p>
                          <p style="color: #9f6d00;" *ngIf="transactionData?.status === 'Pending'"><b>PENDING</b>
                          </p>
                          <p style="color: #bf1f03;" *ngIf="transactionData?.status === 'Rejected'"><b>REJECTED</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Invoice Item -->
                <div class="invoice-item invoice-item-bg">
                  <div class="invoice-circle-img">
                    <img src="assets/img/invoice-circle1.png" alt="" class="invoice-circle1">
                    <img src="assets/img/invoice-circle2.png" alt="" class="invoice-circle2">
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <div class="invoice-info">
                        <strong class="customer-text-one">Payeur</strong>
                        <h6 class="invoice-name">{{transactionData?.clientName}}</h6>
                        <p class="invoice-details invoice-details-two">
                          {{transactionData?.clientPhone}} <br>
                          {{transactionData?.clientEmail}} <br>
                          {{transactionData?.clientAddress}} <br>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="invoice-info">
                        <strong class="customer-text-one">Apprenant</strong>
                        <h6 class="invoice-name">{{transactionData?.studentMatricule}}</h6>
                        <h6 class="invoice-name">{{transactionData?.studentName}}</h6>
                        <p class="invoice-details invoice-details-two">
                          {{transactionData?.classAbreviation}} <br>
                        </p>
                        <strong class="customer-text-one">Montant déjà versé:</strong>
                        <p class="invoice-details invoice-details-two">
                          {{transactionData?.alreadyPaid}} FCFA<br>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="invoice-info invoice-info-one border-0">
                        <p>No. Reçu : {{transactionData?.invoiceRef}}</p>
                        <p>Date de facturation : {{transactionData?.facturationDate }}</p>
                        <p>Date de paiement : {{transactionData?.paymentDate }}</p>
                        <br>
                        <p>Méthode de paiement : {{transactionData?.paymentMethode }}</p>
                        <p class="mb-0">Numéro payeur : {{transactionData?.paymentMethodeNumber
                          }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Item -->

                <!-- Invoice Item -->
                <div class="invoice-item invoice-table-wrap">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="invoice-table table table-center mb-0">
                          <thead>
                            <tr>
                              <th>Désignation</th>
                              <th>Apprenant</th>
                              <th>Classe</th>
                              <th>Montant</th>
                              <th>Versement</th>
                              <th class="text-end">Reste à payer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{transactionData?.designation}}</td>
                              <td>{{transactionData?.studentName}}</td>
                              <td>{{transactionData?.classAbreviation}}</td>
                              <th>{{transactionData?.classPrice}} FCFA</th>
                              <th>{{transactionData?.payment}} FCFA</th>
                              <td class="text-end">{{transactionData?.leftToPay }} FCFA
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Item -->

                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 col-md-6">
                    <div class="invoice-payment-box">
                      <h4>Références Bancaires de l'établissement</h4>
                      <div class="payment-details">
                        <p>
                          Banque: {{transactionData?.name}} <br>
                          No de compte: {{transactionData?.accountNumber}} <br>
                          RIB: {{transactionData?.rib}} <br>
                          IBAN: {{transactionData?.iban}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="invoice-total-card">
                      <div class="invoice-total-box">
                        <div class="invoice-total-inner">
                          <p>Somme :<span>{{transactionData?.payment}} FCFA</span></p>
                          <p>Taxes service en ligne ({{transactionData?.taxes}}%)
                            :<span>{{transactionData?.taxesAmount}} FCFA</span></p>
                        </div>
                        <div class="invoice-total-footer">
                          <h4>Montant total <span>{{transactionData?.paymentWithTaxes}}
                              FCFA</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="invoice-sign-box">
                  <div class="row">
                    <div class="col-lg-8 col-md-8">
                      <div class="invoice-terms" *ngIf="transactionData?.notes && transactionData?.notes != ''">
                        <h6>Notes:</h6>
                        <p class="mb-0">{{transactionData?.notes}}</p>
                      </div>
                      <div class="invoice-terms mb-0" *ngIf="transactionData?.terms && transactionData?.terms != ''">
                        <h6>Termes et Conditions:</h6>
                        <p class="mb-0">{{transactionData?.terms}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="invoice-sign text-end">
                        <!-- <img class="img-fluid d-inline-block"
													src="{{transactionData?.signatureUrl}}" alt="sign">
												<span class="d-block">{{transactionData?.signatureName}}</span> -->
                        <p style="color: #14660a; font-size: 2em;" *ngIf="transactionData?.status === 'Completed'">
                          <b>PAYED</b>
                        </p>
                        <p style="color: #9f6d00; font-size: 2em;" *ngIf="transactionData?.status === 'Pending'">
                          <b>PENDING</b>
                        </p>
                        <p style="color: #bf1f03; font-size: 2em;" *ngIf="transactionData?.status === 'Rejected'">
                          <b>REJECTED</b>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Invoices Preview Modal -->