<div class="main-title page-tilte" *ngIf="!goToProceed">
  <h2>{{ "dashboard.sendMoney" | translate }}</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body" *ngIf="!goToProceed">
        <mat-stepper #stepperTwo linear class="non-clickable-steps">
          <mat-step>
            <ng-template matStepLabel>{{ "payment.receiverInfo" | translate }}</ng-template>
            <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
            <div class="card-header">
              <h4>{{ "payment.receiverInfo" | translate }}</h4>
              {{ "payment.receiverSubTitle" | translate }} <br />
            </div>
            <div class="card-body">
              <form action="#">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.personalDetails" | translate }}</h5><br>
                    <div class="input-block mb-3">
                      <label htmlFor="label">{{ 'payment.receiverCountry' | translate }} *</label>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="input-group">
                            <span class="input-group-text"><img [src]="flagCountry" alt="" class="flag" slot="start"
                                style="width: 20px" /></span>
                            <select id="label" class="form-select" (change)="onSelect($event)" id="country"
                              *ngIf="!waitingLocations" [value]="selectedCountry._id">
                              <option *ngFor="let country of availableCountries" [value]="country._id" [selected]="country._id === selectedCountry._id">
                                {{ country.name | translate }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverFirstName">{{ "auth.firstName" | translate }} *</label>
                          <input id="receiverFirstName" type="text" class="form-control" [(ngModel)]="receiverFirstName"
                            name="receiverFirstName" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="label">{{ "auth.lastName" | translate }} *</label>
                          <input id="receiverLastName" type="text" class="form-control" [(ngModel)]="receiverLastName"
                            name="receiverLastName" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="telephone">{{ 'payment.receiverContact' | translate }} *</label>
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="input-group">
                                <span class="input-group-text">+{{ selectedCountry?.code }}</span>
                                <input id="telephone" type="telephone" class="form-control"
                                  [(ngModel)]="receiverContact" name="code" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverEmail">{{ 'payment.receiverEmail' | translate }} *</label>
                          <input id="receiverEmail" type="email" class="form-control" placeholder="exemple@test.com"
                            [(ngModel)]="receiverEmail" name="receiverEmail" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-block mb-3">
                          <label htmlFor="receiverAddress">{{ 'payment.receiverAddress' | translate }} *</label>
                          <input id="receiverAddress" type="text" class="form-control" placeholder=""
                            [(ngModel)]="receiverAddress" name="receiverAddress" />
                        </div>
                      </div>
                    </div>
                    <div class="input-block mb-3">
                      <label htmlFor="label">{{ 'payment.raisonForTransfer' | translate }} *</label>
                      <textarea rows="5" cols="5" class="form-control" id="raisonForTransfer" placeholder="Description"
                        [(ngModel)]="raisonForTransfer" name="raisonForTransfer"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5 class="card-title">{{ "payment.amountDetails" | translate }}</h5><br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="amountToBeReceived">{{ 'payment.amountToBeReceived' | translate }} *</label>
                          <div class="input-group">
                            <input id="amountToBeReceived" id="amountToBeReceived" type="text" class="form-control"
                              placeholder="" [(ngModel)]="amountToBeReceived" name="amountToBeReceived"
                              style="text-align: right" (input)="formatAmount($event); convertCurrency()" />
                            <span class="input-group-text">{{ selectedCountry?.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label htmlFor="estimation">{{ 'payment.estimation' | translate }} HT</label>
                          <div class="input-group">

                            <span class="spinner-border spinner-border-sm me-2" role="status" *ngIf="watingEstimation"
                              style="margin-left: 25vh"></span>

                            <input class="form-control" placeholder="Estimation" *ngIf="!watingEstimation"
                              style="text-align: right" type="number" id="estimation" placeholder=""
                              [(ngModel)]="estimation" name="estimation" [disabled]="true" />
                            <span class="input-group-text">{{ currentUser?.countryId.currency }}</span>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p style="background: #fda430; color: black; padding: 10px; border-radius: 5px;">
                          {{ "payment.warningMessage" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end">
                  <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                    [disabled]="!canNext()">
                    {{ "payment.next" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="66"></mat-progress-bar>
            <form>
              <ng-template matStepLabel>{{ "payment.accountReception" | translate }}</ng-template>

              <div class="card-header">
                <h4>{{ "payment.accountDetailsReception" | translate }}</h4>
                {{ "payment.receiverSubTitle" | translate }} <br />
              </div>
              <div class="card-body">
                <form action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">{{ "payment.chooseReceptionMethod" | translate }}</h5><br>
                      <div class="step2">

                        <div class="payment-methods">

                          <div (click)="selectMethod('BANK')"
                            [ngClass]="selectedMethod === 'BANK' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <i class="fas fa-university"></i>
                            </div>
                            <div class="method-info">
                              <h3>{{ "payment.bank" | translate }}</h3>
                              <p>{{ "payment.bankDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('OM')" *ngIf="selectedCountry?.code === '237'"
                            [ngClass]="selectedMethod === 'OM' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <img src="assets/img/ressorces/om.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>Orange Money</h3>
                              <p>{{ "payment.omDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" (click)="selectMethod('MTN')" *ngIf="selectedCountry?.code === '237'"
                            [ngClass]="selectedMethod === 'MTN' ? 'method-card active' : 'method-card'">
                            <div class="method-icon">
                              <img src="assets/img/ressorces/mtn_money.webp" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>MTN Mobile Money</h3>
                              <p>{{ "payment.mtnDescription" | translate }}</p>
                            </div>
                          </div>

                          <div class="method-card" style="opacity: 0.6;">
                            <div class="method-icon" style="color: #003087;">
                              <img src="assets/img/ressorces/paypal.png" alt="" class="method-img">
                            </div>
                            <div class="method-info">
                              <h3>PayPal</h3>
                              <p>{{ "payment.paypalDescription" | translate }}</p>
                              <span class="coming-soon">{{ "payment.comingSoon" | translate }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <h5 class="card-title">
                        <i class="fas fa-info-circle" style="color: #003087;"></i>
                        {{ "payment.accountDetails" | translate }}: {{ methodName }}
                      </h5>
                      <br>
                      <div class="row">
                        <div class="account-details"
                          style="background: #edf4f7 !important; padding: 25px; border-radius: 8px;">

                          <div class="col-md-12" *ngIf="selectedMethod === 'OM' || selectedMethod === 'MTN'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="receiverMobileAccountNumber">
                                  {{ 'payment.receiverMobileAccountNumber' | translate }} *</label> +{{
                                selectedCountry?.code }}
                                <input id="receiverMobileAccountNumber" type="telephone" class="form-control"
                                  placeholder="691229122" [(ngModel)]="receiverMobileAccountNumber"
                                  name="receiverMobileAccountNumber" (input)="canNext2()" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bankAccountNumber">{{ 'payment.accountNumber' | translate }} *</label>
                                <input id="bankAccountNumber" type="text" class="form-control"
                                  placeholder="FR76 1234 5678 9012 3456 7890 123" [(ngModel)]="bankAccountNumber"
                                  name="bankAccountNumber" (input)="formatAccountNumber($event)" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="selectedMethod === 'BANK'">
                            <div class="col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="bic">BIC/SWIFT *</label>
                                <input id="bic" type="text" class="form-control" placeholder="BNPAFRPPXXX"
                                  [(ngModel)]="bic" name="bic" (input)="canNext2()" />
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <button mat-button matStepperPrevious>
                      <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                        title="feather icon-skip-back"></i>{{ "action.back" | translate }}
                    </button>
                    <button type="button" matStepperNext class="btn btn-primary" (click)="nextStep()"
                      [disabled]="!canNext2()">
                      {{ "payment.next" | translate }}
                    </button>
                  </div>
                </form>
              </div>

            </form>
          </mat-step>
          <mat-step>
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <ng-template matStepLabel>{{ "payment.confirmation" | translate }}</ng-template>
            <!-- <p>{{ "payment.receiverInformation" | translate }}</p> -->
            <h4>{{ "payment.confirmation" | translate }}</h4>
            {{ "payment.receiverSubTitleRecap" | translate }} <br />
            <div class="row">
              <div class="col-md-6">
                <div class="step3">
                  <div class="confirmation-container">
                    <div class="confirmation-content">
                      <div class="detail-card">
                        <h3><i class="fas fa-user-friends"></i> {{ "payment.receiver" | translate }}</h3>
                        <div class="detail-item">
                          <span class="detail-label">{{ "auth.firstName" | translate }}</span>
                          <span class="detail-value">{{ receiverFirstName }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "auth.lastName" | translate }}</span>
                          <span class="detail-value">{{ receiverLastName }} </span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "terms.email" | translate }}</span>
                          <span class="detail-value">{{ receiverEmail }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ 'payment.receiverCountry' | translate }}</span>
                          <span class="detail-value">{{ selectedCountry?.name }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{ "terms.phone" | translate }}</span>
                          <span class="detail-value">+{{ selectedCountry?.code }} {{ receiverContact }}</span>
                        </div>
                      </div>

                      <div class="details-grid">
                        <div class="detail-card">
                          <h3><i class="fas fa-user"></i> {{ "payment.sender" | translate }}</h3>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.firstName" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.firstName }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.lastName" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.lastName }} </span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "terms.email" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.email }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "auth.country" | translate }}</span>
                            <span class="detail-value">{{ currentUser?.countryId.name }}</span>
                          </div>
                          <div class="detail-item">
                            <span class="detail-label">{{ "terms.phone" | translate }}</span>
                            <span class="detail-value">+{{ currentUser?.countryId.code }} {{ currentUser?.phone }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="step3">
                  <div class="confirmation-container">
                    <div class="confirmation-content">

                      <div class="detail-card" style="border-left: 4px solid #fff !important; margin-bottom: 10px;">
                        <h3 style="margin-bottom: 10px;">{{ "payment.accountDetailsReception" | translate }}</h3>
                        <h3 *ngIf="selectedMethod === 'BANK'"><i class="fas fa-university"></i> {{ methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'OM'">
                          <img src="assets/img/ressorces/om.png" alt="" style="width: 50px; margin-right: 10px;"> {{
                          methodName }}
                        </h3>
                        <h3 *ngIf="selectedMethod === 'MTN'">
                          <img src="assets/img/ressorces/mtn_money.webp" alt=""
                            style="width: 50px; margin-right: 10px;"> {{ methodName }}
                        </h3>

                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">{{ 'payment.accountNumber' | translate }}</span>
                          <span class="detail-value">{{ bankAccountNumber }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod === 'BANK'">
                          <span class="detail-label">BIC/SWIFT</span>
                          <span class="detail-value">{{ bic }}</span>
                        </div>
                        <div class="detail-item" *ngIf="selectedMethod != 'BANK'">
                          <span class="detail-label">{{ 'payment.receiverMobileAccountNumber' | translate }}</span>
                          <span class="detail-value">+{{ selectedCountry.code }} {{ receiverMobileAccountNumber
                            }}</span>
                        </div>
                      </div>

                      <div class="amount-summary">
                        <div class="amount-label"></div>
                        <div class="amount-main"></div>
                        <div class="amount-secondary"> </div>
                      </div>

                      <div class="fee-breakdown">
                        <h4><i class="fas fa-receipt"></i> {{ "payment.amountDetails" | translate }}</h4>
                        <div class="fee-item">
                          <span>{{ "payment.amountToBeReceived" | translate }}</span>
                          <span>{{amountToBeReceived}} {{ selectedCountry?.currency }}</span>
                        </div>
                        <div class="fee-item">
                          <span>{{ "payment.equivalentTo" | translate }}</span>
                          <span>{{estimation}} {{ currentUser?.countryId.currency }}</span>
                        </div>
                        <div class="fee-item">
                          <span>{{ "payment.feeDetails" | translate }}</span>
                          <span>{{ transactionData?.taxesAmount }} {{ currentUser?.countryId.currency }}</span>
                        </div>
                        <div class="fee-total">
                          <span>{{ "payment.total" | translate }}</span>
                          <span>{{ transactionData?.paymentWithTaxes }} {{ currentUser?.countryId.currency }}</span>
                        </div>
                      </div>

                      <div class="security-notice">
                        <img src="assets/img/ressorces/flutterwave.png" alt=""
                          style="max-width: 100px; border-radius: 5px; margin-right: 10px;">
                        <p>{{ "payment.secureMessage" | translate }}</p>
                      </div>
                      <div class="action-buttons">
                        <button class="btn btn-cancel" matStepperPrevious>
                          <i class="feather icon-chevron-left" data-bs-toggle="tooltip"
                            title="feather icon-skip-back"></i>
                          {{ "action.back" | translate }}
                        </button>
                        <button class="btn2 btn-confirm" (click)="stepperToProceed()">
                          <i class="fas fa-check"></i> {{ "payment.proceed" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
      <div class="card-body" *ngIf="goToProceed">
        <div class="row">
          <div class="col-md-6">
            <div class="wating-msg">
              <div class="spinner-border" role="status"></div>
              <p style="margin-top: 50px;">
                {{ "payment.processing-message1" | translate }}<br>
                {{ "payment.processing-message2" | translate }}
              </p>
              <img src="assets/img/ressorces/flutterwave.png" alt="" style="max-width: 100px;;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <!-- Sidebar Hero -->
              <div class="hero-sidebar">
                <div class="hero-pattern"></div>
                <div class="hero-content">
                  <div class="hero-badge" style="color: #F57C11;">
                    <i class="fas fa-rocket"></i> {{ "payment.instantTransfer" | translate }}
                  </div>
                  <h1 class="hero-title">{{ "payment.hero-title" | translate }}</h1>
                  <p class="hero-subtitle">{{ "payment.hero-subTitle" | translate }}</p>

                  <ul class="features-list">
                    <li>
                      <i class="fas fa-bolt"></i>
                      <span>{{ "payment.hero-item1" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-lock"></i>
                      <span>{{ "payment.hero-item2" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-percentage"></i>
                      <span>{{ "payment.hero-item3" | translate }}</span>
                    </li>
                    <li>
                      <i class="fas fa-headset"></i>
                      <span>{{ "payment.hero-item4" | translate }}</span>
                    </li>
                  </ul>

                  <div class="security-badge">
                    <p>
                      <i class="fas fa-shield-alt"></i>
                      <span>{{ "payment.hero-secureMessage" | translate }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>