<!-- Page Wrapper -->
<div class="content container-fluid">
  <div class="row justify-content-lg-center">
    <div class="col-lg-12">

      <div class="profile-cover">
        <div class="profile-cover-wrap">
          <img class="profile-cover-img" src="{{cover}}" alt="">
        </div>
      </div>

      <div class="text-center mb-5">
        <form [formGroup]="uploadPictureForm" class="" style="text-align: center;" *ngIf="currentUser && uploadPictureForm">
          <div class="avatar avatar-xxl profile-cover-avatar">
            <img class="avatar-img" src="{{userData?.pictureUrl ? userData?.pictureUrl  : 'assets/img/new/user.png'}}" alt="">
            <span class="avatar-edit" (click)="changePicture(true);fileUploader.click()">
              <i class="feather icon-camera avatar-uploader-icon shadow-soft"></i>
            </span>
            <input type="file" name="picture" id="picture" accept="image/*" class="form-control ml-4" #fileUploader
              formControlName="pictureFile" (change)="showPreview($event)" style="display: none;">
          </div>
        </form>
        <div class="div">
          <span class="badge rounded-pill badge-outline-success"
          *ngIf="currentUser && !currentUser?.premium && currentUser?.verified && !currentUser?.warning">
            <i class="feather icon-check-circle"></i> {{ "badge.verified" | translate }}</span>
            <span class="badge rounded-pill badge-outline-warning"
            *ngIf="currentUser && currentUser?.warning">
              <i class="feather icon-alert-triangle"></i> {{ 'profile.warningAccount' | translate }}</span>
          <span class="badge badge-gradient-success"
          *ngIf="currentUser && currentUser?.premium && !currentUser?.warning">
            <i class="feather icon-zap"></i> Premium</span>
          <span class="badge badge-soft-danger badge-border"
          *ngIf="currentUser && !currentUser?.verified && !currentUser?.warning">
            <i class="feather icon-user-x"></i> {{ "badge.notVerified" | translate }}</span>
          <span class="badge badge-soft-dark badge-border"
          *ngIf="currentUser && currentUser?.inVerification">
            <i class="feather icon-refresh-ccw"></i> {{ "badge.inVerification" | translate }}</span>
          <span class="badge badge-gradient-primary" *ngIf="currentUser && currentUser?.isAdmin">
            <i class="feather icon-slack"></i> Admin</span>
          <div name="checkmark-done-outline" class="verified-badge"
            *ngIf="currentUser && currentUser?.verified && !currentUser?.vip && !currentUser?.warning && !currentUser?.premium ">
          </div>
          <p *ngIf="currentUser && currentUser?.warning" class="warning-message">{{ 'profile.warningAccount' |
            translate }}</p>
        </div>
        <br>
        <div *ngIf="isChangePicture">
          <a class="btn btn-sm btn-secondary m-2" (click)="cancel()">{{ "action.cancel" |
            translate }}</a>
          <a *ngIf="!uploadingPicture" class="btn btn-sm btn-success m-2" (click)="savePicture()">{{ "action.save" |
            translate }}</a>
          <a *ngIf="uploadingPicture" class="btn btn-sm btn-success" disabled>
            <img src="assets/img/new/loader.gif" width="20px">
          </a>
        </div>
        <h2>
          {{ showName(userData) }}
          <!-- <i class="fas fa-certificate text-primary small" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i> -->
        </h2>
        <ul class="list-inline" *ngIf="userData">
          <li class="list-inline-item" *ngIf="userData?._id">
            ID: <span style="margin-left: 5px;">{{userData?._id ?
              userData?._id : ''}}</span>
          </li>
        </ul>
        <div *ngIf="!userData">
          <img src="assets/img/new/loader.gif" width="20px">
        </div>
      </div>

      <div class="alert alert-warning alert-dismissible fade show" role="alert"
      *ngIf="currentUser && currentUser.warning">
        <strong>{{ "badge.warning" | translate }}: </strong> 
        {{ "alert.warningAccount" | translate }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <div class="alert alert-secondary alert-dismissible fade show" role="alert"
      *ngIf="currentUser && currentUser.inVerification">
        <strong>{{ "badge.inVerification" | translate }}: </strong> 
        {{ "alert.inVerification" | translate }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title d-flex justify-content-between">
                <span>{{ "sideMenu.profile" | translate }}</span>
                <a class="btn btn-sm btn-white" (click)="edit()" *ngIf="!edition && !loading">{{ "action.edit" |
                  translate }}</a>
                <a class="btn btn-sm btn-secondary" (click)="edit()" *ngIf="edition && !loading">{{ "action.cancel" |
                  translate }}</a>
                <a class="btn btn-sm btn-success" (click)="submit()" *ngIf="edition && !loading">{{ "action.save" |
                  translate }}</a>
                <a class="btn btn-sm" *ngIf="loading"><img src="assets/img/new/loader.gif" width="20px"></a>
              </h5>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <img src="assets/img/new/loader.gif" width="20px">
            </div>
            <div class="card-body" *ngIf="userData && !edition">
              <ul class="list-unstyled mb-0">
                <li class="py-0">
                  <i class="feather icon-user" style="margin-right: 5px;"></i>
                  <small class="text-dark">{{ "auth.firstName" | translate }}</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.firstName}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-user" style="margin-right: 5px;"></i>
                  <small class="text-dark">{{ "auth.lastName" | translate }}</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.lastName}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-user" style="margin-right: 5px;"></i>
                  <small class="text-dark">Sexe</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.sexe}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-mail" style="margin-right: 5px;"></i><small class="text-dark">{{ "terms.email"
                    |
                    translate }}</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.email}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-map-pin" style="margin-right: 5px;"></i><small class="text-dark">{{
                    "auth.country" |
                    translate }}</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.countryId.name}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-map-pin" style="margin-right: 5px;"></i><small class="text-dark">{{ "auth.city"
                    |
                    translate }}</small>
                </li>
                <input type="text" class="form-control" value="{{userData?.cityId.name}}" disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-map-pin" style="margin-right: 5px;"></i><small class="text-dark">{{
                    "mail.address" |
                    translate }}</small>
                </li>
                <input type="text" *ngIf="userData?.phone" class="form-control" value="{{userData?.address}}"
                  disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-phone" style="margin-right: 5px;"></i><small class="text-dark">{{ "terms.phone"
                    |
                    translate }} (Whatsapp)</small>
                </li>
                <input type="text" *ngIf="userData?.phone" class="form-control" value="{{userData?.phone}}"
                  disabled><br>

                <li class="pt-2 pb-0">
                  <i class="feather icon-calendar" style="margin-right: 5px;"></i><small class="text-dark">{{
                    "users.creationDate" |
                    translate }}</small>
                </li>
                <input type="text" *ngIf="userData?.phone" class="form-control"
                  value="{{userData?.createdAt | date: 'dd/MM/YYYY'}}" disabled><br>



              </ul>
            </div>
            <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="card-body" *ngIf="userData && edition">
                              <ul class="list-unstyled mb-0">
                                  <li class="py-0">
                                      <small class="text-dark">Nom *</small>
                                  </li>
                                  <input type="text" class="form-control" formControlName="firstName" value="{{userData?.firstName}}"><br>
                                  <li class="pt-2 pb-0">
                                      <small class="text-dark">Prénom *</small>
                                  </li>
                                  <input type="text" class="form-control" formControlName="lastName" value="{{userData?.lastName}}"><br>
                                  <li class="pt-2 pb-0">
                                      <i class="fa fa-user" style="margin-right: 5px;"></i><small
                                          class="text-dark">Sexe *</small>
                                  </li>
                                  <select class="select form-select form-control" formControlName="sexe">
                                      <option value="M" selected>Homme</option>
                                      <option value="F">Femme</option>
                                  </select>
                                  <li class="pt-2 pb-0">
                                      <small class="text-dark"><button class="btn btn-light"><i class="fas fa-envelope" style="margin-right: 5px;"></i> Changer d'email</button></small>
                                  </li>
                                  <input type="text" class="form-control" value="{{userData?.email}}" disabled><br>
                                  <li class="pt-2 pb-0">
                                      <i class="fas fa-phone" style="margin-right: 5px;"></i><small
                                          class="text-dark">Téléphone *</small>
                                  </li>
                                  <input type="text" class="form-control" formControlName="phone1" value="{{userData?.phone1}}" placeholder="Téléphone principal" style="margin-bottom: 5px;">
                                  <input type="text" class="form-control" formControlName="phone2" value="{{userData?.phone2}}" placeholder="Téléphone secondaire"><br>

                                  <li class="pt-2 pb-0">
                                      <i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i><small
                                          class="text-dark">Adresse</small>
                                  </li>
                                  <input type="text" class="form-control" formControlName="location" value="{{userData?.location}}" placeholder="Votre adresse de résidence">
                              </ul>
                          </form> -->
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Activités</h5>
            </div>
            <div class="card-body card-body-height" *ngIf="userData">
              <ul class="activity-feed">
                <li class="feed-item">
                  <div class="feed-date">Nov 16 - 16:00 (GMT +1)</div>
                  <span class="feed-text">Nouvelle <a>Connexion</a></span>
                </li>
                <li class="feed-item">
                  <div class="feed-date">Nov 7 - 16:00 (GMT +1)</div>
                  <span class="feed-text">Nouvelle <a>Connexion</a></span>
                </li>
              </ul>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <img src="assets/img/new/loader.gif" width="20px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->