<!-- Page Wrapper -->
<app-head-profile [userData]="currentUser" [canEdit]="true"></app-head-profile>
<div class="content container-fluid">
  <div class="row justify-content-lg-center">
    <div class="col-lg-12">

      <!-- account reported as dangerous -->
      <div class="alert alert-warning alert-dismissible fade show" role="alert"
        *ngIf="currentUser && currentUser?.warning">
        <strong>{{ "badge.warning" | translate }}: </strong>
        {{ "alert.warningAccount" | translate }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!-- Verify your account -->
      <div class="alert alert-warning alert-dismissible fade show" role="alert"
        *ngIf="currentUser && !currentUser?.verified">
        <strong>{{ "badge.unVerified" | translate }}: </strong>
        {{ "alert.needToVerifyAccount" | translate }} <br>
        <button class="btn btn-info">{{ "profile.startVerification" | translate }}</button>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!-- Account in verification -->
      <div class="alert alert-secondary alert-dismissible fade show" role="alert"
        *ngIf="currentUser && currentUser?.inVerification">
        <strong>{{ "badge.inVerification" | translate }}: </strong>
        {{ "alert.inVerification" | translate }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!-- Account disabled -->
      <div class="alert alert-danger alert-dismissible fade show" role="alert"
        *ngIf="currentUser && currentUser?.isActive === false">
        <strong>{{ "badge.inactive" | translate }}: </strong>
        {{ "alert.inactiveAccount" | translate }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title d-flex justify-content-between">
                <span>{{ "sideMenu.profile" | translate }}</span>
                <a class="btn btn-sm btn-white" (click)="edit()" *ngIf="!edition && !loading">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-secondary" (click)="edit()" *ngIf="edition && !loading">{{ "action.cancel" |
                  translate }}</a>
                <a class="btn btn-sm btn-success" (click)="submit()" *ngIf="edition && !loading">{{ "action.save" |
                  translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading"></span>
              </h5>
              <div *ngIf="currentUser && currentUser?.verified && edition">
                <br>
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                  {{ "alert.verifiedAccount" | translate }}
                </div>
              </div>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <img src="assets/img/new/loader.gif" width="20px">
            </div>
            <div class="card-body" *ngIf="userData">
              <form [formGroup]="form" (ngSubmit)="submit()">
                <ul class="list-unstyled row">
                  <li class="mt-3 py-0 col-md-6" *ngIf="userData?.accountType === 'organisation'">
                    <i class="feather icon-user" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "profile.name" | translate }} *</small>
                    <input type="text" formControlName="name" class="form-control"
                      [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched">
                    <div class="invalid-feedback" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 py-0 col-md-6" *ngIf="userData?.accountType === 'personal'">
                    <i class="feather icon-user" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "auth.firstName" | translate }} *</small>
                    <input type="text" formControlName="firstName" class="form-control"
                      [class.is-invalid]="form.get('firstName')?.invalid && form.get('firstName')?.touched">
                    <div class="invalid-feedback"
                      *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 py-0 col-md-6" *ngIf="userData?.accountType === 'personal'">
                    <i class="feather icon-user" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "auth.lastName" | translate }} *</small>
                    <input type="text" formControlName="lastName" class="form-control"
                      [class.is-invalid]="form.get('lastName')?.invalid && form.get('lastName')?.touched">
                    <div class="invalid-feedback"
                      *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6" *ngIf="currentUser.accountType ==='personal'">
                    <i class="feather icon-user" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "profile.gender" | translate }}</small>
                    <select class="select form-select form-control" formControlName="gender"
                      [class.is-invalid]="form.get('gender')?.invalid && form.get('gender')?.touched">
                      <option value="male" selected>{{ "profile.male" | translate }}</option>
                      <option value="female">{{ "profile.femal" | translate }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('gender')?.invalid && form.get('gender')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-map-pin" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "auth.country" | translate }}</small>
                    <input type="text" class="form-control" value="{{userData?.countryId.name}}" disabled>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-map-pin" style="margin-right: 5px;"></i><small class="text-dark">
                      {{ "auth.city" | translate }}</small>
                    <select id="city" formControlName="cityId" class="form-select"
                      [class.is-invalid]="form.get('cityId')?.invalid && form.get('cityId')?.touched">
                      <option *ngFor="let city of allCities" value="{{city._id}}">
                        {{city.name}}
                      </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('cityId')?.invalid && form.get('cityId')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-user" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "lang.title" | translate }}</small>
                    <select class="select form-select form-control" formControlName="language">
                      <img src="assets/icons/fr-flag.svg" alt="" style="width: 15px; height: 12px;">
                      <option value="fr" selected>{{ "lang.fr" | translate }}</option>
                      <option value="en">{{ "lang.en" | translate }}</option>
                    </select>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-map-pin" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "mail.address" | translate }}</small>
                    <input type="text" formControlName="address" *ngIf="userData?.phone" class="form-control"
                      [class.is-invalid]="form.get('address')?.invalid && form.get('address')?.touched">
                    <div class="invalid-feedback" *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-phone" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "terms.phone" | translate }}</small>
                    <input type="text" formControlName="phone" class="form-control"
                      [class.is-invalid]="form.get('phone')?.invalid && form.get('phone')?.touched">
                    <div class="invalid-feedback" *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
                      {{ "auth.requiredField" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-mail" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "terms.email" | translate }}</small>
                    <small class="text-dark" *ngIf="edition"><br>
                      <button class="btn btn-light">
                        <i class="feather icon-edit"></i> {{ "profile.changeEmail" | translate }}
                      </button>
                    </small>
                    <input type="text" class="form-control" value="{{userData?.email}}" disabled>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <i class="feather icon-mail" style="margin-right: 5px;"></i>
                    <small class="text-dark">{{ "auth.password" | translate }}</small>
                    <small class="text-dark" *ngIf="edition"><br>
                      <button class="btn btn-light">
                        <i class="feather icon-edit"></i> {{ "profile.changePassword" | translate }}
                      </button>
                    </small>
                    <input type="text" class="form-control" value="*********" disabled>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/web.webp" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">{{ "profile.website" | translate }}</small>
                    <input type="text" formControlName="website" class="form-control"
                      [class.is-invalid]="form.get('website')?.invalid && form.get('website')?.touched">
                    <div class="invalid-feedback" *ngIf="form.get('website')?.invalid && form.get('website')?.touched">
                      {{ "profile.invalidUrl" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/linkedIn.png" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">LinkedIn</small>
                    <input type="text" formControlName="linkedIn" class="form-control"
                      [class.is-invalid]="form.get('linkedIn')?.invalid && form.get('linkedIn')?.touched">
                    <div class="invalid-feedback"
                      *ngIf="form.get('linkedIn')?.invalid && form.get('linkedIn')?.touched">
                      {{ "profile.invalidUrl" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/facebook.png" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">Facebook</small>
                    <input type="text" formControlName="facebook" class="form-control"
                      [class.is-invalid]="form.get('facebook')?.invalid && form.get('facebook')?.touched">
                    <div class="invalid-feedback"
                      *ngIf="form.get('facebook')?.invalid && form.get('facebook')?.touched">
                      {{ "profile.invalidUrl" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/x.webp" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">Twitter</small>
                    <input type="text" formControlName="twitter" class="form-control"
                      [class.is-invalid]="form.get('twitter')?.invalid && form.get('twitter')?.touched">
                    <div class="invalid-feedback" *ngIf="form.get('twitter')?.invalid && form.get('twitter')?.touched">
                      {{ "profile.invalidUrl" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/instagram.png" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">Instagram</small>
                    <input type="text" formControlName="instagram" class="form-control"
                      [class.is-invalid]="form.get('instagram')?.invalid && form.get('instagram')?.touched">
                    <div class="invalid-feedback"
                      *ngIf="form.get('instagram')?.invalid && form.get('instagram')?.touched">
                      {{ "profile.invalidUrl" | translate }}
                    </div>
                  </li>

                  <li class="mt-3 pb-0 col-md-6">
                    <img src="assets/img/ressorces/whatsapp.webp" alt="" style="width: 15px; margin-right: 5px;">
                    <small class="text-dark">Whatsapp</small>
                    <small class="text-dark" *ngIf="edition"><br>
                      <button class="btn btn-light">
                        <i class="feather icon-edit"></i> {{ "profile.changeWhatsapp" | translate }}
                      </button>
                    </small>
                    <input type="text" value="{{userData?.whatsapp}}" class="form-control" disabled>
                  </li>

                </ul>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body card-body-height" *ngIf="userData">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "profile.aboutYou" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editDescription()" *ngIf="!descriptionEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editDescription()" *ngIf="descriptionEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveData()" *ngIf="descriptionEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <p *ngIf="currentUser && !descriptionEdition">{{ description }} </p>
              <textarea class="form-control" rows="8" *ngIf="currentUser && descriptionEdition" name="" id=""
                [(ngModel)]="description"></textarea>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </div>
          </div>
          <div class="card" *ngIf="userData && userData?.accountType === 'organisation' || currentUser?.isAdmin === true">
            <div class="card-body card-body-height" *ngIf="userData">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.headTitle" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editHeadTitlePortalPage()" *ngIf="!headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editHeadTitlePortalPage()" *ngIf="headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveData('headTitlePortal')" *ngIf="headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <p *ngIf="currentUser && !headTitlePortalEdition">{{ headTitlePortal }} </p>
              <textarea class="form-control" rows="8" maxlength="55" *ngIf="currentUser && headTitlePortalEdition" name="" id=""
                [(ngModel)]="headTitlePortal"></textarea><span *ngIf="headTitlePortalEdition">max 55</span>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </div>
          </div>
          <div class="card" *ngIf="userData && userData?.accountType === 'organisation' || currentUser?.isAdmin === true">
            <div class="card-body card-body-height" *ngIf="userData">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.headText" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editHeadTextPortalPage()" *ngIf="!headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editHeadTextPortalPage()" *ngIf="headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveData('headTextPortal')" *ngIf="headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <p *ngIf="currentUser && !headTextPortalEdition">{{ headTextPortal }} </p>
              <textarea class="form-control" rows="8" maxlength="350" *ngIf="currentUser && headTextPortalEdition" name="" id=""
                [(ngModel)]="headTextPortal"></textarea> <span *ngIf="headTextPortalEdition">max 350</span>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </div>
          </div>
          <app-dev [ableToShow]="ableToShow" [userData]="currentUser" *ngIf="userData && !loading"></app-dev>
          <!-- <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{ "profile.activity" | translate }}</h5>
            </div>
            <div class="card-body card-body-height" *ngIf="userData">
              <ul class="activity-feed">
                <li class="feed-item">
                  <div class="feed-date">{{ formatDate() }} - {{ currentUser.createdAt | date: 'hh:mm' }}</div>
                  <span class="feed-text"><a>Action: </a>{{ "users.accountCreation" | translate }}</span>
                </li>
                <li class="feed-item">
                  <div class="feed-date">{{ formatDate() }} - {{ currentUser.createdAt | date: 'hh:mm' }}</div>
                  <span class="feed-text"><a>Action: </a>{{ "users.accountCreation" | translate }}</span>
                </li>
              </ul>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <img src="assets/img/new/loader.gif" width="20px">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->