<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Calendar</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#add_event">Create Event</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->
<div class="row">
  <div class="col-lg-3 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-2">Drag & Drop Event</h5>
        <div id="calendar-events" class="mb-3">
          <div class="calendar-events" data-class="bg-info">
            <i class="fas fa-circle text-info"></i> My Event One
          </div>
          <div class="calendar-events" data-class="bg-success">
            <i class="fas fa-circle text-success"></i> My Event Two
          </div>
          <div class="calendar-events" data-class="bg-danger">
            <i class="fas fa-circle text-danger"></i> My Event Three
          </div>
          <div class="calendar-events mb-3" data-class="bg-warning">
            <i class="fas fa-circle text-warning"></i> My Event Four
          </div>
          <div class="checkbox mb-3">
            <input id="drop-remove" class="margin-drop" type="checkbox" />
            <label for="drop-remove"> Remove after drop </label>
          </div>
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#add_new_event"
            class="btn mb-3 btn-primary btn-block w-100">
            <i class="fas fa-plus"></i> Add Category
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-8">
    <div class="card bg-white">
      <div class="card-body">
        @if (calendarVisible) {
          <full-calendar [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
              <b>{{ arg.timeText }}</b>
              <i>{{ arg.event.title }}</i>
            </ng-template>
          </full-calendar>
        }
      </div>
    </div>
  </div>
</div>

<!-- Add Event Modal -->
<div id="add_event" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Add Event</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span class="align-center" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-block mb-3">
            <label for="Event">Event Name <span class="text-danger">*</span></label>
            <input class="form-control" type="text">
          </div>
          <div class="input-block mb-3">
            <label for="Event">Event Date <span class="text-danger">*</span></label>
            <div class="cal-icon">
              <input class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text">
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Event Modal -->

<!-- Add Category Modal -->
<div class="modal custom-modal fade" id="add_new_event">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Add Category</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span class="align-center" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="input-block mb-3">
            <label for="Category">Category Name</label>
            <input class="form-control form-white" placeholder="Enter name" type="text">
          </div>
          <div class="input-block mb-0">
            <label for="Choose">Choose Category Color</label>
            <select class="form-control form-white select2" data-placeholder="Choose a color..." name="category-color">
              <option value="success">Success</option>
              <option value="danger">Danger</option>
              <option value="info">Info</option>
              <option value="primary">Primary</option>
              <option value="warning">Warning</option>
              <option value="inverse">Inverse</option>
            </select>
          </div>
          <div class="submit-section">
            <button type="button" class="btn btn-primary save-category submit-btn" data-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Category Modal -->