<!-- Header -->
<div
  class="header header-one">
  <a [routerLink]="routes.dashboard"  class="d-inline-flex d-sm-inline-flex align-items-center d-md-inline-flex d-lg-none align-items-center device-logo">
    <img src="assets/img/ressorces/dk_logo.png" class="img-fluid logo2" alt="Logo" style="width: 120px">
</a>
<div class="main-logo d-inline float-start d-lg-flex align-items-center d-none d-sm-none d-md-none">
  <div class="logo-white">
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/ressorces/dk_logo.png" class="img-fluid logo-blue" alt="Logo" style="width: 120px">
    </a>
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/ressorces/dk_logo.png" class="img-fluid logo-small" alt="Logo" style="width: 120px">
    </a>
  </div>
  <div class="logo-color">
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/ressorces/dk_logo.png" class="img-fluid logo-blue" alt="Logo" style="width: 120px">
    </a>
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/ressorces/dk_logo.png" class="img-fluid logo-small" alt="Logo" style="width: 120px">
    </a>
  </div>
</div>
  <!-- Sidebar Toggle -->
  <a (click)="toggleSideBar()" href="javascript:void(0);" id="toggle_btn">
    <span class="toggle-bars">
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
    </span>
  </a>
  <!-- /Sidebar Toggle -->

  <!-- Search -->
  <!-- <div class="top-nav-search">
    <form>
      <input type="text" class="form-control" placeholder="Search here" />
      <button class="btn" type="submit">
        <img src="assets/img/icons/search.svg" alt="img" />
      </button>
    </form>
  </div> -->
  <!-- /Search -->

  <!-- Mobile Menu Toggle -->
  <a href="javascript:void(0);" class="mobile_btn" (click)="toggleMobileIcon()" (keydown.enter)="toggleMobileIcon()" tabindex="0" id="mobile_btn">
    <i class="fas fa-bars"></i>
  </a>
  <!-- /Mobile Menu Toggle -->

  <!-- Header Menu -->
  <ul class="nav nav-tabs user-menu">
    <li class="nav-item has-arrow dropdown-heads">
      <a href="javascript:void(0);" class="win-maximize" (click)="fullscreen()">
        <i class="feather icon-maximize"></i>
      </a>
    </li>

    <!-- User Menu -->

    <li class="nav-item dropdown">
      <a
        href="javascript:void(0)"
        class="user-link nav-link"
        data-bs-toggle="dropdown"
      >
        <span class="user-img">
          <img
            src="assets/img/new/user.png"
            alt="img"
            class="profilesidebar"
          />
          <span class="animate-circle"></span>
        </span>
        <span class="user-content">
          <span class="user-details">Flambel SANOU</span>
          <!-- <span class="user-name">{{userData.firstName}} {{userData.lastName}}</span> -->
        </span>
      </a>
      <div class="dropdown-menu menu-drop-user">
        <div class="profilemenu">
          <div class="subscription-menu">
            <ul>
              <li>
                <a class="dropdown-item" [routerLink]="routes.profile"
                  >Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="routes.profileSettings"
                  >Settings</a
                >
              </li>
            </ul>
          </div>
          <div class="subscription-logout">
            <ul>
              <li class="pb-0">
                <a href="javascript:void(0);" class="dropdown-item" (click)="logOut()">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <!-- /User Menu -->
  </ul>
  <!-- /Header Menu -->
</div>
<!-- /Header -->
