<!-- Sign In -->
<div class="row gx-0">
  <!-- Banner Content -->
  <div class="col-lg-6">
    <div class="authentication-wrapper">
      <div class="authentication-content">
        <h1>{{ 'auth.leftRegisterMessage' | translate }}</h1>
        <p>{{ 'auth.leftRegisterSubMessage' | translate }}</p>
      </div>
      <div class="authen-img">
        <img src="assets/img/saas-login-img.png" alt="" />
      </div>
      <div class="login-bg-img">
        <img src="assets/img/saas-login-bg-04.png" class="img-fluid vector-bg-four" alt="Img" />
      </div>
    </div>
  </div>
  <!-- /Banner Content -->

  <!-- login Content -->
  <div class="col-lg-6">
    <div class="saas-login-wrapper p-0">
      <div class="login-content">
        <form [formGroup]="form" *ngIf="form">
          <div class="login-userset">
            <div class="login-logo">
              <img src="assets/img/ressorces/dk_logo.png" alt="Logo" />
            </div>
            <div class="login-card">
              <div class="login-heading">
                <h3>Create an Account</h3>
                <p>Sign Up Instantly to get free trail for 14 days!!!</p>
              </div>
              <div class="input-block mb-3">
                <label htmlFor="label">{{ 'auth.accountType' | translate}} *</label>
                <select id="accountType" formControlName="accountType" class="form-select"
                  (change)="accountTypeOnSelect($event)">
                  <option value="personal" selected (click)="updateFormStructure('personal')">{{ 'auth.personal' |
                    translate }}</option>
                  <option value="organisation" (click)="updateFormStructure('organisation')">{{ 'auth.organisation' |
                    translate }}</option>
                </select>
              </div>
              <div class="input-block mb-3" *ngIf="formType === 'organisation'">
                <label class="form-label">{{ 'auth.organisationName' | translate }}</label>
                <input type="text" formControlName="name" class="form-control"
                  placeholder="{{ 'auth.organisationName' | translate }}" />
              </div>
              <div class="input-block mb-3" *ngIf="formType === 'personal'">
                <label class="form-label">{{ 'auth.firstName'| translate }}</label>
                <input type="text" formControlName="firstName" class="form-control"
                  placeholder="{{ 'auth.needFirstName'| translate }}" />
              </div>
              <div class="input-block mb-3" *ngIf="formType === 'personal'">
                <label class="form-label">{{ 'auth.lastName'| translate }}</label>
                <input type="text" formControlName="lastName" class="form-control"
                  placeholder="{{ 'auth.needLastName'| translate }}" />
              </div>
              <div class="input-block mb-3">
                <label htmlFor="country">{{ 'auth.country' | translate}} *</label>
                <div class="col-lg-12">
                  <div class="input-group">
                    <img [src]="flagCountry" alt="" class="flag" slot="start" style="width: 30px; margin: 7px 5px;">
                    <select id="country" formControlName="countryId" *ngIf="!gettingLocations"
                      (change)="onSelect($event)" class="form-select" (onChange)="accountTypeOnSelect($event)">
                      <option value="" selected></option>
                      <option *ngFor="let country of countries" [value]="country._id">
                        {{ country.name | translate}}
                      </option>
                    </select>
                    <span id="basic-addon1" class="form-select" *ngIf="gettingLocations">
                      <div class="spinner-border" role="status"></div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="input-block mb-3">
                <label htmlFor="city">{{ 'auth.city' | translate}} *</label>
                <div class="col-lg-12">
                  <div class="input-group">
                    <select id="city" formControlName="cityId" *ngIf="!gettingLocations" class="form-select">
                      <option *ngFor="let city of cities" value="{{city._id}}">
                        {{city.name}}
                      </option>
                    </select>
                    <img src="assets/img/new/loader.gif" width="15px" alt="" *ngIf="gettingLocations"
                      class="form-select">
                  </div>
                </div>
              </div>
              <div class="input-block mb-3 row">
                <label htmlFor="phone">{{ 'auth.phone' | translate}} *</label>
                <div class="col-lg-12">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">{{contryCode}}</span>
                    <input id="phone" type="text" formControlName="phone" class="form-control" placeholder="phone"
                      aria-label="Username" aria-describedby="basic-addon1" />
                  </div>
                </div>
              </div>
              <div class="input-block mb-3">
                <label htmlFor="email" class="form-label">{{ 'auth.emailAddres'| translate }}</label>
                <input type="email" id="email" formControlName="email" class="form-control"
                  placeholder="{{ 'auth.needEmail'| translate }}" />
              </div>
              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.password' | translate }} *</label>
                <div class="pass-group">
                  <input class="form-control" label="" formControlName="password" [type]="type ? 'password' : 'text'"
                    placeholder="{{ 'auth.enterPassword' | translate }}" minlength="8" />
                  <a href="javascript:void(0);" (click)="changeType()">
                    <span [ngClass]="
                        type
                          ? 'fas toggle-password fa-eye-slash'
                          : 'fas toggle-password fa-eye'
                      "></span>
                  </a>
                </div>
              </div>
              <div class="input-block mb-3">
                <div class="form-check custom-checkbox mb-0">
                  <input type="checkbox" class="form-check-input" id="terms" formControlName="agreeTerms" />
                  <label htmlFor="terms" class="custom-control-label mb-0" for="terms">
                    {{ 'auth.agree' | translate }} <a (click)="navigateToTerms()" style="color: orange;">{{
                      'auth.terms' | translate }}</a>.
                  </label>
                </div>
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-primary" *ngIf="!isLoading">
                {{ 'auth.register' | translate }}
              </button>
              <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-light w-100" type="submit" disabled
                *ngIf="isLoading">
                <div class="spinner-border" role="status"></div>
              </button>
            </div>
            <div class="acc-in">
              <p>
                {{ 'auth.allreadyHaveAccount' | translate }} ?
                <a [routerLink]="routes.sassLogin"> {{ 'auth.login' | translate }}</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /Login Content -->
</div>
<!-- /Sign In -->