<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title">{{ "profile.devSpace" | translate }}</h5>
    <p>API Kes</p>
  </div>
  <div class="card-body card-body-height" *ngIf="ableToShow && keyData && keyData.status === true">
    <div *ngIf="showKey" (click)="toggleShowKey()">
      Show key <i class="feather icon-eye-off" style="margin-left: 10px;"></i>
    </div>
    <div *ngIf="!showKey" (click)="toggleShowKey()">
      Hidde key <i class="feather icon-eye" style="margin-left: 10px;"></i>
    </div>
    <br><br>
    <small class="text-dark">User Id 
      <i class="feather icon-copy me-2" style="margin-left: 10px;" (click)="copy(keyData?.userId)"></i></small>
      <input *ngIf="showKey" type="text" class="form-control" [value]="keyData?.userId || ''" disabled>
      <input *ngIf="!showKey" type="text" class="form-control" value="**************" disabled>

    <br>
    <small class="text-dark">Secret Key
      <i class="feather icon-copy me-2" style="margin-left: 10px;" (click)="copy(keyData?.secretKey)"></i>
    </small>
    <input *ngIf="showKey" type="text" class="form-control" [value]="keyData?.secretKey" disabled>
    <input *ngIf="!showKey" type="text" class="form-control" value="**************'" disabled>

    <br>
    <small class="text-dark">Public Key
      <i class="feather icon-copy me-2" style="margin-left: 10px;" (click)="copy(keyData?.publicKey)"></i>
    </small>
    <input *ngIf="showKey" type="text" class="form-control" [value]="keyData?.publicKey" disabled>
    <input *ngIf="!showKey" type="text" class="form-control" value="**************'" disabled>
    <!-- <div class="card-header d-flex justify-content-between">
          <h5 class="card-title">{{ "profile.description" | translate }}</h5>
          <a class="btn btn-sm btn-white" (click)="editDescription()" *ngIf="!descriptionEdition && !loading2">
            <i class="feather icon-edit"></i>
            {{ "action.edit" | translate }}</a>
          <a class="btn btn-sm btn-white" (click)="editDescription()" *ngIf="descriptionEdition && !loading2">
            <i class="feather icon-edit"></i>
            {{ "action.cancel" | translate }}</a>
          <a class="btn btn-sm btn-success" (click)="saveDescription()" *ngIf="descriptionEdition && !loading2">
            <i class="feather icon-edit"></i>
            {{ "action.save" | translate }}</a>
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
            *ngIf="loading2"></span>
        </div>
      <p *ngIf="currentUser && !descriptionEdition">{{ description }} </p>
      <textarea class="form-control" rows="8" *ngIf="currentUser && descriptionEdition" name="" id=""
        [(ngModel)]="description"></textarea> -->
  </div>
  <div class="card-body card-body-height" *ngIf="ableToShow">
    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" *ngIf="!keyData"></span>
  </div>
  <!-- <div class="card-body" *ngIf="!ableToShow || keyData.status !== true" style="text-align: left;">
    Pour obtenir vos clés d'intégration, vous devez vous assurer d'avoir ces exigentces: <br>
    <ul>
      <li>1. Avoir un compte de type Organisation</li>
      <li>2. Avoir passé l'étape de vérification</li>
      <li>3. Avoir activé activé l'accès à votre compte via API</li>
    </ul>
  </div> -->
</div>