<div class="subscription-plane-head" *ngIf="!isAdminRoute">
  <ul>
    <li>
      <a [routerLink]="'/subscription/packages'" (click)="verifyRoute()"
      [class]="isPackage ? 'active' : ''">{{ 'subscriptions.myPlan' | translate }} </a>
    </li>
    <li>
      <a [routerLink]="'/subscription/subscription'" (click)="verifyRoute()"
      [class]="!isPackage ? 'active' : ''">{{ 'subscriptions.myList' | translate }}</a>
    </li>
  </ul>
</div>
<div class="subscription-plane-head" *ngIf="isAdminRoute">
  <ul>
    <li>
      <a [routerLink]="'/admin-subscription/packages'" (click)="verifyRoute()"
      [class]="isPackage ? 'active' : ''">{{ 'subscriptions.allSystemPlan' | translate }} </a>
    </li>
    <li>
      <a [routerLink]="'/admin-subscription/subscription'" (click)="verifyRoute()"
      [class]="!isPackage ? 'active' : ''">{{ 'subscriptions.allSystemList' | translate }}</a>
    </li>
  </ul>
</div>
<!-- Page Header -->
 <router-outlet></router-outlet>