<div class="page-header">
    <div class="content-page-header page-tilte">
        <h5 style="color: black !important;">
            <img src="assets/img/resources/flutterwave2.png" alt="" style="max-width: 50px; margin-right: 10px;">
            Flutterwave {{ selectedCountry?.name | translate }}
        </h5>
        <div class="page-content">
            <div class="list-btn">
                <ul class="filter-list">
                    <li *ngIf="status === true"
                        style="background-color: #04850e; color: #fff; padding: 3px 5px; border-radius: 3px;">
                        {{ "users.enabled" | translate }}
                    </li>
                    <li *ngIf="status != true"
                        style="background-color: #850404; color: #fff; padding: 3px 5px; border-radius: 3px;">
                        {{ "users.disabled" | translate }}
                    </li>
                    <li (click)="changeUserActiveStatus()" *ngIf="status != true">
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Enable"><span><i class="feather icon-power"
                                    style="color: #04c714"></i></span></a>
                    </li>
                    <li (click)="changeUserActiveStatus()" *ngIf="status === true">
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Disable"><span><i class="feather icon-power"
                                    style="color: #df0404"></i></span></a>
                    </li>
                    <li>
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Refresh" (click)="refresh()"><span><i
                                    class="feather icon-refresh-ccw"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="card customer-details-group">
    <div class="card-body">
        <div *ngIf="gettingSolde">
            <div class="d-flex justify-content-center">
                <img src="assets/img/resources/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;">
            </div>
        </div>
        <div class="row align-items-center" *ngIf="!gettingSolde">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="customer-details">
                    <div class="d-flex align-items-center">
                        <span class="customer-widget-img d-inline-flex">
                            <img class="rounded-circle" [src]="selectedCountry?.flagUrl" alt="image">
                        </span>
                        <div class="customer-details-cont">
                            <h6>
                                {{ selectedCountry?.currency }} {{ solde | number:'1.2-2' }}
                            </h6>
                            <p style="font-size: 0.5rem;">
                                <b>
                                    {{ 'flutterwave.balance' | translate }} {{ selectedCountry?.name | translate }}
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h6 *ngIf="!gettingSolde" style="margin-bottom: 10px;">{{ "flutterwave.otherCurrencyBalances" | translate }}
        </h6>
        <div class="row align-items-center" *ngIf="!gettingSolde">
            <div class="col-xl-2 col-lg-2 col-md-6 col-12" *ngFor="let os of otherSolde">
                <div class="customer-details">
                    <div class="d-flex align-items-center">
                        <div class="customer-details-cont">
                            <h6>
                                {{ os.currency }} {{ os.available_balance | number:'1.2-2' }}
                            </h6>
                            <p style="font-size: 0.5rem;">
                                <b>
                                    {{ "flutterwave.fwBalance" | translate }} {{ os.currency }}
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ "sideMenu.payin" | translate }}</h5>
                <select id="label" class="form-select" (change)="onSelectInPeriode($event)" id="country"
                    *ngIf="!gettingPayinTransactions" [value]="periodePayin">
                    <option value="1">{{ "flutterwave.lastMonth" | translate }}</option>
                    <option value="6">{{ "flutterwave.last6Months" | translate }}</option>
                    <option value="12">{{ "flutterwave.last12Months" | translate }}</option>
                    <option value="24">{{ "flutterwave.last24Months" | translate }}</option>
                </select>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0" *ngIf="!gettingPayinTransactions && payinList?.length > 0">
                        <thead>
                            <tr>
                                <th>{{ "subscriptions.name" | translate }}</th>
                                <th>{{ "payment.amount" | translate }}</th>
                                <th>{{ "payment.taxes" | translate }}</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        .
                        <tbody>
                            <tr *ngFor="let p of payinList" [ngClass]="{
                                'table-success': p.status === 'successful',
                                'table-light': p.status === 'pending',
                                'table-danger': p.status === 'failed'
                                }" (click)="selectPayinTransaction(p)" href="javascript:void(0);"
                                data-bs-toggle="modal" data-bs-target="#payin_transaction_details">
                                <td style="color: black !important;">{{ p.customer.name}}</td>
                                <td style="color: black !important;">{{ p.amount | number:'1.2-2' }} {{ p.currency }}</td>
                                <td style="color: black !important;">{{ p.app_fee | number:'1.2-2' }} {{ p.currency }}</td>
                                <td style="color: black !important;">{{ p.created_at | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table><br>
                    <div *ngIf="!gettingPayinTransactions && payinList?.length > 0">
                        <button class="btn btn-block btn-outline-light active" (click)="previousPayinPage()"
                            [disabled]="payinPage === 1">
                            << </button>
                                <button class="btn btn-block btn-outline-light active">{{ payinPage }}</button>
                                <button class="btn btn-block btn-outline-light active" (click)="nextPayinPage()"
                                    [disabled]="payinList?.length < 10"> >> </button>
                    </div>
                    <div *ngIf="gettingPayinTransactions" class="row d-flex align-items-cente justify-content-center">
                        <!-- <img src="assets/img/resources/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"> -->
                        <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                            <span class="visually-hidden">{{ "loading" | translate }}...</span>
                        </div>
                    </div>

                    <div *ngIf="!gettingPayinTransactions && payinList?.length < 1"
                        class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            <img src="assets/img/resources/nts.png" alt="" style="max-width: 150px;
                                    height: auto;">
                        </div>
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            {{ "nts" | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ "sideMenu.payout" | translate }}</h5>
                <select id="label" class="form-select" (change)="onSelectOutPeriode($event)" id="country"
                    *ngIf="!gettingPayoutTransactions" [value]="periodePayout">
                    <option value="1">{{ "flutterwave.lastMonth" | translate }}</option>
                    <option value="6">{{ "flutterwave.last6Months" | translate }}</option>
                    <option value="12">{{ "flutterwave.last12Months" | translate }}</option>
                    <option value="24">{{ "flutterwave.last24Months" | translate }}</option>
                </select>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0" *ngIf="!gettingPayoutTransactions && payoutList?.length > 0">
                        <thead>
                            <tr>
                                <th>{{ "subscriptions.name" | translate }}</th>
                                <th>{{ "payment.amount" | translate }}</th>
                                <th>{{ "payment.bank" | translate }}</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        .
                        <tbody>
                            <tr *ngFor="let p of payoutList" [ngClass]="{
                                'table-success': p.status === 'SUCCESSFUL',
                                'table-light': p.status === 'PENDING',
                                'table-danger': p.status === 'FAILED'
                                }" (click)="selectPayoutTransaction(p)" href="javascript:void(0);"
                                data-bs-toggle="modal" data-bs-target="#payout_transaction_details">
                                <td style="color: black !important;">{{ p.full_name}}</td>
                                <td style="color: black !important;">{{ p.amount | number:'1.2-2' }} {{ p.currency }}</td>
                                <td style="color: black !important;">{{ p.bank_name }}</td>
                                <td style="color: black !important;">{{ p.created_at | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                            </tr>
                        </tbody>
                    </table><br>
                    <div *ngIf="!gettingPayoutTransactions && payoutList?.length > 0">
                        <button class="btn btn-block btn-outline-light active" (click)="previousPayoutPage()"
                            [disabled]="payoutPage === 1">
                            << </button>
                                <button class="btn btn-block btn-outline-light active">{{ payoutPage }}</button>
                                <button class="btn btn-block btn-outline-light active" (click)="nextPayoutPage()"
                                    [disabled]="payoutList?.length < 10"> >> </button>
                    </div>
                    <div *ngIf="gettingPayoutTransactions" class="row d-flex align-items-cente justify-content-center">
                        <!-- <img src="assets/img/resources/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"> -->
                        <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                            <span class="visually-hidden">{{ "loading" | translate }}...</span>
                        </div>
                    </div>

                    <div *ngIf="!gettingPayoutTransactions && payoutList?.length < 1"
                        class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            <img src="assets/img/resources/nts.png" alt="" style="max-width: 150px;
                                    height: auto;">
                        </div>
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            {{ "nts" | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal custom-modal fade p-20" id="payout_transaction_details" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">{{ 'payment.transactionDetails' | translate }}</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img-upload">
                                <div class="profile-img company-profile-img"
                                    *ngIf="selectedPayoutTransaction?.status === 'SUCCESSFUL'">
                                    <button class="btn btn-rounded btn-outline-success me-1">{{ "payment.success" |
                                        translate }} </button>
                                </div>
                                <div class="profile-img company-profile-img"
                                    *ngIf="selectedPayoutTransaction?.status === 'FAILED'">
                                    <button class="btn btn-rounded btn-outline-danger me-1">{{ "payment.error" |
                                        translate }} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="profile-picture">
                                <div class="upload-profile">
                                    <div class="profile-img company-profile-img">
                                        <img id="company-img" class="img-fluid me-0" [src]="selectedCountry?.flagUrl"
                                            alt="profile-img">
                                    </div>
                                    <div class="add-profile">
                                        <h5>{{ selectedPayoutTransaction?.amount }} {{
                                            selectedPayoutTransaction?.currency }}</h5>
                                        <span>
                                            {{ "payment.amount" | translate }}: {{ selectedPayoutTransaction?.amount }}
                                            {{
                                            selectedPayoutTransaction?.currency }} |
                                            {{ "payment.taxes" | translate }}: {{ selectedPayoutTransaction?.fee }}
                                            {{
                                            selectedPayoutTransaction?.currency }}</span>
                                    </div>
                                </div>
                                <div class="img-upload">
                                    <!-- <label class="btn btn-upload">
                                        Upload <input type="file">
                                    </label>
                                    <a class="btn btn-remove">Remove</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="form-title mb-3">{{ "subscriptions.planInfo" | translate }}</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>ID</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.id" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Ref</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.reference" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>{{ "payment.bank" | translate }}</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.bank_name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>{{ "payment.bankCode" | translate }}</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.bank_code" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>{{ "users.creationDate" | translate }}</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.created_at" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>{{ "terms.name" | translate }}</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.full_name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Narration</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.narration" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Message</label>
                                <textarea type="text" class="form-control" placeholder=""
                                    [value]="selectedPayoutTransaction?.complete_message" disabled></textarea>
                            </div>
                        </div>
                        <h6>Meta</h6>
                        <div class="col-sm-12 col-md-12">
                            <div class="option-space">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Beneficiary country</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="metaPayoutTransaction?.beneficiary_country" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Sender</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="metaPayoutTransaction?.sender" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Sender address</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="metaPayoutTransaction?.sender_address" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Sender country</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="metaPayoutTransaction?.sender_country" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Sender mobile number</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="metaPayoutTransaction?.sender_mobile_number" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="modal-body">
                {{ "rawData" | translate }}:
                <div class="col-sm-12 col-md-12">
                    <div class="option-space">
                        <app-json-viewer [data]="selectedPayoutTransaction"
                            *ngIf="selectedPayoutTransaction"></app-json-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal custom-modal fade p-20" id="payin_transaction_details" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">{{ 'payment.transactionDetails' | translate }}</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img-upload">
                                <div class="profile-img company-profile-img"
                                    *ngIf="selectedPayinTransaction?.status === 'successful'">
                                    <button class="btn btn-rounded btn-outline-success me-1">{{ "payment.success" |
                                        translate }} </button>
                                </div>
                                <div class="profile-img company-profile-img"
                                    *ngIf="selectedPayinTransaction?.status === 'failed'">
                                    <button class="btn btn-rounded btn-outline-danger me-1">{{ "payment.error" |
                                        translate }} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="profile-picture">
                                <div class="upload-profile">
                                    <div class="profile-img company-profile-img">
                                        <img id="company-img" class="img-fluid me-0" [src]="selectedCountry?.flagUrl"
                                            alt="profile-img">
                                    </div>
                                    <div class="add-profile">
                                        <h5>{{ selectedPayinTransaction?.charged_amount }} {{
                                            selectedPayinTransaction?.currency }}</h5>
                                        <span>
                                            {{ "payment.amount" | translate }}: {{ selectedPayinTransaction?.amount }}
                                            {{
                                            selectedPayinTransaction?.currency }} |
                                            {{ "payment.taxes" | translate }}: {{ selectedPayinTransaction?.app_fee }}
                                            {{
                                            selectedPayinTransaction?.currency }}</span>
                                    </div>
                                </div>
                                <div class="img-upload">
                                    <!-- <label class="btn btn-upload">
                                        Upload <input type="file">
                                    </label>
                                    <a class="btn btn-remove">Remove</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="form-title mb-3">{{ "subscriptions.planInfo" | translate }}</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>ID</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.id" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Ref</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.tx_ref" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Flutterwave ref</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.flw_ref" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Ip</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.ip" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Type</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.payment_type" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>{{ "users.creationDate" | translate }}</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.created_at" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Narration</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.narration" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>System Message</label>
                                <textarea type="text" class="form-control" placeholder=""
                                    [value]="selectedPayinTransaction?.processor_response" disabled></textarea>
                            </div>
                        </div>
                        <h6>Customer</h6>
                        <div class="col-sm-12 col-md-12">
                            <div class="option-space">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Id</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="customerPayinTransaction?.id" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>{{ "users.name" | translate }} </label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="customerPayinTransaction?.name" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Date</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="customerPayinTransaction?.created_at" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>{{ "users.phone "}} (Whatsapp)</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="customerPayinTransaction?.phone_number" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-block mb-3">
                                            <label>Sender mobile number</label>
                                            <input type="text" class="form-control" placeholder=""
                                                [value]="customerPayinTransaction?.phone_number" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="modal-body">
                {{ "rawData" | translate }}:
                <div class="col-sm-12 col-md-12">
                    <div class="option-space">
                        <app-json-viewer [data]="selectedPayinTransaction"
                            *ngIf="selectedPayinTransaction"></app-json-viewer>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>