<div class="card">
  <div class="card-body w-100">
    <div class="content-page-header">
      <h5 class="setting-menu">Plan & Billing</h5>
    </div>
    <div id="plan-billing-slider">
      <owl-carousel-o [options]="planBillingOption">
        @for (data of planBillingOwl; track data) {
          <ng-template carouselSlide>
            <div class="owl-carousel-item">
              <div class="packages card" [ngClass]="{'active plan-extra': data.customClass === true}">
                <div class="package-header d-sm-flex justify-content-between">
                  <div class="d-sm-flex">
                    <span class="icon-frame d-flex align-items-center justify-content-center"><img
                    [src]="data.img" alt="img"></span>
                    <div class="">
                      <h5><a href="javascript:void(0);">{{data.name}}</a></h5>
                      <p>{{data.remainingDays}}</p>
                      <a href="javascript:void(0);" class="cancel-subscription">{{data.text}}</a>
                    </div>
                  </div>
                  <div>
                    <h5>{{data.price}}</h5>
                    <p>{{data.billingPeriod}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
    <!-- Search Filter -->
    <div class="row">
      <div class="col-sm-12">
        <div class=" card-table">
          <div class="card-body">
            <div class="table-responsive table-plan-billing">
              <table matSort (matSortChange)="sortData($event)" class="table table-center table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th mat-sort-header="id">#</th>
                    <th mat-sort-header="date">Date</th>
                    <th mat-sort-header="details">Details</th>
                    <th mat-sort-header="status">Status</th>
                    <th>Download</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of planBilling; track data) {
                    <tr >
                      <td>{{data.id}}</td>
                      <td>{{data.date}}</td>
                      <td>
                        {{data.details1}}
                        <p>{{data.details2}}</p>
                      </td>
                      <td>{{data.status}}</td>
                      <td><a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                      class="feather icon-download"></i></a></td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>