<div class="row">
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;09</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-04.jpg"
              alt="User Image"
            />
            Barbara Moore</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$1,54,220</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">23 Mar, 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-success-dark">Paid</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;10</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-06.jpg"
              alt="User Image"
            />
            Karlene Chaidez</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$1,222</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">18 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-danger-dark">Overdue</span>
          </div>
          <div class="col text-end">
            <span class="text-danger text-sm">Overdue 14 days</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;11</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-08.jpg"
              alt="User Image"
            />
            Russell Copeland</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$3,470</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">10 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-secondary-dark">Cancelled</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;12</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-10.jpg"
              alt="User Image"
            />
            Joseph Collins</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$8,265</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">30 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-primary-dark">Sent</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;13</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-11.jpg"
              alt="User Image"
            />
            Jennifer Floyd</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$5,200</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">20 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-secondary-dark">Cancelled</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;14</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-09.jpg"
              alt="User Image"
            />
            Leatha Bailey</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$480</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">15 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-primary-dark">Sent</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;15</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-12.jpg"
              alt="User Image"
            />
            Alex Campbell</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$1,999</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">08 Mar 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-danger-dark">Overdue</span>
          </div>
          <div class="col text-end">
            <span class="text-danger text-sm">Overdue 10 days</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
    <div class="card invoices-grid-card w-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="routes.viewInvoice" class="invoice-grid-link"
          >IN093439#&#64;016</a
        >
        <div class="dropdown dropdown-action">
          <a
            href="javascript:void(0);"
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="routes.editInvoice"
              ><i class="far fa-edit me-2"></i>Edit</a
            >
            <a class="dropdown-item" [routerLink]="routes.viewInvoice"
              ><i class="far fa-eye me-2"></i>View</a
            >
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
          </div>
        </div>
      </div>
      <div class="card-middle">
        <h2 class="card-middle-avatar">
          <a [routerLink]="routes.profileSettings"
            ><img
              class="avatar avatar-sm me-2 avatar-img rounded-circle"
              src="assets/img/profiles/avatar-03.jpg"
              alt="User Image"
            />
            Marie Canales</a
          >
        </h2>
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span><i class="far fa-money-bill-alt"></i> Amount</span>
            <h6 class="mb-0">$2,700</h6>
          </div>
          <div class="col-auto">
            <span><i class="far fa-calendar-alt"></i> Due Date</span>
            <h6 class="mb-0">18 Mar, 2022</h6>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge bg-success-dark">Paid</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="invoice-load-btn">
      <a href="javascript:void(0);" class="btn">
        <span class="spinner-border text-primary"></span> Load more
      </a>
    </div>
  </div>
</div>
