<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Estimate</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="routes.dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="routes.estimatesList">Estimate</a>
        </li>
        <li class="breadcrumb-item active">Add Estimate</li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="addEstimate()" [formGroup]="addEstimateForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label htmlFor="label">Customer<span class="mandatory">*</span></label>
                <select class="form-select" formControlName="customerName">
                  <option>Select Customer</option>
                  <option>Brian Johnson</option>
                  <option>Marie Canales</option>
                  <option>Barbara Moore</option>
                  <option>Greg Lynch</option>
                  <option>Karlene Chaidez</option>
                </select>
                @if (
                  addEstimateForm.get('customerName')?.invalid &&
                  addEstimateForm.get('customerName')?.touched
                  ) {
                  <div
                    >
                    <small class="text-danger">*Name required</small>
                  </div>
                }
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label htmlFor="label">From<span class="mandatory">*</span></label>
                <div class="cal-icon">
                  <input
                    type="text"
                    class="form-control"
                    name="dp"
                    formControlName="estimateFrom"
                    />
                    @if (
                      addEstimateForm.get('estimateFrom')?.invalid &&
                      addEstimateForm.get('estimateFrom')?.touched
                      ) {
                      <div
                        >
                        <small class="text-danger">*From Date required</small>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label htmlFor="label">To<span class="mandatory">*</span></label>
                  <div class="cal-icon">
                    <input
                      type="text"
                      class="form-control"
                      name="dp"
                      formControlName="estimateTo"
                      />
                      @if (
                        addEstimateForm.get('estimateTo')?.invalid &&
                        addEstimateForm.get('estimateTo')?.touched
                        ) {
                        <div
                          >
                          <small class="text-danger">*To Date required</small>
                        </div>
                      }
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mt-3">
                  <div class="form-group">
                    <label htmlFor="label">Estimate Number<span class="mandatory">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="estimateNumber"
                      />
                      @if (
                        addEstimateForm.get('estimateNumber')?.invalid &&
                        addEstimateForm.get('estimateNumber')?.touched
                        ) {
                        <div
                          >
                          <small class="text-danger">*Estimate Number required</small>
                        </div>
                      }
                    </div>
                  </div>
                  <div class="col-md-4 mt-3">
                    <div class="form-group">
                      <label htmlFor="label">Ref Number<span class="mandatory">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="customerRef"
                        />
                        @if (
                          addEstimateForm.get('customerRef')?.invalid &&
                          addEstimateForm.get('customerRef')?.touched
                          ) {
                          <div
                            >
                            <small class="text-danger">*Ref Number required</small>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive mt-4">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Items</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Amount</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" disabled />
                          </td>
                          <td class="add-remove text-end">
                            <i class="fas fa-plus-circle me-1"></i>
                            <i class="fas fa-minus-circle"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" />
                          </td>
                          <td>
                            <input type="text" class="form-control" disabled />
                          </td>
                          <td class="add-remove text-end">
                            <i class="fas fa-plus-circle me-1"></i>
                            <i class="fas fa-minus-circle"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="table-responsive mt-4">
                    <table class="table table-stripped table-center table-hover">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="text-end">Sub Total</td>
                          <td class="text-end">0</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="text-end">Discount</td>
                          <td class="text-end">0</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="text-end">Total</td>
                          <td class="text-end">0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="text-end mt-4">
                    <button type="submit" class="btn btn-primary">Add Estimate</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
