<div class="receipt-wrap receipt-three">
  <div class="receipt-top">
    <div class="receipt-title">{{name}}</div>
    <div class="company-name" style="font-size: small !important; color: black !important;">Payment receipt</div>
  </div>
  <div class="receipt-seperator"></div>
  <div class="receipt-seperator"></div>
  <div class="title" style="font-size: small !important; color: black !important;">Invoice No:
    <span style="font-size: small !important; color: black !important;">{{ receiptId }}</span>
  </div>
  <div class="title" style="font-size: small !important; color: black !important;">Date:
    <span style="font-size: small !important; color: black !important;">{{ tx?.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'
      }}</span>
  </div>
  <div class="title" style="font-size: small !important; color: black !important;">Customer name:
    <span style="font-size: small !important; color: black !important;">--------</span>
  </div>
  <!-- <ul class="customer-list">
      <li>
          <div class="title">Name:</div>
          <div class="desc">John Doe</div>
      </li>
      <li class="text-right me-0">
          <div class="title">Invoice No:</div>
          <div class="desc">{{receiptData?._id}}</div>
      </li>
      <li>
          <div class="title">Customer Id:</div>
          <div class="desc">---</div>
      </li>
      <li class="text-right me-0">
          <div class="title">Date:</div>
          <div class="desc"> {{ receiptData?.updatedAt | date: 'dd-MM-yyyy HH:mm:ss' }}</div>
      </li>
  </ul> -->
  <div class="receipt-seperator"></div>
  <div class="receipt-seperator"></div>
  <table class="receipt-table">
    <thead>
      <tr>
        <th>SL</th>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: small !important; color: black !important;">
        <td>1.</td>
        <td>Payment request</td>
        <td>{{ tx?.estimation }} {{ tx?.receiverCurrency }}</td>
        <td>1</td>
        <td>{{ tx?.estimation }} {{ tx?.receiverCurrency }}</td>
      </tr>
      <!-- <tr>
                  <td>2.</td>
                  <td>Onion (Loose) (5kg)</td>
                  <td>$50</td>
                  <td>2</td>
                  <td>$100</td>
              </tr>
              <tr>
                  <td>3.</td>
                  <td>Mushrooms - Button 1 pack</td>
                  <td>$50</td>
                  <td>3</td>
                  <td>$150</td>
              </tr>                -->
    </tbody>
  </table>
  <div class="receipt-seperator"></div>
  <div class="receipt-seperator"></div>
  <div class="bill-list">
    <!-- <div class="bill_list_in">
      <div class="bill_title">Sub-Total:</div>
      <div class="bill_value">--</div>
    </div>
    <div class="bill_list_in">
      <div class="bill_title">Discount: </div>
      <div class="bill_value">---</div>
    </div>
    <div class="receipt-seperator"></div>
    <div class="bill_list_in">
      <div class="bill_title">Service-charge:</div>
      <div class="bill_value">--</div>
    </div>
    <div class="bill_list_in">
      <div class="bill_title">Tax(5%):</div>
      <div class="bill_value">--</div>
    </div> -->
    <div class="receipt-seperator"></div>
    <div class="bill_list_in" style="font-size: small !important; color: black !important;">
      <div class="bill_title bill_focus">Total Bill:</div>
      <div class="bill_value bill_focus">{{ tx?.estimation }} {{ tx?.receiverCurrency }}</div>
    </div>
    <div class="bill_list_in" style="font-size: small !important; color: black !important;">
      <div class="bill_title bill_focus">Fees:</div>
      <div class="bill_value bill_focus">{{ tx?.taxesAmount }} {{ tx?.receiverCurrency }}</div>
    </div>
    <div class="bill_list_in total-payable" style="font-size: small !important; color: black !important;">
      <div class="bill_title bill_focus">Total Payable:</div>
      <div class="bill_value bill_focus">{{ tx?.paymentWithTaxes }} {{ tx?.receiverCurrency }}</div>
    </div>
  </div>
  <div class="receipt-seperator"></div>
  <div class="sample_text " style="font-size: small !important; color: black !important;">
    Transaction Id: {{ tx?._id }}
    <!-- <img src="assets/img/bar.png"alt="image"> -->
    <app-qr-code [data]="getUrl()" [size]="160" *ngIf="tx"></app-qr-code>
    <br>Contact {{name}}
    <div class="title" style="font-size: small !important; color: black !important;">Phone:
      <span style="font-size: small !important; color: black !important;">{{ phone }}</span>
    </div>
    <div class="title" style="font-size: small !important; color: black !important;">Email:
      <span style="font-size: small !important; color: black !important;">{{ email }}</span>
    </div>
  </div>
  <div class="receipt-seperator"></div>
  <div class="sample_text" style="font-size: small !important; color: black !important;">
    Powered by digiKUNTZ Payments <br>
    payments.digikuntz.com
  </div>
</div>
