<div class="page-header">
  <div class="content-page-header page-tilte d-flex justify-content-between">
    <h5>
      <img src="assets/img/resources/card.png" alt="" style="width: 30px; margin-right: 10px;">
      {{ 'payment.paymentMethods' | translate }}</h5>
  </div>
</div>

<div class="card">
  <div class="card-body w-100">
    <div class="row">
      <div class="form-group-item">
        <div class="row">
          <div class="col-12">
            <div class="payment-toggle">
              <div class="method-icon">
                <img src="assets/img/resources/om.png" alt="" class="method-img" style="width: 100px;">
              </div>
              <h5 class="form-title">Orange Money</h5>
              <div class="status-toggle">
                <input id="rating_1" class="check" type="checkbox" checked="" />
                <label for="rating_1" class="checktoggle checkbox-bg">checkbox</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-item">
        <div class="row">
          <div class="col-12">
            <div class="payment-toggle">
              <div class="method-icon">
                <img src="assets/img/resources/mtn_money.webp" alt="" class="method-img" style="width: 100px;">
              </div>
              <h5 class="form-title">MTN Mobile Money</h5>
              <div class="status-toggle">
                <input id="rating_2" class="check" type="checkbox" checked="" />
                <label for="rating_2" class="checktoggle checkbox-bg">checkbox</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-item border-0 p-0">
        <div class="row">
          <div class="col-12">
            <div class="payment-toggle">
              <div class="method-icon" style="color: #003087;">
                <img src="assets/img/resources/card.png" alt="" class="method-img" style="width: 100px;">
              </div>
              <h5 class="form-title">Card</h5>
              <div class="status-toggle">
                <input id="rating_3" class="check" type="checkbox" [checked]="false" />
                <label for="rating_3" class="checktoggle checkbox-bg">checkbox</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-item border-0 p-0">
        <div class="row">
          <div class="col-12">
            <div class="payment-toggle">
              <div class="method-icon" style="color: #003087;">
                <img src="assets/img/resources/paypal.png" alt="" class="method-img" style="width: 100px;">
              </div>
              <h5 class="form-title">Paypal</h5>
              <div class="status-toggle">
                <input id="rating_4" class="check" type="checkbox" [checked]="false" />
                <label for="rating_4" class="checktoggle checkbox-bg">checkbox</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-item border-0 p-0">
        <div class="row">
          <div class="col-12">
            <div class="payment-toggle">
              <div class="method-icon" style="color: #003087;">
                <img src="assets/img/resources/bank.png" alt="" class="method-img" style="width: 100px;">
              </div>
              <h5 class="form-title">Bank transfer</h5>
              <div class="status-toggle">
                <input id="rating_5" class="check" type="checkbox" [checked]="false" />
                <label for="rating_5" class="checktoggle checkbox-bg">checkbox</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>