<div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Delete your account</h5>
                                </div>
                                <div class="card-body">
                                
                                    <!-- Form -->
                                    <form>
                                        <p class="card-text">When you delete your account, you lose access to Kanakku account services, and we permanently delete your personal data.</p>
                                        <p class="card-text">Are you sure you want to close your account?</p>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input me-1" id="delete_account">
                                                <label class="custom-control-label text-danger" for="delete_account">Confirm that I want to delete my account.</label>
                                            </div>
                                        </div>

                                        <div class="text-end">
                                            <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
                                        </div>
                                    </form>
                                    <!-- /Form -->
                                    
                                </div>
                            </div>