<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card  page-tilte">
                <div class="main-title">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="event-image">
                                <img src="../../../assets/img/ressorces/package_img.png" alt="">
                            </div>
                            <div class="event-type">
                                <i class="fas fa-video"></i> Subscriber
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="event-details">
                                Expire dans <br>
                                <div class="event-countdown">
                                    <div class="countdown-container">
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="days">01</span>
                                            <span class="countdown-label">DAYS</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="hrs">02</span>
                                            <span class="countdown-label">HRS</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="mins">41</span>
                                            <span class="countdown-label">MINS</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="secs">42</span>
                                            <span class="countdown-label">SECS</span>
                                        </div>
                                    </div>
                                </div>
                                <h1>Loyer</h1>
                                <div class="event-time">Here the subtitle</div>
                                <button class="register-button">Register</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="d-flex justify-content-center" style="margin-top: 10 vh">
                <div class="spinner-border spinner" role="status"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    Ici la description du plan
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body sold">
                    <!-- ========= Colonne de résumé ========= -->
                    <aside class="card summary" aria-live="polite">
                        ici les détails du proprio
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>