<div *ngIf="loadingData">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center" style=" padding: 50px;">
                <div class="spinner-border spinner" role="status"></div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loadingData">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div [class]="currentUser ? 'col-md-8' : 'col-md-12'">
                    <div class="card page-tilte">
                        <div class="main-title">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="event-image">
                                        <img [src]="imageUrl" alt="">
                                    </div>
                                    <div *ngIf="!checkingSubscriptionStatus"
                                        [class]="subscriptionStatus?.status === true ? 'status-badge-success' : 'status-badge-danger'">
                                        <span
                                            [class]="subscriptionStatus?.status === true ? 'status-dot-success' : 'status-dot-danger'"></span>
                                        {{ (subscriptionStatus?.status === true ? 'subscriptions.alreadySubscriber' :
                                        'subscriptions.expiredSubscription') |
                                        translate }}
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="event-details">
                                        <h1>{{ planData?.title }}</h1>
                                        <h6 class="event-time" style="margin-bottom: 10px;">{{ planData?.subTitle }}
                                        </h6>

                                        <div class="price-line">
                                            <div class="price">{{ planData?.price }} {{ planData?.currency}}</div>
                                            <div class="price-note"> /
                                                <span *ngIf="planData?.cycle === 'dayly'">{{ 'subscriptions.day' |
                                                    translate }}</span>
                                                <span *ngIf="planData?.cycle === 'weekly'">{{ 'subscriptions.week' |
                                                    translate }}</span>
                                                <span *ngIf="planData?.cycle === 'monthly'">{{ 'subscriptions.month' |
                                                    translate }}</span>
                                                <span *ngIf="planData?.cycle === 'yearly'">{{ 'subscriptions.year' |
                                                    translate }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button class="btn btn-rounded btn-primary me-1" data-bs-toggle="modal"
                                                    data-bs-target="#subscriptionModal"
                                                    *ngIf="currentUser && !isAuthor(planData) && planData?.isActive">
                                                    {{ 'subscriptions.pay' | translate }}</button>
                                                <button class="btn btn-rounded btn-primary me-1" *ngIf="!currentUser"
                                                    (click)="navigateTo('/auth/login')">
                                                    {{ 'auth.login' | translate }}</button>
                                            </div>
                                            <div class="col-md-8" style="text-align: right !important;">
                                                <button class="btn btn-rounded btn-outline-secondary me-1"
                                                    (click)="copyUrl()">
                                                    <i class="feather icon-share-2"></i>
                                                    {{ 'action.share' | translate }}
                                                </button>
                                                <button type="button" *ngIf="isAuthor(planData) || isAdmin"
                                                    class="btn btn-rounded btn-outline-secondary me-1">
                                                    <i class="feather icon-alert-circle"></i>
                                                </button>
                                                <button class="btn btn-rounded btn-outline-secondary me-1"
                                                    *ngIf="isAuthor(planData) || isAdmin">
                                                    <i class="feather icon-edit"></i>
                                                </button>
                                                <button class="btn btn-block me-1"
                                                    (click)="toggleActivation(planData?._id)" [ngClass]=" planData?.isActive === true ?
                                                  'btn-outline-danger':  'btn-outline-success'"
                                                    *ngIf="currentUser && isAuthor(planData) || currentUser && isAdmin">
                                                    <i class="feather icon-power me-1"></i>
                                                </button>
                                                <button class="btn btn-block btn-outline-danger active"
                                                    href="javascript:void(0);" data-bs-toggle="modal"
                                                    data-bs-target="#delete_modal"
                                                    *ngIf="currentUser && isAuthor(planData) || currentUser && isAdmin">
                                                    <i class="feather icon-trash-2"></i>
                                                </button>
                                            </div>
                                            <h6 class="col-md-12"
                                                *ngIf="currentUser && !isAuthor(planData) && planData.isActive">
                                                {{ 'subscriptions.as' | translate }} <b>{{ showName(currentUser)}}</b>
                                            </h6>
                                            <h6 class="col-md-12" *ngIf="!planData?.isActive" style="color: #bf1e1e">
                                                {{ 'subscriptions.plan' | translate }} <b>{{ 'services.disabled' |
                                                    translate }}</b>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="currentUser">
                    <div class="card page-tilte">
                        <div class="countdown-card">
                            <div class="section-title">
                                <span *ngIf="subscriptionStatus?.existingSubscription && !subscriptionStatus?.status">
                                    {{ 'subscriptions.renewSubscription' | translate }} <br>
                                </span>
                                <span *ngIf="subscriptionStatus?.existingSubscription === false">
                                    {{ 'subscriptions.subscriptionToday' | translate }} <br>
                                </span>
                                <span *ngIf="subscriptionStatus?.existingSubscription && subscriptionStatus?.status">
                                    {{ 'subscriptions.subscriptionExpireIn' | translate }} <br>
                                </span>
                            </div>

                            <div class="countdown-grid">
                                <div class="event-countdown" *ngIf="subscriptionStatus?.existingSubscription">
                                    <div class="countdown-container">
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="days">{{ days }}</span>
                                            <span class="countdown-label">{{ 'subscriptions.day' | translate
                                                }}s</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="hrs">{{ hours }}</span>
                                            <span class="countdown-label">HRS</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="mins">{{ minutes }}</span>
                                            <span class="countdown-label">MINS</span>
                                        </div>
                                        <span class="countdown-separator">:</span>
                                        <div class="countdown-item">
                                            <span class="countdown-value" id="secs">{{ seconds }}</span>
                                            <span class="countdown-label">SECS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline" *ngIf="subscriptionStatus?.existingSubscription">
                                <span class="point"></span>
                                <span class="bar"></span>
                                <span class="point" style="background:#cfc7ff;"></span>
                            </div>

                            <div class="timeline-dates">
                                <span *ngIf="subscriptionStatus?.existingSubscription && subscriptionStatus?.status">
                                    {{ 'item.start' | translate }}: {{ getDate(subscriptionStatus?.startDate) }}
                                </span>

                                <span *ngIf="subscriptionStatus?.existingSubscription && subscriptionStatus?.status">
                                    {{ 'item.end' | translate }}: {{ getDate(subscriptionStatus?.endDate) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ planData?.title }} </h3>
                            <h6 style="margin-bottom: 10px; color: #00000050;">{{ planData?.subTitle }} </h6>
                            <a *ngFor="let option of optionsData">
                                <button *ngIf="option?.isActive" class="btn btn-block btn-outline-dark"
                                    style="margin-right: 10px; color: #4e4c4c;">✔
                                    {{ option.title
                                    }}</button>
                                <button *ngIf="!option?.isActive" class="btn btn-block btn-outline-dark">
                                    x {{ option.title
                                    }}</button>
                            </a>
                            <br><br>
                            {{ planData?.description }}
                            <br><br>
                            <app-qr-code [data]="getUrl()" [size]="160" *ngIf="planData"></app-qr-code>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left !important;">
                    <div class="card customer-details-group">
                        <div class="card-body">
                            <h2>{{ 'subscriptions.author' | translate }}</h2>
                            <div class="owner-card">
                                <div>
                                    <img class="avatar"
                                        [src]="planData ? planData?.author.pictureUrl : 'assets/img/new/user.png'" alt="image">
                                </div>
                                <div class="owner-info">
                                    <h3>{{showName(planData?.author)}}</h3>
                                    <div class="owner-id"><b>ID: </b>{{planData?.author._id}}</div>
                                    <div class="owner-contact">
                                        <div><b>Email: </b>{{planData?.author.email}}</div>
                                        <div><b>Phone: </b>{{planData?.author.phone}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Subscriber List -->
<div *ngIf="showSubscriberList()">
    <div class="card" *ngIf="!subscribers">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>{{ 'subscriptions.subscriberList' | translate }}</h3>
                </div>
                <div class="d-flex justify-content-center" style="margin: 50px">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="subscribers">
        <div class="card-body">
            <app-subscriber-list [subscribers]="subscribers"></app-subscriber-list>
        </div>
    </div>
</div>
<!-- /Subscriber List -->

<!-- invoice List -->
<div *ngIf="showInvoiceList()">
    <div class="card" *ngIf="!raw">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>{{ 'payment.invoice' | translate }}</h3>
                </div>
                <div class="d-flex justify-content-center" style="margin: 50px">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="raw">
        <div class="card-body">
            <app-invoice-list [invoiceList]="raw"></app-invoice-list>
        </div>
    </div>
</div>
<!-- /invoice List -->



<!-- calendar view -->
<div *ngIf="showInvoiceList()">
    <div class="card" *ngIf="!items">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>{{ 'payment.invoice' | translate }}</h3>
                </div>
                <div class="d-flex justify-content-center" style="margin: 50px">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="raw">
        <div class="card-body">
            <app-calendar [events]="items"></app-calendar>
        </div>
    </div>
</div>
<!-- / calendar view  -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade modal-delete" id="delete_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <div class="">
                        <span><i class="feather icon-trash" style="color: red; width: 100px !important;"></i></span>
                    </div>
                    <h3>{{ 'subscriptions.deletePlan' | translate }} ?</h3>
                    <p>{{ 'subscriptions.wantDeletePlan' | translate }} <b>{{planData?.title}}</b></p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="modal-footer justify-content-center p-0">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary m-1"
                            (close)="ngOnDestroy()">{{ 'action.cancel'
                            | translate }}</button>
                        <button type="submit" (click)="deletePlan(planData?._id)" class="btn btn-danger m-1"
                            data-bs-dismiss="modal">
                            {{ 'action.delete' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Items Modal -->

<!-- subscribe to plan -->
<div class="modal fade" id="subscriptionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="!goToProceed">
            <div class="modal-header">
                <h5 class="modal-title align-items-center justify-content-center" id="staticBackdropLabel">
                    {{ planData?.title }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (close)="ngOnDestroy()"></button>
            </div>
            <div class="modal-body" style="text-align: center !important;">
                <div *ngIf="checkingSubscriptionStatus">
                    <div style="display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;">
                        <div class="spinner-border" role="status"></div>
                    </div>
                </div>
                <app-proceed-payment
                [planData]="planData"
                [transactionType]="'subscription'"
                [isSubscriber]="isSubscriber"
                [currentUser]="currentUser"
                *ngIf="!checkingSubscriptionStatus && planData"></app-proceed-payment>
            </div>
        </div>
    </div>
</div>

<!-- Delete Items Modal -->
<div class="modal custom-modal fade modal-delete" id="add_subscriber_modal" role="dialog" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-items-center justify-content-center" id="staticBackdropLabel">
                    {{ 'subscriptions.addSubscriber' | translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <app-add-subscriber></app-add-subscriber>
        </div>
    </div>
</div>
<!-- /Delete Items Modal -->