<div class="page-header">
  <div class="content-page-header">
    <h5>Custom Fields</h5>
    <div class="page-content">
      <div class="list-btn">
        <ul class="filter-list">
          <li>
            <a (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="btn btn-filters w-auto popup-toggle" matTooltip="Filter"><span
              class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter
            </a>
          </li>
          <li>
            <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal"
              data-bs-target="#add_custom"><i class="fa-solid fa-plus" aria-hidden="true"></i>Add
            New</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-scroll">
            <div class="companies-table filed">
              <table matSort (matSortChange)="sortData($event)"
                class="table table-center table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th mat-sort-header="id">#</th>
                    <th mat-sort-header="modules">Modules</th>
                    <th mat-sort-header="label">Label</th>
                    <th mat-sort-header="type">Type</th>
                    <th mat-sort-header="defaultValue">Default Value</th>
                    <th mat-sort-header="required">Required</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of customField; track data) {
                    <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.modules}}</td>
                      <td>{{data.label}}</td>
                      <td>{{data.type}}</td>
                      <td>{{data.defaultValue}}</td>
                      <td>{{data.required}}</td>
                      <td class="d-flex align-items-center">
                        <a class=" btn-action-icon me-2" href="javascript:void(0);"
                          data-bs-toggle="modal" data-bs-target="#edit_category"><i
                        class="feather icon-edit"></i></a>
                        <a class=" btn-action-icon" href="javascript:void(0);"
                          data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                        class="feather icon-trash-2"></i></a>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Table -->

<!-- Add Asset -->
<div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i
      class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Customer
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample1">
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input type="text" class="form-control" id="member_search1"
                        placeholder="Search here">
                        <span><img src="assets/img/icons/search.svg" alt="img"></span>
                      </div>
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Brian Johnson
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Russell Copeland
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Greg Lynch
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> John Blair
                        </label>
                        <!-- View All -->
                        <div class="view-content">
                          <div class="viewall-One">
                            @for (user of users; track user) {
                              <label class="custom_check w-100"
                                [ngClass]="{ closed: !isCollapsed, open: isCollapsed }">
                                <input type="checkbox" name="username"
                                  [(ngModel)]="user.checked">
                                  <span class="checkmark"></span> {{ user.name }}
                                </label>
                              }
                            </div>
                            <div class="view-all">
                              <a (click)="toggleCollapse()" href="javascript:void(0);"
                                class="viewall-button-One"><span class="me-2">{{ isCollapsed ?
                              "Close All" : "View All" }}</span><span><i
                            class="fa fa-circle-chevron-down"></i></span></a>
                          </div>
                        </div>
                        <!-- /View All -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Customer -->

          <!-- Select Date -->
          <div class="accordion" id="accordionMain2">
            <div class="card-header-new" id="headingTwo">
              <h6 class="filter-title">
                <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Select Date
                  <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                </a>
              </h6>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample2">
              <div class="card-body-chat">
                <div class="input-block mb-3">
                  <label for="from" class="form-control-label">From</label>
                  <div class="cal-icon">
                    <input type="email" class="form-control datetimepicker" placeholder="DD-MM-YYYY"
                      bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                    </div>
                  </div>
                  <div class="input-block mb-3">
                    <label for="to" class="form-control-label">To</label>
                    <div class="cal-icon">
                      <input type="email" class="form-control datetimepicker" placeholder="DD-MM-YYYY"
                        bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Select Date -->

              <!-- By Status -->
              <div class="accordion" id="accordionMain3">
                <div class="card-header-new" id="headingThree">
                  <h6 class="filter-title">
                    <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      By Status
                      <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                    </a>
                  </h6>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample3">
                  <div class="card-body-chat">
                    <div id="checkBoxes2">
                      <div class="form-custom">
                        <input type="text" class="form-control" id="member_search2"
                          placeholder="Search here">
                          <span><img src="assets/img/icons/search.svg" alt="img"></span>
                        </div>
                        <div class="selectBox-cont">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> All Invoices
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> Paid
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> Overdue
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> Draft
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> Recurring
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="bystatus">
                            <span class="checkmark"></span> Cancelled
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /By Status -->

                <!-- Category -->
                <div class="accordion accordion-last" id="accordionMain4">
                  <div class="card-header-new" id="headingFour">
                    <h6 class="filter-title">
                      <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Category
                        <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                      </a>
                    </h6>
                  </div>

                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample4">
                    <div class="card-body-chat">
                      <div id="checkBoxes3">
                        <div class="selectBox-cont">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="category">
                            <span class="checkmark"></span> Advertising
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="category">
                            <span class="checkmark"></span> Food
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="category">
                            <span class="checkmark"></span> Repairs
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="category">
                            <span class="checkmark"></span> Software
                          </label>
                          <!-- View All -->
                          <div class="view-content">
                            @for (user of usersTwo; track user) {
                              <div class="viewall-Two"
                                [ngClass]="{ closed: !isCollapsed, open: isCollapsed }">
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                  <span class="checkmark"></span> {{ user.name }}
                                </label>
                              </div>
                            }
                            <div class="view-all">
                              <a (click)="toggleCollapse()" href="javascript:void(0);"
                                class="viewall-button-Two"><span class="me-2">{{ isCollapsed ? "Close
                              All" : "View All" }}</span><span><i
                            class="fa fa-circle-chevron-down"></i></span></a>
                          </div>
                        </div>
                        <!-- /View All -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Category -->

              <button type="submit"
                class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate
                report
              </button>
            </form>

          </div>
        </div>
      </div>
      <!--/Add Asset -->

      <!-- Add New Modal -->
      <div class="modal custom-modal fade" id="add_custom" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header border-0 pb-0">
              <div class="form-header modal-header-title text-start mb-0">
                <h4 class="mb-0">Add New</h4>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body add">
              <div class="addnew-modal">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="filed">Custom Fields For <span class="text-danger">*</span> </label>
                      <ul class="form-group">
                        <li>
                          <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{ standalone: true }"
                            class="select custom-mat-select" placeholder="Plan">
                            @for (data of selectedList1; track data) {
                              <mat-option [value]="data.value">
                                {{ data.value }}
                              </mat-option>
                            }
                          </mat-select>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-12 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="label">Label <span class="text-danger">*</span> </label>
                      <input type="text" class="form-control" placeholder="Enter Label">
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="default">Default Value <span class="text-danger">*</span> </label>
                      <input type="text" class="form-control" placeholder="Enter Value">
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="input">Input Type <span class="text-danger">*</span> </label>
                      <ul class="form-group">
                        <li>
                          <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{ standalone: true }"
                            class="select custom-mat-select" placeholder="Text">
                            @for (data of selectedList2; track data) {
                              <mat-option [value]="data.value">
                                {{ data.value }}
                              </mat-option>
                            }
                          </mat-select>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-block add mb-3 row">
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="checkbox"> Required
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="checkbox">Disable
                    </label>
                  </div>
                </div>
              </div>
              <hr>
                <div class="row">
                  <div class="col-md-12 d-flex align-items-center justify-content-between">
                    <div class="two-factor content p-0">
                      <h5>Status</h5>
                    </div>
                    <div class="addnew-checkbox">
                      <div class="status-toggle">
                        <input id="rating_1" class="check" type="checkbox" checked="">
                        <label for="rating_1" class="checktoggle checkbox-bg factor">checkbox</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer add">
                  <a href="javascript:void(0);" data-bs-dismiss="modal"
                  class="btn btn-back cancel-btn me-2">Cancel</a>
                  <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add
                  New</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Add Vendor Modal -->