
<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header ">
    <h5>Delete Account Request</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" matTooltip="Filter" href="javascript:void(0);" class="btn btn-filters w-auto popup-toggle"><span class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="Filter"></span>Filter </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Search Filter -->
<div id="filter_inputs" class="card filter-card">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label htmlFor="label">Name</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label htmlFor="label">Email</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="input-block mb-3">
          <label htmlFor="label">Phone</label>
          <input id="label" type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search Filter -->

<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table matSort
            (matSortChange)="sortData($event)"
            class="table table-center table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th mat-sort-header="sNo">#</th>
                <th mat-sort-header="person">User Name</th>
                <th mat-sort-header="requisition">Requisition Date</th>
                <th mat-sort-header="delete">Delete Request Date</th>
                <th mat-sort-header="action">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (data of tableData; track data; let i = $index) {
                <tr>
                  <td>{{data.sNo}}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a [routerLink]="routes.profile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.img" alt="User Image"></a>
                      <a [routerLink]="routes.profile">{{data.person}} <span>{{data.email}}</span></a>
                    </h2>
                  </td>
                  <td>{{data.requisition}}</td>
                  <td>{{data.delete}}</td>
                  <td class="d-flex align-items-center">
                    <div class="dropdown dropdown-action">
                      <a href="javascript:void(0);" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-greys ms-2" data-bs-toggle="modal" data-bs-target="#delete_modal">Confirm</a>
                  </td>
                </tr>
              }

            </tbody>
          </table>

        </div>
        <app-custom-pagination></app-custom-pagination>
      </div>
    </div>
  </div>
</div>

<!-- Add Asset -->
<div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Customer
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample1">
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                      <span><img src="assets/img/icons/search.svg" alt="img"></span>
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  John Smith
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Johnny
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span>  Robert
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Sharonda
                      </label>
                      <!-- View All -->
                      <div class="view-content">
                        <div class="viewall-One">
                          @for (user of users1; track user) {
                            <label class="custom_check w-100"
                              [ngClass]="{ closed: !isCollapsed1, open: isCollapsed1 }">
                              <input type="checkbox" name="username" [(ngModel)]="user.checked">
                              <span class="checkmark"></span> {{ user.name }}
                            </label>
                          }
                        </div>
                        <div class="view-all">
                          <a (click)="toggleCollapse1()" href="javascript:void(0);" class="viewall-button-One"><span
                          class="me-2">{{ isCollapsed1 ? "Close All" : "View All" }}</span><span><i class="fa"
                        [ngClass]="!isCollapsed1 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                      </div>
                    </div>
                    <!-- /View All -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Customer -->

      <!-- Select Date -->
      <div class="accordion" id="accordionMain2">
        <div class="card-header-new" id="headingTwo">
          <h6 class="filter-title">
            <a href="javascript:void(0);" class="w-100 collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Select Date
              <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </h6>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordionExample2">
          <div class="card-body-chat">
            <div class="input-block mb-3">
              <label for="From" class="form-control-label">From</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
            <div class="input-block mb-3">
              <label for="To" class="form-control-label">To</label>
              <div class="cal-icon">
                <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Select Date -->

      <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
        <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
      </button>
    </form>

  </div>
</div>
</div>
<!--/Add Asset -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Account Request</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" class="btn btn-primary paid-continue-btn">Delete</a>
            </div>
            <div class="col-6">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->

