<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="content-page-header p-0">
        <h5>Tax Rates</h5>
        <div class="list-btn">
          <a
            href="javascript:void(0);"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add_discount"
            ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Tax</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card-table">
            <div class="card-body">
              <div class="table-responsive no-pagination">
                <table class="table table-center table-hover datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Tax Rate</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <h2 class="tax-name">VAT&#64;10%</h2>
                      </td>
                      <td>10.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_1"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_1" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <h2 class="tax-name">GST&#64;10</h2>
                      </td>
                      <td>10.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_2"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_2" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <h2 class="tax-name">VAT&#64;5%</h2>
                      </td>
                      <td>5.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_3"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_3" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <h2 class="tax-name">GST&#64;5</h2>
                      </td>
                      <td>5.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_4"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_4" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>
                        <h2 class="tax-name">VAT&#64;15%</h2>
                      </td>
                      <td>15.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_5"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_5" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>
                        <h2 class="tax-name">GST&#64;15</h2>
                      </td>
                      <td>15.00</td>
                      <td>
                        <div class="status-toggle">
                          <input
                            id="rating_6"
                            class="check"
                            type="checkbox"
                            checked=""
                          />
                          <label for="rating_6" class="checktoggle checkbox-bg"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td class="d-flex align-items-center">
                        <div class="dropdown dropdown-action">
                          <a
                            href="javascript:void(0);"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <ul>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target="#delete_modal"
                                  ><i class="far fa-trash-alt me-2"></i>Delete</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Account Details</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <button type="reset" data-bs-dismiss="modal" class="w-100 btn btn-primary paid-continue-btn">Delete</button>
            </div>
            <div class="col-6">
              <button type="submit" data-bs-dismiss="modal" class="w-100 btn btn-primary paid-cancel-btn">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->

<!-- Add Tax & Discount Modal -->
<div class="modal custom-modal fade" id="add_discount" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Add Tax</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Tax">Tax Name</label>
              <input type="number" class="form-control" placeholder="Enter Tax Name">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Rates">Tax Rates</label>
              <input type="text" class="form-control" placeholder="Enter Tax Rates">
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="input-block mb-3">
              <label for="Type">Type</label>
             
              <mat-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}"class="select custom-mat-select">
                <mat-option value="selecttype">Select Type</mat-option>
                <mat-option value="customer1">Percentage</mat-option>
                <mat-option value="customer2">Fixed</mat-option>
              
              </mat-select>
            </div>
          </div>
          <div class="payment-toggle">
            <h5 class="form-title">Status</h5>
            <div class="status-toggle">
              <input id="rating_7" class="check" type="checkbox" checked="">
              <label for="rating_7" class="checktoggle checkbox-bg">checkbox</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer add-tax-btns">
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn add-btn-cancel-btn">Cancel</a>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary add-tax-save-btn">Save</a>
      </div>
    </div>
  </div>
</div>
<!-- /Add Tax & Discount Modal -->



