<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Pages list</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a class="btn btn-filters w-auto popup-toggle" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" matTooltip="Filter"><span
          class="me-2"><img src="assets/img/icons/filter-icon.svg" alt="filter" /></span>Filter
        </a>
      </li>
      <li>
        <a class="btn-filters" href="javascript:void(0);" matTooltip="Settings"><span><i
        class="feather icon-settings"></i></span>
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_page"><i
      class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add
    Pages</a>
  </li>
</ul>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-md-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table matSort (matSortChange)="sortData($event)" class="table table-stripped table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th mat-sort-header="sNo">#</th>
                <th mat-sort-header="pages">Pages</th>
                <th mat-sort-header="slug">Pages Slug</th>
                <th mat-sort-header="status">Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of pages; track item; let i = $index) {
                <tr>
                  <td>{{ item.sNo }}</td>
                  <td>{{ item.pages }}</td>
                  <td>{{ item.slug }}</td>
                  <td>
                    <div class="status-toggle">
                      <input id={{item.value}} class="check" type="checkbox" checked />
                      <label for={{item.value}} class="checktoggle checkbox-bg">checkbox</label>
                    </div>
                  </td>
                  <td class="d-flex align-items-center">
                    <a href="javascript:void(0);" class="btn-action-icon me-2" data-bs-toggle="modal"
                      data-bs-target="#pages_edit">
                      <span><i class="feather icon-edit"></i></span>
                    </a>
                    <a href="javascript:void(0);" class="btn-action-icon" data-bs-toggle="modal"
                      data-bs-target="#page_delete"><span><i class="feather icon-trash-2"></i></span></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>

          </div>
          <app-custom-pagination></app-custom-pagination>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Asset -->
  <div class="toggle-sidebar" [ngClass]="{'open-filter' : toggleData === true}">
    <div class="sidebar-layout-filter">
      <div class="sidebar-header">
        <h5>Filter</h5>
        <a href="javascript:void(0);" (click)="openContent()"  (keydown.enter)="openContent()" tabindex="0" class="sidebar-closes"><i
        class="fa-regular fa-circle-xmark"></i></a>
      </div>
      <div class="sidebar-body">
        <form action="#" autocomplete="off">
          <!-- Customer -->
          <div class="accordion" id="accordionMain1">
            <div class="card-header-new" id="headingOne">
              <h6 class="filter-title">
                <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Customer
                  <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                </a>
              </h6>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
              <div class="card-body-chat">
                <div class="row">
                  <div class="col-md-12">
                    <div id="checkBoxes1">
                      <div class="form-custom">
                        <input type="text" class="form-control" id="member_search1" placeholder="Search here">
                        <span><img src="assets/img/icons/search.svg" alt="img"></span>
                      </div>
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Brian Johnson
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Russell Copeland
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> Greg Lynch
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span> John Blair
                        </label>
                        <!-- View All -->
                        <div class="view-content">
                          <div class="viewall-One">
                            @for (user of users; track user) {
                              <label class="custom_check w-100"
                                [ngClass]="{ closed: !isCollapsed1, open: isCollapsed1 }">
                                <input type="checkbox" name="username" [(ngModel)]="user.checked">
                                <span class="checkmark"></span> {{ user.name }}
                              </label>
                            }
                          </div>
                          <div class="view-all">
                            <a (click)="toggleCollapse1()" href="javascript:void(0);" class="viewall-button-One"><span
                            class="me-2">{{ isCollapsed1 ? "Close All" : "View All" }}</span><span><i class="fa"
                          [ngClass]="!isCollapsed1 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                        </div>
                      </div>
                      <!-- /View All -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Customer -->

        <!-- Select Date -->
        <div class="accordion" id="accordionMain2">
          <div class="card-header-new" id="headingTwo">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Select Date
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
            <div class="card-body-chat">
              <div class="input-block mb-3">
                <label for="From" class="form-control-label">From</label>
                <div class="cal-icon">
                  <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                </div>
              </div>
              <div class="input-block mb-3">
                <label for="To" class="form-control-label">To</label>
                <div class="cal-icon">
                  <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Select Date -->

        <!-- By Status -->
        <div class="accordion" id="accordionMain3">
          <div class="card-header-new" id="headingThree">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                By Status
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
            <div class="card-body-chat">
              <div id="checkBoxes2">
                <div class="form-custom">
                  <input type="text" class="form-control" id="member_search2" placeholder="Search here">
                  <span><img src="assets/img/icons/search.svg" alt="img"></span>
                </div>
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> All Invoices
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Paid
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Overdue
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Draft
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Recurring
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Cancelled
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /By Status -->

        <!-- Category -->
        <div class="accordion accordion-last" id="accordionMain4">
          <div class="card-header-new" id="headingFour">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Category
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
            <div class="card-body-chat">
              <div id="checkBoxes3">
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category">
                    <span class="checkmark"></span> Advertising
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category">
                    <span class="checkmark"></span> Food
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category">
                    <span class="checkmark"></span> Repairs
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category">
                    <span class="checkmark"></span> Software
                  </label>
                  <!-- View All -->
                  <div class="view-content">
                    <div class="viewall-One">
                      @for (user of users2; track user) {
                        <label class="custom_check w-100"
                          [ngClass]="{ closed: !isCollapsed2, open: isCollapsed2 }">
                          <input type="checkbox" name="username" [(ngModel)]="user.checked">
                          <span class="checkmark"></span> {{ user.name }}
                        </label>
                      }
                    </div>
                    <div class="view-all">
                      <a (click)="toggleCollapse2()" href="javascript:void(0);" class="viewall-button-One"><span
                      class="me-2">{{ isCollapsed2 ? "Close All" : "View All" }}</span><span><i class="fa"
                    [ngClass]="!isCollapsed2 ? 'fa-circle-chevron-down' : 'fa-circle-chevron-up'"></i></span></a>
                  </div>
                </div>
                <!-- /View All -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Category -->

      <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
        <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate report
      </button>
    </form>

  </div>
</div>
</div>
<!--/Add Asset -->
<!-- Add Page -->
<div class="modal custom-modal modal-lg fade" id="add_page" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Add Page</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="form-groups-item border-0 pb-0">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="Title">Title</label>
                      <input type="text" class="form-control" placeholder="Enter Title" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="Slug">Slug
                        <span class="optional">
                          (If you leave it empty, it will be generated
                        automatically.)</span></label>
                        <input type="text" class="form-control" placeholder="Enter Slug" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label for="Description">Description
                          <span class="optional"> (Meta Tag)</span></label>
                          <input type="text" class="form-control" placeholder="Enter Description" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label for="Keywords">Keywords
                            <span class="optional"> (Meta Tag)</span></label>
                            <input type="text" class="form-control" placeholder="Enter Keywords" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-block mb-3">
                            <label for="Language">Language</label>
                            <mat-select [(ngModel)]="Action" [ngModelOptions]="{standalone: true}"
                              class="select custom-mat-select">
                              <mat-option value="status">Select Language</mat-option>
                              <mat-option value="countryname1">Tamil</mat-option>
                              <mat-option value="countryname2">English</mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                          <div class="input-block mb-3">
                            <label for="Location">Location</label>
                            <div>
                              <label class="custom_radio me-3">
                                <input type="radio" name="payment" checked />
                                <span class="checkmark"></span> Top Menu
                              </label>
                              <label class="custom_radio">
                                <input type="radio" name="payment" />
                                <span class="checkmark"></span> Quick Links
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                          <div class="input-block mb-3">
                            <label for="Visibility">Visibility</label>
                            <div>
                              <label class="custom_radio me-3">
                                <input type="radio" name="payment" checked />
                                <span class="checkmark"></span> Show
                              </label>
                              <label class="custom_radio">
                                <input type="radio" name="payment" />
                                <span class="checkmark"></span> Hide
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="input-block" id="summernote_container">
                            <label for="Description" class="form-control-label">Description</label>
                            <textarea class="summernote form-control" placeholder="Type your message"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Add Page</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Add Page -->

      <!-- Modal -->
      <div class="modal custom-modal fade" id="pages_edit" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header border-0 pb-0">
              <div class="form-header modal-header-title text-start mb-0">
                <h4 class="mb-0">Edit Page</h4>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="input-block mb-3">
                    <label for="Page">Page Title(English)</label>
                    <input type="text" class="form-control" placeholder="About Us" />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="input-block mb-3">
                    <label for="Slug">Page Slug</label>
                    <input type="text" class="form-control" placeholder="about-us" />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="input-block mb-0">
                    <label for="Page">Page Content(English)</label>
                    <textarea rows="5" cols="5" class="form-control" placeholder="about us page contents"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back me-2">Back</a>
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal -->

      <!-- Delete Items Modal -->
      <div class="modal custom-modal fade" id="page_delete" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Pages list</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0);" class="btn btn-primary paid-continue-btn">Delete</a>
                  </div>
                  <div class="col-6">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Delete Items Modal -->