<div class="page-header">
  <div class="content-page-header page-tilte">
    <h5 style="color: black !important">
      <i class="feather icon-settings"></i>
      {{ 'sideMenu.settings' | translate }}
    </h5>
    <div class="page-content">
      <div class="list-btn">
        <ul class="filter-list">
          <li>
            <a class="btn-filters btn-hover" (click)="refresh()" href="javascript:void(0);" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Refresh" matTooltip="Refresh"><span><i
                  class="feather icon-refresh-ccw"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Page Wrapper -->
<div class="content container-fluid">
  <div class="row justify-content-lg-center">
    <div class="col-lg-12">
      <div class="row">
        <hr *ngIf="userData?.accountType === 'organisation' || userData?.isAdmin">
        <div class="col-lg-6" *ngIf="userData?.accountType === 'organisation' || userData?.isAdmin">
          <div class="card row" *ngIf="showAdvancedOptions(userData)">
            <div class="card-body card-body-height" *ngIf="!loadingSettings">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.title" | translate }}</h5>
                <div *ngIf="!loading3">
                  <span [ngClass]="userSettings?.portal === true ?
                    'badge-success' :  'badge-danger'">
                    {{ (userSettings?.portal === true ? 'users.enabled' : 'users.disabled') | translate }}
                  </span>
                  <span (click)="changeUserPortalStatus()" class="btn btn-light">
                    <a class="btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" matTooltip="Disable"><span><i class="feather icon-power" [ngClass]="userSettings?.portal === true ?
                    'danger-dark' : 'success-dark'"></i></span></a>
                  </span>
                </div>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading3"></span>
              </div>
              <p *ngIf="userData && userSettings?.portal !== true">
                <br>
                {{ "portal.messageOnDesabled" | translate}}
              </p>
            </div>
            <div class="card-body card-body-height"
              *ngIf="!loadingSettings && userData && userSettings?.portal === true">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.headTitle" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editHeadTitlePortalPage()"
                  *ngIf="!headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editHeadTitlePortalPage()"
                  *ngIf="headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveSettingsData('headTitlePortal')"
                  *ngIf="headTitlePortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <p *ngIf="currentUser && !headTitlePortalEdition">{{ headTitlePortal }} </p>
              <textarea class="form-control" rows="8" maxlength="55" *ngIf="currentUser && headTitlePortalEdition"
                name="" id="" [(ngModel)]="headTitlePortal"></textarea><span *ngIf="headTitlePortalEdition">max
                55</span>
              <div *ngIf="currentUser && headTitlePortalEdition">
                <br><br>
                <label for="" style="margin-right: 10px;">Code:</label>
                <input type="text" placeholder="#fff" [(ngModel)]="headTitlePortalColor">
              </div>
              <div>
                <span style="margin-right: 10px;">{{ 'portal.color' | translate }}: </span> <button class="btn"
                  style="border: 1px solid #000;" [style.background-color]="headTitlePortalColor"></button>
                {{headTitlePortalColor}}
              </div>
              <br>
            </div>
            <div class="card-body" *ngIf="loadingSettings" style="text-align: center;">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </div>
            <div class="card-body card-body-height"
              *ngIf="!loadingSettings && userData && userSettings?.portal === true">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.headText" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editHeadTextPortalPage()"
                  *ngIf="!headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editHeadTextPortalPage()"
                  *ngIf="headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveSettingsData('headTextPortal')"
                  *ngIf="headTextPortalEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <p *ngIf="currentUser && !headTextPortalEdition">{{ headTextPortal }} </p>
              <textarea class="form-control" rows="8" maxlength="350" *ngIf="currentUser && headTextPortalEdition"
                name="" id="" [(ngModel)]="headTextPortal"></textarea> <span *ngIf="headTextPortalEdition">max
                350</span>
              <div *ngIf="currentUser && headTextPortalEdition">
                <br><br>
                <label for="" style="margin-right: 10px;">Code:</label>
                <input type="text" placeholder="#fff" [(ngModel)]="headTextPortalColor">
              </div>
              <div>
                <span style="margin-right: 10px;">{{ 'portal.color' | translate }}: </span> <button class="btn"
                  style="border: 1px solid #000;" [style.background-color]="headTextPortalColor"></button>
                {{headTextPortalColor}}
              </div>
              <br>
            </div>
            <div class="card-body card-body-height"
              *ngIf="!loadingSettings && userData && userSettings?.portal === true">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.headText" | translate }}</h5>
                <a class="btn btn-sm btn-white" (click)="editPortalColor()" *ngIf="!portalColorEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.edit" | translate }}</a>
                <a class="btn btn-sm btn-white" (click)="editPortalColor()" *ngIf="portalColorEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.cancel" | translate }}</a>
                <a class="btn btn-sm btn-success" (click)="saveSettingsData('portalColor')"
                  *ngIf="portalColorEdition && !loading2">
                  <i class="feather icon-edit"></i>
                  {{ "action.save" | translate }}</a>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"
                  *ngIf="loading2"></span>
              </div>
              <br>
              <div>
                <span style="margin-right: 10px;">{{ 'portal.primaryColor' | translate }}: </span> <button class="btn"
                  style="border: 1px solid #000;" [style.background-color]="portalPrimaryColor"></button>
                {{portalPrimaryColor}}
              </div>
              <div *ngIf="currentUser && portalColorEdition">
                <label for="" style="margin-right: 10px;">Code:</label>
                <input type="text" placeholder="#fff" [(ngModel)]="portalPrimaryColor">
              </div>
              <br>

              <div>
                <span style="margin-right: 10px;">{{ 'portal.secondaryColor' | translate }}: </span> <button class="btn"
                  style="border: 1px solid #000;" [style.background-color]="portalSecondaryColor"></button>
                {{portalSecondaryColor}}
              </div>
              <div *ngIf="currentUser && portalColorEdition">
                <label for="" style="margin-right: 10px;">Code:</label>
                <input type="text" placeholder="#fff" [(ngModel)]="portalSecondaryColor">
              </div>
              <br>
            </div>
            <div class="card-body card-body-height"
              *ngIf="!loadingSettings && userData && userSettings?.portal === true">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ "portal.nav.title" | translate }}</h5>
              </div><br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'portal.nav.plans' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalSubscription === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalSubscription === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalSubscription" class="check" type="checkbox"
                    [checked]="userSettings?.portalSubscription" (click)="toggleService('portalSubscription')" />
                  <label for="portalSubscription" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div><br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'sideMenu.servicesProducts' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalServices === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalServices === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalServices" class="check" type="checkbox"
                    [checked]="userSettings?.portalServices === true" (click)="toggleService('portalServices')" />
                  <label for="portalServices" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'payment.fundraising' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalFundraising === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalFundraising === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalFundraising" class="check" type="checkbox"
                    [checked]="userSettings?.portalFundraising === true" (click)="toggleService('portalFundraising')" />
                  <label for="portalFundraising" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'portal.description' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalDescription === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalDescription === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalDescription" class="check" type="checkbox"
                    [checked]="userSettings?.portalDescription === true" (click)="toggleService('portalDescription')" />
                  <label for="portalDescription" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'portal.supportInfo' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalSupportInfo === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalSupportInfo === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalSupportInfo" class="check" type="checkbox"
                    [checked]="userSettings?.portalSupportInfo === true" (click)="toggleService('portalSupportInfo')" />
                  <label for="portalSupportInfo" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'portal.contact' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalContact === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalContact === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalContact" class="check" type="checkbox"
                    [checked]="userSettings?.portalContact === true" (click)="toggleService('portalContact')" />
                  <label for="portalContact" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
              <div class="status-toggle justify-content-between">
                <div class="d-flex align-left">
                  <span style="margin-right: 10px;">{{ 'portal.footer' | translate }}: </span>
                  <span class="badge badge-label"
                    [ngClass]="userSettings?.portalFooter === true ? 'bg-success-dark' : 'bg-danger-dark'">
                    {{ userSettings?.portalFooter === true ? ('users.enabled' | translate) : ('users.disabled' |
                    translate) }}
                  </span>
                </div>
                <span>
                  <input id="portalFooter" class="check" type="checkbox" [checked]="userSettings?.portalFooter === true"
                    (click)="toggleService('portalFooter')" />
                  <label for="portalFooter" class="checktoggle checkbox-bg">checkbox</label>
                </span>
              </div>
              <br>
            </div>
            <div class="card-body" *ngIf="loadingSettings" style="text-align: center;">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </div>
            <div class="card-body">
              <a target="_blank" [href]="frontUrl + '/portal/' + userData?._id" style="margin: 10px"
                class="btn btn-primary" *ngIf="userSettings && userSettings?.portal === true">{{ 'portal.viewPortal' |
                translate }} </a>
              <a target="_blank" (click)="copy(frontUrl + '/portal/' + userData?._id)" style="margin: 10px"
                class="btn btn-light" *ngIf="userSettings && userSettings?.portal === true">{{ 'portal.copy' | translate
                }}</a>
            </div>
          </div>
          <div class="card" *ngIf="!showAdvancedOptions(userData)">
            <div class="card-header stify-content-between">
              <h5 class="card-title">{{ "portal.title" | translate }}</h5>
            </div>
            <div class="card-body">
              {{ 'portal.msgToEnable' | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" *ngIf="!showAdvancedOptions(userData)">
            <div class="card-header d-flex justify-content-between">
              <h5 class="card-title">{{ "dev.title" | translate }}</h5>
            </div>
            <div class="card-body">
              {{ 'dev.msgToEnable' | translate }}
            </div>
          </div>
          <app-dev [ableToShow]="ableToShow" [userData]="currentUser"
            *ngIf="userData && !loading && showAdvancedOptions(userData)"></app-dev>
          <!-- <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{ "profile.activity" | translate }}</h5>
            </div>
            <div class="card-body card-body-height" *ngIf="userData">
              <ul class="activity-feed">
                <li class="feed-item">
                  <div class="feed-date">{{ formatDate() }} - {{ currentUser.createdAt | date: 'hh:mm' }}</div>
                  <span class="feed-text"><a>Action: </a>{{ "users.accountCreation" | translate }}</span>
                </li>
                <li class="feed-item">
                  <div class="feed-date">{{ formatDate() }} - {{ currentUser.createdAt | date: 'hh:mm' }}</div>
                  <span class="feed-text"><a>Action: </a>{{ "users.accountCreation" | translate }}</span>
                </li>
              </ul>
            </div>
            <div class="card-body" *ngIf="!userData" style="text-align: center;">
              <img src="assets/img/new/loader.gif" width="20px">
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->