<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div style="text-align: center;"><br>
        <img src="assets/img/resources/dk_logo.png" width="150px">
        <h3 class="page-title">digiKUNTZ Payments Payment System</h3>
      </div>
      <div class="container bg-light d-md-flex align-items-center">
        <div class="card box2 shadow-sm">
          <div class="d-flex align-items-center justify-content-between" style="padding: 10px 20px !important;">
            <span class="h5 fw-bold m-0" style="color: #980766; font-size: 1.5em; margin: O">Détails de
              facturation</span>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row" *ngIf="!loadingData && invoiceData">
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-3">
                  <span><b>Ref:</b> <span style="color: #980766;">{{invoiceData?.id}}</span></span>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-3"> <span><b>Compte de facturation OM *</b></span>
                  <div class="inputWithIcon">
                    <input class="form-control" type="text" style="font-size: 1.5em;" placeholder="ex: 691224472"
                      formControlName="phone" *ngIf="!isDisabled">
                    <label for="" *ngIf="isDisabled">{{phone}}</label>
                    <span class=""> <img class="img" src="assets/img/new/om.png" alt=""></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-3">
                  <span><b>Nom / Raison sociale *</b></span>
                  <div class="inputWithIcon">
                    <input type="text" class="form-control input" formControlName="name"
                      placeholder="Nom ou raison sociale" *ngIf="!isDisabled">
                    <label for="" *ngIf="isDisabled">{{name}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-3">
                  <span><b>Email *</b></span>
                  <input type="text" class="form-control input" formControlName="email" placeholder="Adresse Email"
                    *ngIf="!isDisabled">
                  <label for="" *ngIf="isDisabled">{{email}}</label>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-3"> <span><b>Service: </b>{{invoiceData?.service}}</span>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-1"> <span><b>Montant</b></span>
                  <div class="col-12" style="text-align: right !important; background-color: #d8d8d8; font-size: 1.5em">
                    {{invoiceData?.payment}} {{invoiceData?.currency}}</div>
                </div>
              </div>
              <div class="col-12" *ngIf="invoiceData?.yn" style="text-align: right">
                <div class="d-flex flex-column px-md-5 px-4 mb-1">
                  <span><b>Frais de transactions (2%): </b>{{(invoiceData?.payment * 2)/100}}
                    {{invoiceData?.currency}}</span>
                </div>
              </div>
              <div class="col-12" *ngIf="invoiceData?.ir" style="text-align: right">
                <div class="d-flex flex-column px-md-5 px-4 mb-1">
                  <span><b>IR (5,5%): </b>{{(invoiceData?.payment * 5.5)/100}} {{invoiceData?.currency}}</span>
                </div>
              </div><br><br>
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-1"> <span><b>Montant total</b></span>
                  <div class="col-12" style="text-align: right !important; color: #980766; font-size: 1.5em">
                    <b>{{finalPayment}} {{invoiceData?.currency}}</b>
                  </div>
                </div>
              </div>
              <div *ngIf="!invoiceData.status">
                <div class="col-12 px-md-5 px-4 mt-3"
                  *ngIf="invoiceData && invoiceData?.status === false && !paying && transactionData?.status != 'Pending' && transactionData?.status != 'Completed'"
                  (click)="submit()">
                  <div class="btn btn-primary w-100">Effectuer le paiement</div>
                </div>
                <div class="col-12 px-md-5 px-4 mt-3" *ngIf="paying || transactionData?.status == 'Pending'">
                  <div class="btn btn-primary w-100">
                    <img src="assets/img/new/loader.gif" width="20px" alt="" style="margin-right: 5px;">
                    Transaction en cours...
                  </div>
                </div>
              </div>
              <div class="col-12 px-md-5 px-4 mt-3" *ngIf="!paying && transactionData?.status == 'Completed'">
                <div class="btn btn-primary w-10" (click)="exportToPdf()">
                  <i class="fa fa-download"></i> Télécharger la facture
                </div>
              </div>
              <div *ngIf="loadingData" style="text-align: center !important;">
                <div class="d-flex justify-content-center" style="margin: 50px">
                  <div class="spinner-border" role="status"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
          <div *ngIf="!loadingData && invoiceData?.status === true && !transactionData"
            style="text-align: center !important;">
            <img src="assets/img/new/success_transaction.gif" width="250px" alt="" style="margin: 50px 0;">
            <p style="color: #fff; font-size: large;">Cette facture a déjà été payée.</p>
          </div>
          <div *ngIf="!loadingData && transactionData?.status == 'Pending'" style="text-align: center !important;">
            <p style="color: #fff; font-size: large;">Veuillez composer le #150*50# pour confirmer le paiement.</p><br>
            <img src="assets/img/new/loader.gif" width="50px" alt="" style="margin: 100px 0;">
          </div>
          <div *ngIf="!loadingData && !paying && transactionData?.status == 'Completed'"
            style="text-align: center !important;">
            <img src="assets/img/new/success_transaction.gif" width="250px" alt="" style="margin: 50px 0;">
            <p style="color: #fff; font-size: large;">Paiement effectué avec succes.</p>
          </div>
          <div *ngIf="!loadingData && !paying && transactionData?.status == 'Rejected'"
            style="text-align: center !important;">
            <img src="assets/img/new/failed_transaction.gif" width="200px" alt="" style="margin: 50px 0;">
            <p style="color: #fff; font-size: large;"><b>Paiement Rejeté</b> <br>
              {{invoiceData?.statusMsg}}</p>
          </div>
          <div *ngIf="loadingData || paying" style="text-align: center !important;">
            <img src="assets/img/new/loader.gif" width="50px" alt="" style="margin: 50px 0;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="printableView" *ngIf="printing" style="width: 300mm; height: 400mm; padding: 30px;">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card invoice-info-card">
              <div class="card-body pb-0">
                <div class="invoice-item invoice-item-one">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="invoice-logo">
                        <img src="assets/img/new/y_nkap.jpeg" alt="logo">
                        <h2>digiKUNTZ Payments Payment System</h2>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="invoice-info">
                        <div class="invoice-head">
                          <h2 class="text-primary">Facture </h2>
                          <p>No. : {{invoiceData?.id}}</p>
                          <p style="color: #14660a;" *ngIf="invoiceData?.status === 'Completed'"><b>PAYED</b>
                          </p>
                          <p style="color: #9f6d00;" *ngIf="invoiceData?.status === 'Pending'"><b>PENDING</b></p>
                          <p style="color: #bf1f03;" *ngIf="invoiceData?.status === 'Rejected'"><b>REJECTED</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Invoice Item -->
                <div class="invoice-item invoice-item-bg">
                  <div class="invoice-circle-img">
                    <img src="assets/img/invoice-circle1.png" alt="" class="invoice-circle1">
                    <img src="assets/img/invoice-circle2.png" alt="" class="invoice-circle2">
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <table>
                        <tr>
                          <td>
                            <div class="invoice-info">
                              <strong class="customer-text-one">{{ appName}} SARL</strong>
                              <h6 class="invoice-name">RC: M062217426789W</h6>
                              <p class="invoice-details invoice-details-two">
                                Entrée ELECAM <br>
                                Bangangté - Cameroun <br>
                                {{ frontDomain }} <br>
                                contact&#64;{{ frontDomain }} <br>
                                (+237 ) 694949617 / 691224472
                              </p>
                            </div>
                          </td>
                          <td>
                            <div class="invoice-info">
                              <strong class="customer-text-one">Client</strong>
                              <h6 class="invoice-name">{{transactionData?.name}}</h6>
                              <p class="invoice-details invoice-details-two">
                                {{transactionData?.phone}} <br>
                                {{transactionData?.email}} <br>
                              </p>
                              <strong class="customer-text-one">Paiement :</strong>
                              <p class="invoice-details invoice-details-two">
                                {{transactionData?.payment}} {{transactionData?.currency}}<br>
                              </p>
                            </div>
                          </td>
                          <td>
                            <div class="invoice-info invoice-info-one border-0">
                              <!-- <p>ID. Facture : {{invoiceData?.id}}</p> -->
                              <p>ID transaction : {{transactionData?.id}}</p>
                              <p>Date de facturation : {{transactionData?.date | date: 'dd/MM/yyyy hh:mm' }}</p>
                              <p>Date de paiement : {{transactionData?.date | date: 'dd/MM/yyyy hh:mm' }}</p>
                              <br>
                              <p>Méthode de paiement : Orange Money</p>
                              <p class="mb-0">Numéro payeur : {{transactionData?.phone
                                }}</p>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Item -->

                <!-- Invoice Item -->
                <div class="invoice-item invoice-table-wrap">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="invoice-table table table-center mb-0">
                          <thead>
                            <tr>
                              <th>Désignation</th>
                              <th>Montant</th>
                              <th class="text-end">Reste à payer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{invoiceData?.service}}</td>
                              <th>{{invoiceData?.payment}} {{invoiceData?.currency}}</th>
                              <td class="text-end">{{invoiceData?.rest }} {{invoiceData?.currency}}
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th></th>
                              <th></th>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Item -->
                <hr>

                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 col-md-6">
                    <div class="invoice-payment-box">
                      <h4>Références Bancaires de l'entreprise</h4>
                      <div class="payment-details">
                        <p style="padding-left: 5px;">
                          Banque: *************** <br>
                          No de compte: ***** ********************** <br>
                          RIB: ****** <br>
                          IBAN: ********
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="invoice-total-card">
                      <div class="invoice-total-box">
                        <div class="invoice-total-inner">
                          <br>
                          <p>Somme :<span>{{invoiceData?.payment}} {{invoiceData?.currency}}</span></p>
                          <p *ngIf="invoiceData?.ir">IR (5,5%)
                            :<span> {{(invoiceData?.payment * 5.5)/100}} {{invoiceData?.currency}}</span></p>
                          <p *ngIf="invoiceData?.yn">Frais de payment en ligne (2%)
                            :<span>{{(invoiceData?.payment * 2)/100}} {{invoiceData?.currency}}</span></p>
                        </div><br><br>
                        <div class="invoice-total-footer">
                          <h4>Montant total <span>{{finalPayment}}
                              {{invoiceData?.currency}}</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="invoice-sign-box">
                  <div class="row">
                    <div class="col-lg-8 col-md-8">
                      <div class="invoice-terms" *ngIf="invoiceData?.notes && invoiceData?.notes != ''">
                        <h6>Notes:</h6>
                        <p class="mb-0">{{invoiceData?.notes}}</p>
                      </div>
                      <div class="invoice-terms mb-0" *ngIf="invoiceData?.terms && invoiceData?.terms != ''">
                        <h6>Termes et Conditions:</h6>
                        <p class="mb-0">{{invoiceData?.terms}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="invoice-sign text-end">
                        <!-- <img class="img-fluid d-inline-block" src="{{invoiceParamsData?.image}}"
                                                  alt="sign">
                                              <span class="d-block">{{invoiceParamsData?.nameSignature}}</span> -->
                        <p style="color: #14660a; font-size: 2em;" *ngIf="transactionData?.status === 'Completed'">
                          <b>PAYED</b>
                        </p>
                        <p style="color: #9f6d00; font-size: 2em;" *ngIf="invoiceData?.status === 'Pending'">
                          <b>PENDING</b>
                        </p>
                        <p style="color: #bf1f03; font-size: 2em;" *ngIf="invoiceData?.status === 'Rejected'">
                          <b>REJECTED</b>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>