<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-2">Form Mask</h5>
        <p class="card-text">
          Input masks can be used to force the user to enter data conform a
          specific format. Unlike validation, the user can't enter any other key
          than the ones specified by the mask.
        </p>
      </div>
      <div class="card-body">
        <form  [formGroup]="basicForm">
          <div class="input-block mb-3">
            <label htmlFor="label">Phone</label>
            <input id="label"
              type="text"
              id="phone"
              class="form-control"
              mask="(000) 000-0000"
              formControlName="txt"
            />
            <span class="form-text text-muted">(999) 999-9999</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Date</label>
             <input id="label"
              type="text"
              id="date"
              class="form-control"
              mask="00/00/0000"
            />
            <span class="form-text text-muted">dd/mm/yyyy</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">SSN field 1</label>
            <input id="label"
              type="text"
              id="ssn"
              class="form-control"
              mask="000-00-0000"
            />
            <span class="form-text text-muted">e.g "999-99-9999"</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Phone field + ext.</label>
            <input id="label"
              type="text"
              id="phoneExt"
              class="form-control"
              prefix="+96"
              mask="000 000 000"
            />
            <span class="form-text text-muted">+40 999 999 999</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Product Key</label>
            <input id="label"
              type="text"
              id="product"
              class="form-control"
              prefix="a*"
              mask="-000-A000"
            />
            <span class="form-text text-muted">e.g a*-999-a999</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Currency</label>
            <input id="label"
              type="text"
              id="currency"
              class="form-control"
              prefix="$"
              mask="099,099,099.99"
            />
            <span class="form-text text-muted">$ 999,999,999.99</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Eye Script</label>
            <input id="label"
              type="text"
              id="eyescript"
              class="form-control"
              mask="V0.00V0.00 000"
              [patterns]="customPatterns"
              [dropSpecialCharacters]="false"
            />
            <span class="form-text text-muted">~9.99 ~9.99 999</span>
          </div>
          <div class="input-block mb-3">
            <label htmlFor="label">Percent</label>
            <input id="label"
              type="text"
              id="pct"
              class="form-control"
              suffix="%"
              mask="00"
            />
            <span class="form-text text-muted">e.g "99%"</span>
          </div>
          <div class="input-block mb-3 mb-0">
            <label htmlFor="label">Credit Card Number</label>
            <input id="label"
              type="text"
              class="form-control"
              id="ccn"
              mask="099.099.099.0999"
            />
            <span class="form-text text-muted">e.g "999.999.999.9999"</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
