<div class="signature-invoice">
  <div class="page-header">
    <div class="content-page-header">
      <h5>Create Invoice</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="edit-card">
        <div class="card-body">
          <div class="form-group-item border-0 mb-0">
            <div class="row align-item-center">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-block mb-3">
                  <label for="Number">Invoice Number</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Invoice Number"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="input-block mb-3">
                    <label for="Customer">Customer Name</label>
                    <ul class="form-group-plus css-equal-heights">
                      <li>
                        <mat-select
                          [(ngModel)]="customer"
                          [ngModelOptions]="{ standalone: true }"
                          class="select custom-mat-select"
                          >
                          <mat-option value="customer1">Customer 1</mat-option>
                          <mat-option value="customer2">Customer 2</mat-option>
                          <mat-option value="customer3">Customer 3</mat-option>
                        </mat-select>
                      </li>
                      <li>
                        <a
                          class="btn btn-primary form-plus-btn"
                          [routerLink]="routes.addCustomer"
                          >
                          <i class="feather icon-plus-circle"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="input-block mb-3">
                    <label for="InvoiceDate">Invoice Date</label>
                    <div class="cal-icon cal-icon-info">
                      <input
                        type="text"
                        class="datetimepicker form-control"
                        placeholder="Select Date" 
                        
                        bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                      <label for="due">Due Date</label>
                      <div class="cal-icon cal-icon-info">
                        <input
                          type="text"
                          class="datetimepicker form-control"
                          placeholder="Select Date" 
                          
                          
                          bsDatepicker [bsConfig]="{ adaptivePosition: true }" [(bsValue)]="myDateValue"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label for="Status">Status</label>
                        <mat-select
                          [(ngModel)]="status"
                          [ngModelOptions]="{ standalone: true }"
                          class="select custom-mat-select"
                          >
                          <mat-option value="Unpaid">Unpaid</mat-option>
                          <mat-option value="Partially paid"
                            >Partially paid</mat-option
                            >
                            <mat-option value="Paid">Paid</mat-option>
                            <mat-option value="Overdue">Overdue</mat-option>
                            <mat-option value="Cancelled">Cancelled</mat-option>
                            <mat-option value="Refunded">Refunded</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label for="Reference">Reference Number</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Reference Number"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="d-flex justify-content-between flex-wrap">
                            <div class="input-block mb-3 recurring-tab">
                              <label for="Recurring">Recurring</label>
                              <ul
                                class="nav nav-pills d-flex"
                                id="pills-tab"
                                role="tablist"
                                >
                                <li class="nav-item" role="presentation">
                                  <button
                                    class="nav-link active yes"
                                    id="pills-home-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-home"
                                    aria-selected="true"
                                    >
                                    Yes
                                  </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button
                                    class="nav-link no"
                                    id="pills-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-profile"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false"
                                    >
                                    No
                                  </button>
                                </li>
                              </ul>
                            </div>
                            <div class="tab-content pt-0" id="pills-tabContent">
                              <div
                                class="tab-pane fade show active"
                                id="pills-home"
                                role="tabpanel"
                                aria-labelledby="pills-home-tab"
                                >
                                <div class="input-block mb-3">
                                  <label for="Recurringcycle">Recurring cycle</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter Month"
                                    />
                                  </div>
                                </div>
                                <div
                                  class="tab-pane fade"
                                  id="pills-profile"
                                  role="tabpanel"
                                  aria-labelledby="pills-profile-tab"
                                ></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="input-block mb-3">
                              <label for="Products">Products</label>
                              <ul class="form-group-plus css-equal-heights">
                                <li>
                                  <mat-select
                                    [(ngModel)]="product"
                                    [ngModelOptions]="{ standalone: true }"
                                    class="select custom-mat-select"
                                    >
                                    <mat-option value="Product 1">Product 1</mat-option>
                                    <mat-option value="Product 2">Product 2</mat-option>
                                    <mat-option value="Product 3">Product 3</mat-option>
                                  </mat-select>
                                </li>
                                <li>
                                  <a
                                    class="btn btn-primary form-plus-btn"
                                    [routerLink]="routes.addproducts"
                                    >
                                    <i class="feather icon-plus-circle"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group-item">
                        <div class="card-table">
                          <div class="card-body">
                            <div class="table-responsive">
                              <div class="table-scroll">
                                <table
                                  matSort
                                  (matSortChange)="sortData($event)"
                                  class="table table-center table-hover datatable"
                                  >
                                  <thead class="thead-light">
                                    <tr>
                                      <th mat-sort-header="product">Product / Service</th>
                                      <th mat-sort-header="quantity">Quantity</th>
                                      <th mat-sort-header="unit">Unit</th>
                                      <th mat-sort-header="rate">Rate</th>
                                      <th mat-sort-header="discount">Discount</th>
                                      <th mat-sort-header="tax">Tax</th>
                                      <th mat-sort-header="amount">Amount</th>
                                      <th mat-sort-header="action">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    @for (data of tableData; track data; let i = $index) {
                                      <tr>
                                        <td>{{ data.product }}</td>
                                        <td>
                                          <input type="number" class="form-control" value="0" />
                                        </td>
                                        <td>{{ data.unit }}</td>
                                        <td>
                                          <input
                                            type="number"
                                            class="form-control"
                                            value="120"
                                            />
                                          </td>
                                          <td>{{ data.discount }}</td>
                                          <td>{{ data.tax }}</td>
                                          <td>{{ data.amount }}</td>
                                          <td class="d-flex align-items-center">
                                            <a
                                              href="javascript:void(0);"
                                              class="btn-action-icon me-2"
                                              data-bs-toggle="modal"
                                              data-bs-target="#add_discount"
                                              ><span><i class="feather icon-edit"></i></span
                                            ></a>
                                            <a
                                              href="javascript:void(0);"
                                              class="btn-action-icon"
                                              data-bs-toggle="modal"
                                              data-bs-target="#delete_discount"
                                              ><span><i class="feather icon-trash-2"></i></span
                                            ></a>
                                          </td>
                                        </tr>
                                      }
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <app-custom-pagination></app-custom-pagination>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="input-block mb-3">
                                  <label for="Discount">Discount Type</label>
                                  <mat-select
                                    [(ngModel)]="percentage"
                                    [ngModelOptions]="{ standalone: true }"
                                    class="select custom-mat-select"
                                    >
                                    <mat-option value="percentage1">Percentage(%)</mat-option>
                                    <mat-option value="percentage2">Fixed</mat-option>
                                  </mat-select>
                                </div>
                              </div>
                              <div class="col-lg-5">
                                <div class="input-block mb-3">
                                  <label for="Discount">Discount(%)</label>
                                  <input type="text" class="form-control" placeholder="10" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="input-block mb-3">
                              <label for="Tax">Tax</label>
                              <mat-select
                                [(ngModel)]="tax"
                                [ngModelOptions]="{ standalone: true }"
                                class="select custom-mat-select"
                                >
                                <mat-option value="tax">No Tax</mat-option>
                                <mat-option value="customer1">IVA - (21%)</mat-option>
                                <mat-option value="customer2">IRPF - (-15%)</mat-option>
                                <mat-option value="customer2">PDV - (20%)</mat-option>
                              </mat-select>
                            </div>
                          </div>
                          <div class="col-md-4"></div>
                        </div>
                        <div class="form-group-item border-0 p-0">
                          <div class="row">
                            <div class="col-xl-6 col-lg-12">
                              <div class="form-group-bank">
                                <div class="row align-items-center">
                                  <div class="col-md-8">
                                    <div class="input-block mb-3">
                                      <label for="Bank">Select Bank</label>
                                      <mat-select
                                        [(ngModel)]="selectbank"
                                        [ngModelOptions]="{ standalone: true }"
                                        class="select custom-mat-select"
                                        >
                                        <mat-option value="bank">Select Bank</mat-option>
                                        <mat-option value="bank1">SBI</mat-option>
                                        <mat-option value="bank2">IOB</mat-option>
                                        <mat-option value="bank3">Canara</mat-option>
                                      </mat-select>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-groups">
                                      <a
                                        class="btn btn-primary"
                                        href="javascript:void(0);"
                                        data-bs-toggle="modal"
                                        data-bs-target="#bank_details"
                                        >Add Bank</a
                                        >
                                      </div>
                                    </div>
                                  </div>

                                  <div class="input-block mb-3 notes-form-group-info">
                                    <label for="Notes">Notes</label>
                                    <textarea
                                      class="form-control"
                                      placeholder="Enter Notes"
                                    ></textarea>
                                  </div>
                                  <div class="input-block notes-form-group-info mb-0">
                                    <label for="Terms">Terms and Conditions</label>
                                    <textarea
                                      class="form-control"
                                      placeholder="Enter Terms and Conditions"
                                    ></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-12">
                                <div class="form-group-bank">
                                  <div class="invoice-total-box">
                                    <div class="invoice-total-inner">
                                      <p>Taxable Amount <span>$120.00</span></p>
                                      <p>Discount <span>$13.20</span></p>
                                      <p>Vat <span>$0.00</span></p>
                                      <div class="status-toggle justify-content-between">
                                        <div class="d-flex align-center">
                                          <p>Round Off</p>
                                          <input
                                            id="rating_1"
                                            class="check"
                                            type="checkbox"
                                            checked=""
                                            />
                                            <label for="rating_1" class="checktoggle checkbox-bg"
                                              >checkbox</label
                                              >
                                            </div>
                                            <span>$0.00</span>
                                          </div>
                                        </div>
                                        <div class="invoice-total-footer">
                                          <h4>Total Amount <span>$107.80</span></h4>
                                        </div>
                                      </div>
                                      <div>
                                        <ul class="nav nav-pills" id="pills-tab1" role="tablist">
                                          <li class="nav-item" role="presentation">
                                            <span
                                              class="custom_radio me-4 mb-0 active"
                                              id="home-tab"
                                              data-bs-toggle="tab"
                                              data-bs-target="#home"
                                              role="tab"
                                              aria-controls="home"
                                              aria-selected="true"
                                              >
                                              <input
                                                type="radio"
                                                class="form-control"
                                                name="payment"
                                                />
                                                <span class="checkmark"></span> Manual Signature
                                              </span>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                              <span
                                                class="custom_radio me-2 mb-0"
                                                id="profile-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#profile"
                                                role="tab"
                                                aria-controls="profile"
                                                aria-selected="false"
                                                >
                                                <input
                                                  type="radio"
                                                  class="form-control"
                                                  name="payment"
                                                  />
                                                  <span class="checkmark"></span> eSignature
                                                </span>
                                              </li>
                                            </ul>
                                            <div class="tab-content">
                                              <div
                                                class="tab-pane fade show active"
                                                id="home"
                                                role="tabpanel"
                                                aria-labelledby="home-tab"
                                                >
                                                <div class="input-block mb-3">
                                                  <label for="Signature">Select Signature Name</label>

                                                  <mat-select
                                                    [(ngModel)]="select"
                                                    [ngModelOptions]="{ standalone: true }"
                                                    class="select custom-mat-select"
                                                    >
                                                    <mat-option value="bank">Allen</mat-option>
                                                    <mat-option value="bank2">Steven</mat-option>
                                                    <mat-option value="bank3">Ralph</mat-option>
                                                  </mat-select>
                                                </div>
                                                <div class="input-block mb-0">
                                                  <label for="SignatureImage">Signature Image</label>
                                                  <div
                                                    class="input-block service-upload service-upload-info mb-0"
                                                    >
                                                    <span
                                                      ><img
                                                      src="assets/img/invoice-signature.png"
                                                      alt="signature"
                                                    /></span>
                                                    <input type="file" multiple="" id="image_sign" />
                                                    <div id="frames"></div>
                                                    @for (f of files; track f) {
                                                      <ngx-dropzone-image-preview
                                                        ngProjectAs="ngx-dropzone-preview"
                                                        [file]="f"
                                                        [removable]="true"
                                                        (removed)="onRemove(f)"
                                                        >
                                                      </ngx-dropzone-image-preview>
                                                    }
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="tab-pane fade"
                                                id="profile"
                                                role="tabpanel"
                                                aria-labelledby="profile-tab"
                                                >
                                                <div class="input-block mb-3">
                                                  <label for="Name">Enter Signature Name</label>
                                                  <input
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Enter Name"
                                                    />
                                                  </div>
                                                  <div class="input-block mb-0">
                                                    <ul
                                                      class="nav nav-pills"
                                                      id="pills-tab2"
                                                      role="tablist"
                                                      >
                                                      <li class="nav-item" role="presentation">
                                                        <span
                                                          class="custom_radio me-4 mb-0 active"
                                                          id="upload-signature-tab"
                                                          data-bs-toggle="tab"
                                                          data-bs-target="#upload-signature"
                                                          role="tab"
                                                          aria-controls="upload-signature"
                                                          aria-selected="true"
                                                          >
                                                          <input
                                                            type="radio"
                                                            class="form-control p-0"
                                                            name="payment"
                                                            /><span class="checkmark"></span>Upload
                                                            Signature
                                                          </span>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                          <span
                                                            class="custom_radio me-2 mb-0"
                                                            id="e-signature-tab"
                                                            data-bs-toggle="tab"
                                                            data-bs-target="#e-signature"
                                                            role="tab"
                                                            aria-controls="e-signature"
                                                            aria-selected="false"
                                                            >
                                                            <input
                                                              type="radio"
                                                              class="form-control p-0"
                                                              name="payment"
                                                              />
                                                              <span class="checkmark"></span> Draw your
                                                              eSignature
                                                            </span>
                                                          </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                          <div
                                                            class="tab-pane fade show active"
                                                            id="upload-signature"
                                                            role="tabpanel"
                                                            aria-labelledby="upload-signature-tab"
                                                            >
                                                            <div
                                                              class="input-block service-upload service-upload-info mb-0"
                                                              >
                                                              <span
                                                                ><i class="feather icon-upload-cloud me-1"></i>Upload
                                                                Signature</span
                                                                >
                                                                <input
                                                                  type="file"
                                                                  multiple=""
                                                                  id="image_sign2"
                                                                  />
                                                                  <div id="frames2"></div>
                                                                </div>
                                                              </div>
                                                              <div
                                                                class="tab-pane fade"
                                                                id="e-signature"
                                                                role="tabpanel"
                                                                aria-labelledby="e-signature-tab"
                                                                >
                                                                <div class="e-signature-block">
                                                                  <div class="signature-draw-area"></div>
                                                                  <a
                                                                    href="javascript:void(0);"
                                                                    class="signature-clear"
                                                                    >Clear & draw again</a
                                                                    >
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="preview-boxs">
                                                <a [routerLink]="routes.signaturepreviewinvoice">Preview Invoice</a>
                                                <form class="add-customer-btns text-end">
                                                  <button type="reset" class="btn btn-primary cancel me-2">
                                                    Cancel
                                                  </button>
                                                  <button type="reset" class="btn btn-primary cancel me-2">
                                                    Save
                                                  </button>
                                                  <button type="submit" class="btn btn-primary">Save & Send</button>
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /Page Wrapper -->

                                    <!-- Add Tax & Discount Modal -->
                                    <div class="modal custom-modal fade" id="add_discount" role="dialog">
                                      <div class="modal-dialog modal-dialog-centered modal-md">
                                        <div class="modal-content">
                                          <div class="modal-header border-0 pb-0">
                                            <div class="form-header modal-header-title text-start mb-0">
                                              <h4 class="mb-0">Add Tax & Discount</h4>
                                            </div>
                                            <button
                                              type="button"
                                              class="btn-close"
                                              data-bs-dismiss="modal"
                                              aria-label="Close"
                                            ></button>
                                          </div>
                                          <div class="modal-body">
                                            <div class="row">
                                              <div class="col-lg-12 col-md-12">
                                                <div class="input-block mb-3">
                                                  <label for="Rate">Rate</label>
                                                  <input type="number" class="form-control" placeholder="120" />
                                                </div>
                                              </div>
                                              <div class="col-lg-12 col-md-12">
                                                <div class="input-block mb-3">
                                                  <label for="Discount">Discount Amount</label>
                                                  <input type="number" class="form-control" placeholder="0" />
                                                </div>
                                              </div>
                                              <div class="col-lg-12 col-md-12">
                                                <div class="input-block mb-0">
                                                  <label for="Tax">Tax</label>

                                                  <mat-select
                                                    [(ngModel)]="tax"
                                                    [ngModelOptions]="{ standalone: true }"
                                                    class="select custom-mat-select"
                                                    >

                                                    <mat-option value="customer1">N/A</mat-option>
                                                    <mat-option value="customer2">5%</mat-option>
                                                    <mat-option value="customer2">10%</mat-option>
                                                    <mat-option value="customer2">15%</mat-option>
                                                  </mat-select>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="modal-footer add-tax-btns">
                                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn add-btn-cancel-btn"
                                              >Cancel</a
                                              >
                                              <a
                                                href="javascript:void(0);"
                                                data-bs-dismiss="modal"
                                                class="btn btn-primary add-tax-save-btn"
                                                >Update</a
                                                >
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- /Add Tax & Discount Modal -->

                                        <!-- Delete Items Modal -->
                                        <div class="modal custom-modal fade" id="delete_discount" role="dialog">
                                          <div class="modal-dialog modal-dialog-centered modal-md">
                                            <div class="modal-content">
                                              <div class="modal-header border-0 justify-content-center pb-0">
                                                <div class="form-header modal-header-title text-center mb-0">
                                                  <h4 class="mb-2">Delete Product / Services</h4>
                                                  <p>Are you sure want to delete?</p>
                                                </div>
                                              </div>
                                              <div class="modal-body">
                                                <div class="modal-btn delete-action">
                                                  <div class="row">
                                                    <div class="col-6">
                                                      <a
                                                        href="javascript:void(0);"
                                                        data-bs-dismiss="modal"
                                                        class="btn btn-primary paid-continue-btn"
                                                        >Delete</a
                                                        >
                                                      </div>
                                                      <div class="col-6">
                                                        <a
                                                          href="javascript:void(0);"
                                                          data-bs-dismiss="modal"
                                                          class="btn btn-primary paid-cancel-btn"
                                                          >Cancel</a
                                                          >
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <!-- /Delete Items Modal -->

                                            <!-- Edit Bank Details Modal -->
                                            <div class="modal custom-modal fade" id="bank_details" role="dialog">
                                              <div class="modal-dialog modal-dialog-centered modal-md">
                                                <div class="modal-content">
                                                  <div class="modal-header border-0 pb-0">
                                                    <div class="form-header modal-header-title text-start mb-0">
                                                      <h4 class="mb-0">Add Bank Details</h4>
                                                    </div>
                                                    <button
                                                      type="button"
                                                      class="btn-close"
                                                      data-bs-dismiss="modal"
                                                      aria-label="Close"
                                                    ></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="row">
                                                      <div class="col-lg-12 col-md-12">
                                                        <div class="input-block mb-3">
                                                          <label for="Bank">Bank Name <span class="text-danger">*</span></label>
                                                          <input
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Enter Bank Name"
                                                            />
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                          <div class="input-block mb-3">
                                                            <label for="Account">Account Number <span class="text-danger">*</span></label>
                                                            <input
                                                              type="number"
                                                              class="form-control"
                                                              placeholder="Enter Account Number"
                                                              />
                                                            </div>
                                                          </div>
                                                          <div class="col-lg-12 col-md-12">
                                                            <div class="input-block mb-3">
                                                              <label for="Branch">Branch Name <span class="text-danger">*</span></label>
                                                              <input
                                                                type="text"
                                                                class="form-control"
                                                                placeholder="Enter Branch Name"
                                                                />
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12">
                                                              <div class="input-block mb-0">
                                                                <label for="IFSC">IFSC Code <span class="text-danger">*</span></label>
                                                                <input
                                                                  type="number"
                                                                  class="form-control"
                                                                  placeholder="Enter IFSC COde"
                                                                  />
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <a
                                                              href="javascript:void(0);"
                                                              data-bs-dismiss="modal"
                                                              class="btn btn-back cancel-btn me-2"
                                                              >Back</a
                                                              >
                                                              <a
                                                                href="javascript:void(0);"
                                                                data-bs-dismiss="modal"
                                                                class="btn btn-primary paid-continue-btn"
                                                                >Update</a
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <!-- /Edit Bank Details Modal -->
