<div class="row">
  <div class="col-xl-12 col-md-8">
    <div class="card">
      <div class="card-body w-100">
        <div class="content-page-header">
          <h5>Invoice Settings</h5>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="input-block mb-3">
              <label for="Invoice">Invoice Prefix</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Invoice Prefix"
                />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="input-block mb-3">
                <label for="Signature">Digital Signature Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Digital Signature Name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-6 col-12">
                <div class="input-block mb-3 mb-0 pb-0">
                  <label for="Logo">Invoice Logo</label>
                  <ngx-dropzone (change)="onSelect($event)" class="service-upload">
                    <ngx-dropzone-label class="drop-browse align-center">
                      <span
                        ><img src="assets/img/icons/img-drop.svg" alt="upload"
                      /></span>
                      <div class="drag-drop">
                        <h6 class="drop-browse align-center">
                          <span class="text-info me-1">Click to Replace </span> or Drag
                          and Drop
                        </h6>
                      </div>

                      <span class="text-muted">SVG, PNG, JPG</span>
                    </ngx-dropzone-label>
                    @for (f of files; track f) {
                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                        >
                      </ngx-dropzone-image-preview>
                    }
                  </ngx-dropzone>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-6 col-12">
                <div class="input-block mb-3 mb-0 pb-0">
                  <label for="Signature">Digital Signature Image</label>
                  <ngx-dropzone (change)="onSelect($event)" class="service-upload">
                    <ngx-dropzone-label class="drop-browse align-center">
                      <span
                        ><img src="assets/img/icons/img-drop.svg" alt="upload"
                      /></span>
                      <div class="d-flex">
                        <h6 class="drop-browse align-center">
                          <span class="text-info me-1">Click to Replace </span> or Drag
                          and Drop
                        </h6>

                      </div>

                      <span class="text-muted">SVG, PNG, JPG</span>
                    </ngx-dropzone-label>
                    @for (f of files; track f) {
                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                        >
                      </ngx-dropzone-image-preview>
                    }
                  </ngx-dropzone>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="btn-path text-end">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-cancel bg-primary-light me-3"
                    >Cancel</a
                    >
                    <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
