.auth-body {
  background-image: url('../../../assets/img/ressorces/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;        /* Couvre toute la page */
  background-position: center;   /* Centre l’image */
  background-attachment: fixed;  /* Effet de parallaxe */
  min-height: 100vh;  
}
.load-auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}