<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <img
              class="img-fluid logo-dark mb-2 logo-color"
              src="assets/img/ressorces/dk_logo.png"
              alt="Logo"
            />
            <h1>Forgot Password?</h1>
            <p class="account-subtitle">
              Enter your email to get a password reset link
            </p>

            <!-- Form -->
            <form>
              <div class="input-block mb-3">
                <label htmlFor="label" class="form-control-label"
                  >Email Address</label
                >
                <input id="label" class="form-control" type="text" />
              </div>
              <div class="input-block mb-3 mb-0">
                <button
                  class="btn btn-lg btn-block btn-primary w-100"
                  type="button"
                >
                  Reset Password
                </button>
              </div>
            </form>
            <!-- /Form -->

            <div class="text-center dont-have">
              Remember your password? <a [routerLink]="routes.login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
