<!-- Sign In -->
<div class="row gx-0">
  <!-- Banner Content -->
  <div class="col-lg-6">
    <div class="authentication-wrapper">
      <div class="authentication-content">
        <h1>{{ 'auth.leftLoginMessage' | translate }}</h1>
        <p>{{ 'auth.leftLoginSubMessage' | translate }}</p>
      </div>
      <div class="authen-img">
        <img src="assets/img/saas-login-img.png" alt="" />
      </div>
      <div class="login-bg-img">
        <img src="assets/img/saas-login-bg-04.png" class="img-fluid vector-bg-four" alt="Img" />
      </div>
    </div>
  </div>
  <!-- /Banner Content -->

  <!-- login Content -->
  <div class="col-lg-6">
    <div class="saas-login-wrapper p-0">
      <div class="login-content">
        <form [formGroup]="form">
          <div class="login-userset">
            <div class="login-logo" *ngIf="!isLoading">
              <img src="assets/img/ressorces/dk_logo.png" alt="Logo" />
            </div>
            <div class="login-card" *ngIf="!isLoading && !isBadToken">
              <div class="login-heading">
                <p>{{ 'auth.welcomeBack' | translate }}</p>
                <h3>{{ 'auth.signInToYourAccount' | translate }}</h3>
              </div>
              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.enterNewPassword' | translate }} *</label>
                <div class="pass-group">
                  <input class="form-control" label="" formControlName="password" [type]="type ? 'password' : 'text'"
                    placeholder="{{ 'auth.enterNewPassword' | translate }}" minlength="8" />
                  <a href="javascript:void(0);" (click)="changeType()">
                    <span [ngClass]="
                        type
                          ? 'fas toggle-password fa-eye-slash'
                          : 'fas toggle-password fa-eye'
                      "></span>
                  </a>
                </div>
              </div>
              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.enterNewPasswordAgain' | translate }} *</label>
                <div class="pass-group">
                  <input class="form-control" label="" formControlName="password2" [type]="type ? 'password' : 'text'"
                    placeholder="{{ 'auth.enterNewPasswordAgain' | translate }}" minlength="8" />
                  <a href="javascript:void(0);" (click)="changeType()">
                    <span [ngClass]="
                        type
                          ? 'fas toggle-password fa-eye-slash'
                          : 'fas toggle-password fa-eye'
                      "></span>
                  </a>
                </div>
              </div>
              <div class="input-block mb-0">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-check custom-checkbox mb-3">
                      <input type="checkbox" class="form-check-input" id="cb1" />
                      <label class="custom-control-label mb-0" for="cb1">{{ 'auth.rememberMe' | translate}}</label>
                    </div>
                  </div>
                  <div class="col-sm-6 text-sm-end mb-3">
                    <span class="forgot-link" [routerLink]="routes.forgot_password">{{ 'auth.forgotPassword' |
                      translate}} ?</span>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-primary" *ngIf="!isSending">
                {{ 'auth.login' | translate}}
              </button>
              <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-light w-100" type="submit" disabled
                *ngIf="isSending">
                <div class="spinner-border" role="status"></div>
              </button>
            </div>
            <div class="login-card" *ngIf="!isLoading && isBadToken" style="text-align: center !important;">
              <img src="assets/img/ressorces/expired_token.png" alt="Logo" />
              <p>{{ 'auth.retryResetPassword' | translate }}</p>
            </div>
            <div *ngIf="isLoading" class="login-card" style="text-align: center !important;">
              <div class="spinner-border" role="status"></div>
            </div>
            <div class="acc-in">
              <p>
                {{ 'auth.doNotHaveAccount' | translate}} ?
                <a [routerLink]="routes.register">{{ 'auth.register' | translate}}</a> or
                <a [routerLink]="routes.login">{{ 'auth.login' | translate}}</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p style="
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto !important;
    ">
    &copy; digikuntz Payments 2025
  </p>
  <!-- /Login Content -->
</div>
<!-- /Sign In -->