<div class="page-header">
    <div class="content-page-header page-tilte">
        <h5 style="color: black !important">
            <img src="assets/img/ressorces/gmail.png" alt="" style="width: 30px; margin-right: 10px;">
            {{ 'sideMenu.mail' | translate }}
        </h5>
        <div class="page-content">
            <div class="list-btn">
                <ul class="filter-list">
                    <li *ngIf="status === true"
                        style="background-color: #04850e; color: #fff; padding: 3px 5px; border-radius: 3px;">
                        {{ "users.enabled" | translate }}
                    </li>
                    <li *ngIf="status != true"
                        style="background-color: #850404; color: #fff; padding: 3px 5px; border-radius: 3px;">
                        {{ "users.disabled" | translate }}
                    </li>
                    <li (click)="changeUserActiveStatus()" *ngIf="status != true">
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Enable"><span><i class="feather icon-power"
                                    style="color: #04c714"></i></span></a>
                    </li>
                    <li (click)="changeUserActiveStatus()" *ngIf="status === true">
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Disable"><span><i class="feather icon-power"
                                    style="color: #df0404"></i></span></a>
                    </li>
                    <li>
                        <a class="btn-filters btn-hover" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" matTooltip="Refresh" (click)="refresh()"><span><i
                                    class="feather icon-refresh-ccw"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ "mail.output" | translate }} </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart" *ngIf="!gettingStatistics">
                            <apx-chart [series]="chartOptionsThree.series" [chart]="chartOptionsThree.chart"
                                [dataLabels]="chartOptionsThree.dataLabels"
                                [plotOptions]="chartOptionsThree.plotOptions" [yaxis]="chartOptionsThree.yaxis"
                                [legend]="chartOptionsThree.legend" [fill]="chartOptionsThree.fill"
                                [stroke]="chartOptionsThree.stroke" [tooltip]="chartOptionsThree.tooltip"
                                [xaxis]="chartOptionsThree.xaxis"></apx-chart>
                        </div>
                        <div *ngIf="gettingStatistics" class="row d-flex align-items-cente justify-content-center">
                            <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                                <span class="visually-hidden">{{ "loading" | translate }}...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p style="color: black" *ngIf="!gettingtOutputMails">
                            Total: {{ metadata?.totalItem }} <br><br>
                            <span style="color: #04c714;">O</span> Successful: {{ metadata?.success }} <br><br>
                            <span style="color: #044ddf;">O</span> Error: {{ metadata?.error }}
                        </p>
                        <div *ngIf="gettingtOutputMails" class="row d-flex align-items-cente justify-content-center">
                            <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                                <span class="visually-hidden">{{ "loading" | translate }}...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0" *ngIf="!gettingtOutputMails && emailList?.length > 0">
                        <thead>
                            <tr>
                                <th>{{ "mail.address" | translate }}</th>
                                <th>{{ "mail.subject" | translate }}</th>
                                <th>{{ "mail.date" | translate }}</th>
                                <th>{{ "mail.status" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let o of emailList" (click)="selectEmail(o)" href="javascript:void(0);"
                                data-bs-toggle="modal" data-bs-target="#email_details">
                                <td>{{ o.to }}</td>
                                <td>{{ getFirst60Chars(o.subject) }}</td>
                                <td>{{ o.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>
                                    <span style="color: #04850e;" *ngIf="o.status === true">{{ "mail.success" |
                                        translate }}</span>
                                    <span style="color: #df0404;" *ngIf="o.status === false">{{ "mail.error" | translate
                                        }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table><br>
                    <div *ngIf="!gettingtOutputMails && emailList?.length > 0">
                        <button class="btn btn-primary m-2" (click)="previousEmailPage()" *ngIf="emailPage > 1">
                            << </button>
                                <button class="btn btn-block btn-outline-light active m-2">Page: {{
                                    metadata?.currentPage }} / {{ metadata?.totalPages }}</button>
                                <button class="btn btn-primary m-2" (click)="nextEmailPage()"
                                    *ngIf="metadata?.hasNextPage"> >> </button>
                    </div>
                    <div *ngIf="gettingtOutputMails" class="row d-flex align-items-cente justify-content-center">
                        <!-- <img src="assets/img/ressorces/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"> -->
                        <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                            <span class="visually-hidden">{{ "loading" | translate }}...</span>
                        </div>
                    </div>
                    <div *ngIf="!gettingtOutputMails && emailList?.length < 1"
                        class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            <img src="assets/img/ressorces/nts.png" alt="" style="max-width: 150px;
                                    height: auto;">
                        </div>
                        <div class="col-md-12" style="display: flex;
                                justify-content: center;
                                align-items: center;">
                            {{ "nts" | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal custom-modal fade p-20" id="email_details" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Output Email</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal
                    id="closeModal">
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-header modal-header-title text-start mb-0">
                        <button class="btn btn-rounded"
                            [ngClass]="selectedEmail?.status === true ? 'btn-outline-success' : 'btn-outline-danger'"
                            disabled>
                            <b *ngIf="selectedEmail?.status === true">{{ "mail.success" | translate }}</b>
                            <b *ngIf="selectedEmail?.status === false">{{ "mail.error" | translate }}</b>
                        </button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="form-title mb-3">{{ "payment.details" | translate }}</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>ID</label>
                                <input type="text" class="form-control" placeholder="" [value]="selectedEmail?._id"
                                    disabled *ngIf="selectedEmail?._id">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>Date</label>
                                <input type="text" class="form-control" placeholder=""
                                    [value]="selectedEmail?.createdAt | date : 'dd/MM/yyyy HH:mm:ss'" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>From:</label>
                                <input type="text" class="form-control" placeholder="" [value]="selectedEmail?.from"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block mb-3">
                                <label>To:</label>
                                <input type="text" class="form-control" placeholder="" [value]="selectedEmail?.to"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Subject</label>
                                <input type="text" class="form-control" placeholder="" [value]="selectedEmail?.subject"
                                    disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="modal-body">
                <div class="col-sm-12 col-md-12">
                    <div class="option-space-op">
                        <!-- Bind le HTML avec innerHTML -->
                        <div [innerHTML]="emailBody"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="modal-body">
                {{ "rawData" | translate }}:
                <div class="col-sm-12 col-md-12">
                    <div class="option-space">
                        <app-json-viewer [data]="selectedEmail" *ngIf="selectedEmail"></app-json-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ "mail.settings" | translate }}</h5>
            </div>
            <div class="card-body">
                <form action="#">
                    <div class="row">
                        <div class="col-md-12" *ngIf="!waitingData && smtpData">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="server">{{ "mail.server" | translate }} *</label>
                                        <input id="server" type="text" [(ngModel)]="smtpHost" name="smtpHost"
                                            class="form-control" placeholder="ex: smtp.gmail.com"
                                            [disabled]="!edition" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="port">{{ "mail.port" | translate }} *</label>
                                        <input id="port" type="number" [(ngModel)]="smtpPort" name="smtpPort"
                                            class="form-control" placeholder="ex: 465" [disabled]="!edition" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="email">{{ "mail.email" | translate }} *</label>
                                        <input id="email" type="email" [(ngModel)]="smtpUser" name="smtpUser"
                                            class="form-control" [disabled]="!edition" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="password">{{ "mail.password" | translate }} *</label>
                                        <input id="password" type="password" [(ngModel)]="smtpPassword"
                                            name="smtpPassword" class="form-control" [disabled]="!edition" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="secure">{{ "mail.secure" | translate }} *</label>
                                        <select id="secure" class="form-select" [(ngModel)]="smtpSecure"
                                            name="smtpSecure" [disabled]="!edition">
                                            <option [value]="true">{{ "mail.enabled" | translate }}</option>
                                            <option [value]="false">{{ "mail.disabled" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label htmlFor="encription">{{ "mail.encription" | translate }}</label>
                                        <select id="encription" class="form-select" [(ngModel)]="smtpEncription"
                                            name="smtpEncription" [disabled]="!edition">
                                            <option [value]="'SSL/TLS'">SSL/TLS</option>
                                            <option [value]="'STARTTLS'">STARTTLS</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-block mb-3">
                                        <label htmlFor="emailForAlert">{{ "mail.emailForAlert" | translate }} *</label>
                                        <input id="emailForAlert" type="text" [(ngModel)]="emailForAlert"
                                            name="emailForAlert" class="form-control" [disabled]="!edition" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="waitingData">
                            <div class="row d-flex align-items-cente justify-content-center">
                                <!-- <img src="assets/img/ressorces/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"> -->
                                <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                                    <span class="visually-hidden">{{ "loading" | translate }}...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end" *ngIf="!waitingData && smtpData">
                        <button type="submit" class="btn btn-block btn-outline-secondary" style="margin-right: 10px;"
                            *ngIf="!edition" (click)="resetSmtp()">Reset Settings</button>
                        <button type="submit" class="btn btn-block btn-outline-secondary" (click)="cancel()"
                            style="margin-right: 10px;" *ngIf="edition">{{ 'action.cancel' | translate }}</button>
                        <button type="submit" class="btn btn-primary" *ngIf="edition" (click)="save()">{{ 'action.save'
                            | translate }}</button>
                        <button type="submit" class="btn btn-primary" *ngIf="!edition" (click)="toggleEdition()">{{
                            'action.edit' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ "mail.sendTest" | translate }}</h5>
            </div>
            <div class="card-body">
                <form action="#" *ngIf="!waitingData && smtpData">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-block mb-3">
                                <label htmlFor="label">{{ "mail.email" | translate }}</label>
                                <input id="label" type="text" class="form-control" [(ngModel)]="email" name="email" />
                            </div>
                            <div class="input-block mb-3">
                                <label htmlFor="label">{{ "mail.subject" | translate }}</label>
                                <input id="label" type="text" class="form-control" [(ngModel)]="subject"
                                    name="subject" />
                            </div>
                            <div class="input-block mb-3">
                                <label htmlFor="label">{{ "mail.message" | translate }}</label>
                                <textarea rows="1" cols="1" class="form-control" [(ngModel)]="message" name="message"
                                    placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" *ngIf="!sending" (click)="send()">{{ 'action.send'
                            | translate}}</button>
                        <button type="submit" class="btn btn-outline-secondary" *ngIf="sending" disabled>
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">{{ "loading" | translate }}...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <div *ngIf="waitingData">
                    <div class="row d-flex align-items-cente justify-content-center">
                        <!-- <img src="assets/img/ressorces/loader.gif" alt="" style="max-width: 50px; margin-right: 10px;"> -->
                        <div class="spinner-border text-primary" role="status" style="margin: 20px;">
                            <span class="visually-hidden">{{ "loading" | translate }}...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>