
      <div class="card-header">
        <h5 class="card-title">Tax Settings</h5>
      </div>
      <div class="card-body">
        <!-- Form -->
        <form action="#" class="invoices-settings-form">
          <div class="row align-items-center form-group">
            <label for="name" class="col-sm-3 col-form-label input-label"
              >Enable Tax</label
            >
            <div class="col-sm-9">
             <label class="custom_check invoice-id">
                <input type="checkbox" name="invoice" />
                <span class="checkmark"></span> Check to enable tax on invoice
              </label>
            </div>
          </div>
          <div class="row align-items-center form-group">
            <label for="email" class="col-sm-3 col-form-label input-label"
              >Tax Percentage</label
            >
            <div class="col-sm-9">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="row align-items-center form-group">
            <label for="phone" class="col-sm-3 col-form-label input-label"
              >GSTIN Number</label
            >
            <div class="col-sm-9">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="invoice-setting-btn text-end">
            <button type="submit" class="btn cancel-btn me-2">Cancel</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
        <!-- /Form -->
      </div>
