<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Feather Icon</h5>
      </div>
      <div class="card-body">
        <div class="icons-items">
          <ul class="icons-list">
            <li>
              <i
                class="feather icon-activity"
                data-bs-toggle="tooltip"
                title="feather icon-activity"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-airplay"
                data-bs-toggle="tooltip"
                title="feather icon-airplay"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-alert-circle"
                data-bs-toggle="tooltip"
                title="feather icon-alert-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-alert-octagon"
                data-bs-toggle="tooltip"
                title="feather icon-alert-octagon"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-alert-triangle"
                data-bs-toggle="tooltip"
                title="feather icon-alert-triangle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-align-center"
                data-bs-toggle="tooltip"
                title="feather icon-align-center"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-align-justify"
                data-bs-toggle="tooltip"
                title="feather icon-align-justify"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-align-left"
                data-bs-toggle="tooltip"
                title="feather icon-align-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-align-right"
                data-bs-toggle="tooltip"
                title="feather icon-align-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-anchor"
                data-bs-toggle="tooltip"
                title="feather icon-anchor"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-aperture"
                data-bs-toggle="tooltip"
                title="feather icon-aperture"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-down"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-down-circle"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-down-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-down-left"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-down-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-down-right"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-down-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-left"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-left-circle"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-left-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-right"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-right-circle"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-right-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-up"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-up-circle"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-up-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-up-left"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-up-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-arrow-up-right"
                data-bs-toggle="tooltip"
                title="feather icon-arrow-up-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-at-sign"
                data-bs-toggle="tooltip"
                title="feather icon-at-sign"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-award"
                data-bs-toggle="tooltip"
                title="feather icon-award"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bar-chart"
                data-bs-toggle="tooltip"
                title="feather icon-bar-chart"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bar-chart-2"
                data-bs-toggle="tooltip"
                title="feather icon-bar-chart-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-battery"
                data-bs-toggle="tooltip"
                title="feather icon-battery"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-battery-charging"
                data-bs-toggle="tooltip"
                title="feather icon-battery-charging"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bell"
                data-bs-toggle="tooltip"
                title="feather icon-bell"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bell-off"
                data-bs-toggle="tooltip"
                title="feather icon-bell-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bluetooth"
                data-bs-toggle="tooltip"
                title="feather icon-bluetooth"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bold"
                data-bs-toggle="tooltip"
                title="feather icon-bold"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-book"
                data-bs-toggle="tooltip"
                title="feather icon-book"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-book-open"
                data-bs-toggle="tooltip"
                title="feather icon-book-open"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-bookmark"
                data-bs-toggle="tooltip"
                title="feather icon-bookmark"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-box"
                data-bs-toggle="tooltip"
                title="feather icon-box"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-briefcase"
                data-bs-toggle="tooltip"
                title="feather icon-briefcase"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-calendar"
                data-bs-toggle="tooltip"
                title="feather icon-calendar"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-camera"
                data-bs-toggle="tooltip"
                title="feather icon-camera"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-camera-off"
                data-bs-toggle="tooltip"
                title="feather icon-camera-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cast"
                data-bs-toggle="tooltip"
                title="feather icon-cast"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-check"
                data-bs-toggle="tooltip"
                title="feather icon-check"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-check-circle"
                data-bs-toggle="tooltip"
                title="feather icon-check-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-check-square"
                data-bs-toggle="tooltip"
                title="feather icon-check-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevron-down"
                data-bs-toggle="tooltip"
                title="feather icon-chevron-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevron-left"
                data-bs-toggle="tooltip"
                title="feather icon-chevron-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevron-right"
                data-bs-toggle="tooltip"
                title="feather icon-chevron-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevron-up"
                data-bs-toggle="tooltip"
                title="feather icon-chevron-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevrons-down"
                data-bs-toggle="tooltip"
                title="feather icon-chevrons-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevrons-left"
                data-bs-toggle="tooltip"
                title="feather icon-chevrons-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevrons-right"
                data-bs-toggle="tooltip"
                title="feather icon-chevrons-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chevrons-up"
                data-bs-toggle="tooltip"
                title="feather icon-chevrons-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-chrome"
                data-bs-toggle="tooltip"
                title="feather icon-chrome"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-circle"
                data-bs-toggle="tooltip"
                title="feather icon-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-clipboard"
                data-bs-toggle="tooltip"
                title="feather icon-clipboard"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-clock"
                data-bs-toggle="tooltip"
                title="feather icon-clock"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud"
                data-bs-toggle="tooltip"
                title="feather icon-cloud"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud-drizzle"
                data-bs-toggle="tooltip"
                title="feather icon-cloud-drizzle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud-lightning"
                data-bs-toggle="tooltip"
                title="feather icon-cloud-lightning"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud-off"
                data-bs-toggle="tooltip"
                title="feather icon-cloud-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud-rain"
                data-bs-toggle="tooltip"
                title="feather icon-cloud-rain"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cloud-snow"
                data-bs-toggle="tooltip"
                title="feather icon-cloud-snow"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-code"
                data-bs-toggle="tooltip"
                title="feather icon-code"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-codepen"
                data-bs-toggle="tooltip"
                title="feather icon-codepen"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-command"
                data-bs-toggle="tooltip"
                title="feather icon-command"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-compass"
                data-bs-toggle="tooltip"
                title="feather icon-compass"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-copy"
                data-bs-toggle="tooltip"
                title="feather icon-copy"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-down-left"
                data-bs-toggle="tooltip"
                title="feather icon-corner-down-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-down-right"
                data-bs-toggle="tooltip"
                title="feather icon-corner-down-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-left-down"
                data-bs-toggle="tooltip"
                title="feather icon-corner-left-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-left-up"
                data-bs-toggle="tooltip"
                title="feather icon-corner-left-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-right-down"
                data-bs-toggle="tooltip"
                title="feather icon-corner-right-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-right-up"
                data-bs-toggle="tooltip"
                title="feather icon-corner-right-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-up-left"
                data-bs-toggle="tooltip"
                title="feather icon-corner-up-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-corner-up-right"
                data-bs-toggle="tooltip"
                title="feather icon-corner-up-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-cpu"
                data-bs-toggle="tooltip"
                title="feather icon-cpu"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-credit-card"
                data-bs-toggle="tooltip"
                title="feather icon-credit-card"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-crop"
                data-bs-toggle="tooltip"
                title="feather icon-crop"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-crosshair"
                data-bs-toggle="tooltip"
                title="feather icon-crosshair"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-database"
                data-bs-toggle="tooltip"
                title="feather icon-database"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-delete"
                data-bs-toggle="tooltip"
                title="feather icon-delete"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-disc"
                data-bs-toggle="tooltip"
                title="feather icon-disc"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-dollar-sign"
                data-bs-toggle="tooltip"
                title="feather icon-dollar-sign"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-download"
                data-bs-toggle="tooltip"
                title="feather icon-download"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-download-cloud"
                data-bs-toggle="tooltip"
                title="feather icon-download-cloud"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-droplet"
                data-bs-toggle="tooltip"
                title="feather icon-droplet"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-edit"
                data-bs-toggle="tooltip"
                title="feather icon-edit"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-edit-2"
                data-bs-toggle="tooltip"
                title="feather icon-edit-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-edit-3"
                data-bs-toggle="tooltip"
                title="feather icon-edit-3"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-external-link"
                data-bs-toggle="tooltip"
                title="feather icon-external-link"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-eye"
                data-bs-toggle="tooltip"
                title="feather icon-eye"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-eye-off"
                data-bs-toggle="tooltip"
                title="feather icon-eye-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-facebook"
                data-bs-toggle="tooltip"
                title="feather icon-facebook"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-fast-forward"
                data-bs-toggle="tooltip"
                title="feather icon-fast-forward"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-feather"
                data-bs-toggle="tooltip"
                title="feather icon-feather"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-file"
                data-bs-toggle="tooltip"
                title="feather icon-file"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-file-minus"
                data-bs-toggle="tooltip"
                title="feather icon-file-minus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-file-plus"
                data-bs-toggle="tooltip"
                title="feather icon-file-plus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-file-text"
                data-bs-toggle="tooltip"
                title="feather icon-file-text"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-film"
                data-bs-toggle="tooltip"
                title="feather icon-film"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-filter"
                data-bs-toggle="tooltip"
                title="feather icon-filter"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-flag"
                data-bs-toggle="tooltip"
                title="feather icon-flag"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-folder"
                data-bs-toggle="tooltip"
                title="feather icon-folder"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-folder-minus"
                data-bs-toggle="tooltip"
                title="feather icon-folder-minus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-folder-plus"
                data-bs-toggle="tooltip"
                title="feather icon-folder-plus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-git-branch"
                data-bs-toggle="tooltip"
                title="feather icon-git-branch"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-git-commit"
                data-bs-toggle="tooltip"
                title="feather icon-git-commit"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-git-merge"
                data-bs-toggle="tooltip"
                title="feather icon-git-merge"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-git-pull-request"
                data-bs-toggle="tooltip"
                title="feather icon-git-pull-request"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-github"
                data-bs-toggle="tooltip"
                title="feather icon-github"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-gitlab"
                data-bs-toggle="tooltip"
                title="feather icon-gitlab"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-globe"
                data-bs-toggle="tooltip"
                title="feather icon-globe"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-grid"
                data-bs-toggle="tooltip"
                title="feather icon-grid"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-hard-drive"
                data-bs-toggle="tooltip"
                title="feather icon-hard-drive"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-hash"
                data-bs-toggle="tooltip"
                title="feather icon-hash"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-headphones"
                data-bs-toggle="tooltip"
                title="feather icon-headphones"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-heart"
                data-bs-toggle="tooltip"
                title="feather icon-heart"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-help-circle"
                data-bs-toggle="tooltip"
                title="feather icon-help-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-home"
                data-bs-toggle="tooltip"
                title="feather icon-home"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-image"
                data-bs-toggle="tooltip"
                title="feather icon-image"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-inbox"
                data-bs-toggle="tooltip"
                title="feather icon-inbox"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-info"
                data-bs-toggle="tooltip"
                title="feather icon-info"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-instagram"
                data-bs-toggle="tooltip"
                title="feather icon-instagram"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-italic"
                data-bs-toggle="tooltip"
                title="feather icon-italic"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-layers"
                data-bs-toggle="tooltip"
                title="feather icon-layers"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-layout"
                data-bs-toggle="tooltip"
                title="feather icon-layout"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-life-buoy"
                data-bs-toggle="tooltip"
                title="feather icon-life-buoy"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-link"
                data-bs-toggle="tooltip"
                title="feather icon-link"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-link-2"
                data-bs-toggle="tooltip"
                title="feather icon-link-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-linkedin"
                data-bs-toggle="tooltip"
                title="feather icon-linkedin"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-list"
                data-bs-toggle="tooltip"
                title="feather icon-list"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-loader"
                data-bs-toggle="tooltip"
                title="feather icon-loader"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-lock"
                data-bs-toggle="tooltip"
                title="feather icon-lock"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-log-in"
                data-bs-toggle="tooltip"
                title="feather icon-log-in"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-log-out"
                data-bs-toggle="tooltip"
                title="feather icon-log-out"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-mail"
                data-bs-toggle="tooltip"
                title="feather icon-mail"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-map"
                data-bs-toggle="tooltip"
                title="feather icon-map"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-map-pin"
                data-bs-toggle="tooltip"
                title="feather icon-map-pin"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-maximize"
                data-bs-toggle="tooltip"
                title="feather icon-maximize"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-maximize-2"
                data-bs-toggle="tooltip"
                title="feather icon-maximize-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-menu"
                data-bs-toggle="tooltip"
                title="feather icon-menu"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-message-circle"
                data-bs-toggle="tooltip"
                title="feather icon-message-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-message-square"
                data-bs-toggle="tooltip"
                title="feather icon-message-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-mic"
                data-bs-toggle="tooltip"
                title="feather icon-mic"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-mic-off"
                data-bs-toggle="tooltip"
                title="feather icon-mic-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-minimize"
                data-bs-toggle="tooltip"
                title="feather icon-minimize"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-minimize-2"
                data-bs-toggle="tooltip"
                title="feather icon-minimize-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-minus"
                data-bs-toggle="tooltip"
                title="feather icon-minus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-minus-circle"
                data-bs-toggle="tooltip"
                title="feather icon-minus-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-minus-square"
                data-bs-toggle="tooltip"
                title="feather icon-minus-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-monitor"
                data-bs-toggle="tooltip"
                title="feather icon-monitor"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-moon"
                data-bs-toggle="tooltip"
                title="feather icon-moon"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-more-horizontal"
                data-bs-toggle="tooltip"
                title="feather icon-more-horizontal"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-more-vertical"
                data-bs-toggle="tooltip"
                title="feather icon-more-vertical"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-move"
                data-bs-toggle="tooltip"
                title="feather icon-move"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-music"
                data-bs-toggle="tooltip"
                title="feather icon-music"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-navigation"
                data-bs-toggle="tooltip"
                title="feather icon-navigation"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-navigation-2"
                data-bs-toggle="tooltip"
                title="feather icon-navigation-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-octagon"
                data-bs-toggle="tooltip"
                title="feather icon-octagon"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-package"
                data-bs-toggle="tooltip"
                title="feather icon-package"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-paperclip"
                data-bs-toggle="tooltip"
                title="feather icon-paperclip"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-pause"
                data-bs-toggle="tooltip"
                title="feather icon-pause"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-pause-circle"
                data-bs-toggle="tooltip"
                title="feather icon-pause-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-percent"
                data-bs-toggle="tooltip"
                title="feather icon-percent"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone"
                data-bs-toggle="tooltip"
                title="feather icon-phone"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-call"
                data-bs-toggle="tooltip"
                title="feather icon-phone-call"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-forwarded"
                data-bs-toggle="tooltip"
                title="feather icon-phone-forwarded"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-incoming"
                data-bs-toggle="tooltip"
                title="feather icon-phone-incoming"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-missed"
                data-bs-toggle="tooltip"
                title="feather icon-phone-missed"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-off"
                data-bs-toggle="tooltip"
                title="feather icon-phone-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-phone-outgoing"
                data-bs-toggle="tooltip"
                title="feather icon-phone-outgoing"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-pie-chart"
                data-bs-toggle="tooltip"
                title="feather icon-pie-chart"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-play"
                data-bs-toggle="tooltip"
                title="feather icon-play"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-play-circle"
                data-bs-toggle="tooltip"
                title="feather icon-play-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-plus"
                data-bs-toggle="tooltip"
                title="feather icon-plus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-plus-circle"
                data-bs-toggle="tooltip"
                title="feather icon-plus-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-plus-square"
                data-bs-toggle="tooltip"
                title="feather icon-plus-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-pocket"
                data-bs-toggle="tooltip"
                title="feather icon-pocket"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-power"
                data-bs-toggle="tooltip"
                title="feather icon-power"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-printer"
                data-bs-toggle="tooltip"
                title="feather icon-printer"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-radio"
                data-bs-toggle="tooltip"
                title="feather icon-radio"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-refresh-ccw"
                data-bs-toggle="tooltip"
                title="feather icon-refresh-ccw"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-refresh-cw"
                data-bs-toggle="tooltip"
                title="feather icon-refresh-cw"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-repeat"
                data-bs-toggle="tooltip"
                title="feather icon-repeat"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-rewind"
                data-bs-toggle="tooltip"
                title="feather icon-rewind"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-rotate-ccw"
                data-bs-toggle="tooltip"
                title="feather icon-rotate-ccw"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-rotate-cw"
                data-bs-toggle="tooltip"
                title="feather icon-rotate-cw"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-rss"
                data-bs-toggle="tooltip"
                title="feather icon-rss"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-save"
                data-bs-toggle="tooltip"
                title="feather icon-save"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-scissors"
                data-bs-toggle="tooltip"
                title="feather icon-scissors"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-search"
                data-bs-toggle="tooltip"
                title="feather icon-search"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-send"
                data-bs-toggle="tooltip"
                title="feather icon-send"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-server"
                data-bs-toggle="tooltip"
                title="feather icon-server"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-settings"
                data-bs-toggle="tooltip"
                title="feather icon-settings"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-share"
                data-bs-toggle="tooltip"
                title="feather icon-share"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-share-2"
                data-bs-toggle="tooltip"
                title="feather icon-share-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-shield"
                data-bs-toggle="tooltip"
                title="feather icon-shield"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-shield-off"
                data-bs-toggle="tooltip"
                title="feather icon-shield-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-shopping-bag"
                data-bs-toggle="tooltip"
                title="feather icon-shopping-bag"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-shopping-cart"
                data-bs-toggle="tooltip"
                title="feather icon-shopping-cart"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-shuffle"
                data-bs-toggle="tooltip"
                title="feather icon-shuffle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-sidebar"
                data-bs-toggle="tooltip"
                title="feather icon-sidebar"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-skip-back"
                data-bs-toggle="tooltip"
                title="feather icon-skip-back"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-skip-forward"
                data-bs-toggle="tooltip"
                title="feather icon-skip-forward"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-slack"
                data-bs-toggle="tooltip"
                title="feather icon-slack"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-slash"
                data-bs-toggle="tooltip"
                title="feather icon-slash"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-sliders"
                data-bs-toggle="tooltip"
                title="feather icon-sliders"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-smartphone"
                data-bs-toggle="tooltip"
                title="feather icon-smartphone"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-speaker"
                data-bs-toggle="tooltip"
                title="feather icon-speaker"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-square"
                data-bs-toggle="tooltip"
                title="feather icon-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-star"
                data-bs-toggle="tooltip"
                title="feather icon-star"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-stop-circle"
                data-bs-toggle="tooltip"
                title="feather icon-stop-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-sun"
                data-bs-toggle="tooltip"
                title="feather icon-sun"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-sunrise"
                data-bs-toggle="tooltip"
                title="feather icon-sunrise"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-sunset"
                data-bs-toggle="tooltip"
                title="feather icon-sunset"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-tablet"
                data-bs-toggle="tooltip"
                title="feather icon-tablet"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-tag"
                data-bs-toggle="tooltip"
                title="feather icon-tag"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-target"
                data-bs-toggle="tooltip"
                title="feather icon-target"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-terminal"
                data-bs-toggle="tooltip"
                title="feather icon-terminal"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-thermometer"
                data-bs-toggle="tooltip"
                title="feather icon-thermometer"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-thumbs-down"
                data-bs-toggle="tooltip"
                title="feather icon-thumbs-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-thumbs-up"
                data-bs-toggle="tooltip"
                title="feather icon-thumbs-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-toggle-left"
                data-bs-toggle="tooltip"
                title="feather icon-toggle-left"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-toggle-right"
                data-bs-toggle="tooltip"
                title="feather icon-toggle-right"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-trash"
                data-bs-toggle="tooltip"
                title="feather icon-trash"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-trash-2"
                data-bs-toggle="tooltip"
                title="feather icon-trash-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-trending-down"
                data-bs-toggle="tooltip"
                title="feather icon-trending-down"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-trending-up"
                data-bs-toggle="tooltip"
                title="feather icon-trending-up"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-triangle"
                data-bs-toggle="tooltip"
                title="feather icon-triangle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-truck"
                data-bs-toggle="tooltip"
                title="feather icon-truck"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-tv"
                data-bs-toggle="tooltip"
                title="feather icon-tv"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-twitter"
                data-bs-toggle="tooltip"
                title="feather icon-twitter"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-type"
                data-bs-toggle="tooltip"
                title="feather icon-type"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-umbrella"
                data-bs-toggle="tooltip"
                title="feather icon-umbrella"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-underline"
                data-bs-toggle="tooltip"
                title="feather icon-underline"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-unlock"
                data-bs-toggle="tooltip"
                title="feather icon-unlock"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-upload"
                data-bs-toggle="tooltip"
                title="feather icon-upload"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-upload-cloud"
                data-bs-toggle="tooltip"
                title="feather icon-upload-cloud"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-user"
                data-bs-toggle="tooltip"
                title="feather icon-user"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-user-check"
                data-bs-toggle="tooltip"
                title="feather icon-user-check"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-user-minus"
                data-bs-toggle="tooltip"
                title="feather icon-user-minus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-user-plus"
                data-bs-toggle="tooltip"
                title="feather icon-user-plus"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-user-x"
                data-bs-toggle="tooltip"
                title="feather icon-user-x"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-users"
                data-bs-toggle="tooltip"
                title="feather icon-users"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-video"
                data-bs-toggle="tooltip"
                title="feather icon-video"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-video-off"
                data-bs-toggle="tooltip"
                title="feather icon-video-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-voicemail"
                data-bs-toggle="tooltip"
                title="feather icon-voicemail"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-volume"
                data-bs-toggle="tooltip"
                title="feather icon-volume"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-volume-1"
                data-bs-toggle="tooltip"
                title="feather icon-volume-1"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-volume-2"
                data-bs-toggle="tooltip"
                title="feather icon-volume-2"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-volume-x"
                data-bs-toggle="tooltip"
                title="feather icon-volume-x"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-watch"
                data-bs-toggle="tooltip"
                title="feather icon-watch"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-wifi"
                data-bs-toggle="tooltip"
                title="feather icon-wifi"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-wifi-off"
                data-bs-toggle="tooltip"
                title="feather icon-wifi-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-wind"
                data-bs-toggle="tooltip"
                title="feather icon-wind"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-x"
                data-bs-toggle="tooltip"
                title="feather icon-x"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-x-circle"
                data-bs-toggle="tooltip"
                title="feather icon-x-circle"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-x-square"
                data-bs-toggle="tooltip"
                title="feather icon-x-square"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-zap"
                data-bs-toggle="tooltip"
                title="feather icon-zap"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-zap-off"
                data-bs-toggle="tooltip"
                title="feather icon-zap-off"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-zoom-in"
                data-bs-toggle="tooltip"
                title="feather icon-zoom-in"
              ></i>
            </li>
            <li>
              <i
                class="feather icon-zoom-out"
                data-bs-toggle="tooltip"
                title="feather icon-zoom-out"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
