<div class="d-flex justify-content-center" *ngIf="gettingUserData" style="margin: 50px">
    <div class="spinner-border" role="status"></div>
</div>
<app-head-profile [userData]="userData" *ngIf="!gettingUserData"></app-head-profile>
<br>
<div class="d-flex justify-content-center" *ngIf="loadingData" style="margin: 50px">
    <div class="spinner-border" role="status"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-scroll">
                    <app-invoice-list *ngIf="!loadingData && raw?.length > 0" [invoiceList]="raw"></app-invoice-list>

                    <div *ngIf="!loadingData && raw?.length < 1"
                        class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-12" style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                            <img src="assets/img/resources/nts.png" alt="" style="max-width: 150px;
                                        height: auto;">
                        </div>
                        <div class="col-md-12" style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                            {{ "nts" | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-calendar [events]="items" *ngIf="!loadingData && raw.length > 0"></app-calendar>
            </div>
        </div>
    </div>
</div>