<!-- Sign In -->
<div class="row gx-0">
  <!-- Banner Content -->
  <div class="col-lg-6">
    <div class="authentication-wrapper">
      <div class="authentication-content">
        <h1>{{ 'auth.leftLoginMessage' | translate }}</h1>
        <p>{{ 'auth.leftLoginSubMessage' | translate }}</p>
      </div>
      <div class="authen-img">
        <img src="assets/img/saas-login-img.png" alt="" />
      </div>
      <div class="login-bg-img">
        <img src="assets/img/saas-login-bg-04.png" class="img-fluid vector-bg-four" alt="Img" />
      </div>
    </div>
  </div>
  <!-- /Banner Content -->

  <!-- login Content -->
  <div class="col-lg-6">
    <div class="saas-login-wrapper p-0">
      <div class="login-content">
        <form [formGroup]="form">
          <div class="login-userset">
            <div class="login-logo">
              <img src="assets/img/ressorces/dk_logo.png" alt="Logo" />
            </div>
            <div class="login-card" *ngIf="emailSended" style="text-align: center !important;">
              <img src="assets/img/ressorces/mail-success.png" alt="" style="max-width: 200px;"/>
              <br>
              A password reset link has been sent to your address <b>{{email}}</b>
            </div>

            <div class="login-card" *ngIf="!emailSended">
              <div class="login-heading">
                <p>{{ 'auth.forgotPassword' | translate }} ?</p>
                <h3>{{ 'auth.resetPassword' | translate }}</h3>
              </div>
              <div class="input-block mb-3">
                <label class="form-label">{{ 'auth.email' | translate }} *</label>
                <input class="form-control" formControlName="email" type="text"
                  placeholder="{{ 'auth.enterEmail' | translate }}" />
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-primary" *ngIf="!isLoading">
                {{ 'auth.login' | translate}}
              </button>
              <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-light w-100" type="submit" disabled
                *ngIf="isLoading">
                <img src="assets/img/new/loader.gif" width="30px" alt="">
              </button>
            </div>
            <div class="acc-in">
              <p>
                {{ 'auth.doNotHaveAccount' | translate}} ?
                <a [routerLink]="routes.register">{{ 'auth.register' | translate}}</a> or
                <a [routerLink]="routes.login">{{ 'auth.login' | translate}}</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p style="
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto !important;
    ">
    &copy; digikuntz Payments 2025
  </p>
  <!-- /Login Content -->
</div>
<!-- /Sign In -->