<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Contact Details</h5>
  </div>
</div>
<ul class="contact-details">
  <li>
    <div class="d-flex align-items-center">
      <span class="me-3"><img class="rounded-circle" width="38" height="38"
      src="assets/img/profiles/avatar-14.jpg" alt="User Image"></span>
      <div>
        <p>John Smith </p>
        <span>john&#64;example.com</span>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <span class="contact-square d-flex align-items-center justify-content-center rounded-circle">
        <i class="feather icon-mail"></i>
      </span>
      <div>
        <p>Email </p>
        <span>john&#64;example.com</span>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <span class="contact-square d-flex align-items-center justify-content-center rounded-circle">
        <i class="feather icon-phone-call"></i>
      </span>
      <div>
        <p>Phone</p>
        <span>+1 347-679-8275</span>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <span class="contact-square d-flex align-items-center justify-content-center rounded-circle">
        <i class=" feather icon-message-square"></i>
      </span>
      <div>
        <p class="text-start">Message </p>
        <span>Need this script</span>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <span class="contact-square d-flex align-items-center justify-content-center rounded-circle">
        <i class=" feather icon-calendar"></i>
      </span>
      <div>
        <p class="text-start">Date </p>
        <span>28 Sep 2022</span>
      </div>
    </div>
  </li>
  <li>
    <a href="javascript:void(0);" class="float-xl-end float-lg-start btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#contact_reply">Reply</a>
  </li>
</ul>
<!-- /Page Header -->

<div class="content-page-header ">
  <h6>Customers</h6>
  <div class="list-btn">
    <ul class="filter-list">
      <li>
        <a class="btn btn-filters w-auto popup-toggle" matTooltip="Filter"><span class=" me-2"><img
        src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter </a>
      </li>
    </ul>
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <h2 class="table-avatar">
                    <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                      class="avatar-img rounded-circle"
                    src="assets/img/profiles/avatar-14.jpg" alt="User Image"></a>
                    <a [routerLink] = "routes.profile">John Smith</a>
                  </h2>
                </td>
                <td><span>john&#64;example.com</span></td>
                <td>+1 989-438-3131</td>
                <td>Lorem ipsum dolor sit consectetur</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <h2 class="table-avatar">
                    <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                      class="avatar-img rounded-circle"
                    src="assets/img/profiles/avatar-15.jpg" alt="User Image"></a>
                    <a [routerLink] = "routes.profile">Johnny</a>
                  </h2>
                </td>
                <td><span>johnny&#64;example.com</span></td>
                <td>+1 843-443-3282</td>
                <td>Ut enim ad minim veniam, quis</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <h2 class="table-avatar">
                    <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                      class="avatar-img rounded-circle"
                    src="assets/img/profiles/avatar-16.jpg" alt="User Image"></a>
                    <a [routerLink] = "routes.profile">Robert</a>
                  </h2>
                </td>
                <td><span>robert&#64;example.com</span></td>
                <td>+1 917-409-0861</td>
                <td>Duis aute irure dolor in reprehenderit</td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <h2 class="table-avatar">
                    <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                      class="avatar-img rounded-circle"
                    src="assets/img/profiles/avatar-17.jpg" alt="User Image"></a>
                    <a [routerLink] = "routes.profile">Sharonda</a>
                  </h2>
                </td>
                <td><span>sharon&#64;example.com</span></td>
                <td>+1 956-623-2880</td>
                <td>Excepteur sint occaecat cupidatat</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <h2 class="table-avatar">
                    <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                      class="avatar-img rounded-circle"
                    src="assets/img/profiles/avatar-18.jpg" alt="User Image"></a>
                    <a [routerLink] = "routes.profile">Pricilla</a>
                  </h2>
                </td>
                <td><span>pricilla&#64;example.com</span></td>
                <td>+1 707-439-1732</td>
                <td>Sed ut perspiciatis unde omnis iste</td>
                <tr>
                  <td>6</td>
                  <td>
                    <h2 class="table-avatar">
                      <a [routerLink] = "routes.contactdetails" class="avatar avatar-sm me-2"><img
                        class="avatar-img rounded-circle"
                      src="assets/img/profiles/avatar-19.jpg" alt="User Image"></a>
                      <a [routerLink] = "routes.profile">Randall</a>
                    </h2>
                  </td>
                  <td><span>randall&#64;example.com</span></td>
                  <td>+1 559-741-9672</td>
                  <td>Nemo enim ipsam voluptatem quia</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Table -->
  <!-- Filter -->
  <div class="toggle-sidebar">
    <div class="sidebar-layout-filter">
      <div class="sidebar-header">
        <h5>Filter</h5>
        <a href="javascript:void(0);" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
      </div>
      <div class="sidebar-body">
        <form action="#" autocomplete="off">
          <!-- Customer -->
          <div class="accordion" id="accordionMain1">
            <div class="card-header-new" id="headingOne">
              <h6 class="filter-title">
                <a class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Customer
                  <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                </a>
              </h6>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample1">
              <div class="card-body-chat">
                <div class="row">
                  <div class="col-md-12">
                    <div id="checkBoxes">
                      <div class="form-custom">
                        <input type="text" class="form-control" id="member_search"
                          placeholder="Search here">
                          <span><img src="assets/img/icons/search.svg" alt="img"></span>
                        </div>
                        <div class="selectBox-cont">
                          <label htmlFor="label" class="custom_check w-100">
                            <input id="label" type="checkbox" name="username" />
                            <span class="checkmark"></span> John Smith
                          </label>
                          <label htmlFor="label" class="custom_check w-100">
                            <input id="label" type="checkbox" name="username" />
                            <span class="checkmark"></span> Johnny Charles
                          </label>
                          <label htmlFor="label" class="custom_check w-100">
                            <input id="label" type="checkbox" name="username" />
                            <span class="checkmark"></span> Robert George
                          </label>
                          <label htmlFor="label" class="custom_check w-100">
                            <input id="label" type="checkbox" name="username" />
                            <span class="checkmark"></span> Sharonda Letha
                          </label>
                          <!-- View All -->
                          <div class="view-content">
                            @for (user of users; track user) {
<div class="viewall-One" [ngClass]="{
															  closed: !isCollapsed,
															  open: isCollapsed
															}">
                                <label htmlFor="label" class="custom_check w-100">
                                  <input id="label" type="checkbox" name="username"
                                    [(ngModel)]="user.checked" />
                                    <span class="checkmark"></span> {{ user.name }}
                                  </label>
                                </div>
                              }
                              <div class="view-all">
                                <a href="javascript:void(0);" class="viewall-button-One"
                                  (click)="toggleCollapse()"><span class="me-2">{{
                                  isCollapsed ? "Close All" : "View All"
                                }}</span></a>
                              </div>
                            </div>
                            <!-- /View All -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Customer -->

              <!-- Select Date -->
              <div class="accordion" id="accordionMain2">
                <div class="card-header-new" id="headingTwo">
                  <h6 class="filter-title">
                    <a class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                      aria-expanded="true" aria-controls="collapseTwo">
                      Select Date
                      <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                    </a>
                  </h6>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample2">
                  <div class="card-body-chat">
                    <div class="form-group">
                      <label for="From" class="form-control-label">From</label>
                      <div class="cal-icon">
                        <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                          placeholder="DD-MM-YYYY">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="To" class="form-control-label">To</label>
                        <div class="cal-icon">
                          <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                            placeholder="DD-MM-YYYY">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Select Date -->

                  <!-- By Status -->
                  <div class="accordion" id="accordionMain3">
                    <div class="card-header-new" id="headingThree">
                      <h6 class="filter-title">
                        <a class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                          aria-expanded="true" aria-controls="collapseThree">
                          By Status
                          <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                        </a>
                      </h6>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample3">
                      <div class="card-body-chat">
                        <div id="checkBoxes">
                          <div class="form-custom">
                            <input type="text" class="form-control" id="member_search"
                              placeholder="Search here">
                              <span><img src="assets/img/icons/search.svg" alt="img"></span>
                            </div>
                            <div class="selectBox-cont">
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> All Invoices
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> Paid
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> Overdue
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> Draft
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> Recurring
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="bystatus">
                                <span class="checkmark"></span> Cancelled
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /By Status -->

                    <!-- Category -->
                    <div class="accordion accordion-last" id="accordionMain4">
                      <div class="card-header-new" id="headingThree">
                        <h6 class="filter-title">
                          <a class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                            Category
                            <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                          </a>
                        </h6>
                      </div>

                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample4">
                        <div class="card-body-chat">
                          <div id="checkBoxes">
                            <div class="selectBox-cont">
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> Advertising
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> Food
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> Repairs
                              </label>
                              <label class="custom_check w-100">
                                <input type="checkbox" name="category">
                                <span class="checkmark"></span> Software
                              </label>
                              <!-- View All -->
                              <div class="view-content">
                                <div class="viewall-Two">
                                  <label class="custom_check w-100">
                                    <input type="checkbox" name="username">
                                    <span class="checkmark"></span> Stationary
                                  </label>
                                  <label class="custom_check w-100">
                                    <input type="checkbox" name="username">
                                    <span class="checkmark"></span> Medical
                                  </label>
                                  <label class="custom_check w-100">
                                    <input type="checkbox" name="username">
                                    <span class="checkmark"></span> Designing
                                  </label>
                                </div>
                                <div class="view-all">
                                  <a href="javascript:void(0);" class="viewall-button-Two"><span
                                  class="me-2">View All</span><span><i
                                class="fa fa-circle-chevron-down"></i></span></a>
                              </div>
                            </div>
                            <!-- /View All -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Category -->
                  <button type="submit"
                    class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    <span><img src="assets/img/icons/chart.svg" class="me-2" alt="Generate report"></span>Generate
                    report
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- /Filter -->

          <!-- Modal -->
          <div class="modal custom-modal fade" id="contact_reply" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md">
              <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                  <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Reply Contact</h4>
                  </div>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12 description-box">
                      <div class="form-group mb-0" id="summernote_container">
                        <label for="Content" class="form-control-label">Content</label>
                        <textarea class="summernote form-control" placeholder="Type your message"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="javascript:void(0);" data-bs-dismiss="modal"
                  class="btn btn-primary paid-cancel-btn me-2">Cancel</a>
                  <a href="javascript:void(0);" data-bs-dismiss="modal"
                  class="btn btn-primary paid-continue-btn">Submit</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /Modal -->