<!-- Sidebar -->
<div class="sidebar" (mouseover)="miniSideBarMouseHover('over')" (focus)="miniSideBarMouseHover('over')"
  (mouseout)="miniSideBarMouseHover('out')" (blur)="miniSideBarMouseHover('out')" id="sidebar" [ngClass]="{
    'sidebar-six': headerSidebarStyle === '1' && mobileSidebar === false,
    'sidebar-seven': headerSidebarStyle === '2',
    'sidebar-eight': headerSidebarStyle === '3',
    'sidebar-nine': headerSidebarStyle === '4',
    'sidebar-four': mobileSidebar === true && headerSidebarStyle !== '1'}">
  <div class="sidebar-header">
    <!-- <div class="sidebar-logo">
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/logo.png" class="img-fluid logo" alt="Logo">
    </a>
    <a [routerLink]="routes.dashboard">
      <img src="assets/img/logo-small.png" class="img-fluid logo-small" alt="Logo">
    </a>
  </div> -->
  </div>
  <ng-scrollbar thumbClass="custom-scrollbars">
    <!-- <div class="slimScrollDiv" > -->
    <div class="sidebar-inner slimScroll">

      <div id="sidebar-menu" class="sidebar-menu" [ngClass]="{
              'sidebar-menu-six': headerSidebarStyle === '1',
              'sidebar-menu-seven ': headerSidebarStyle === '2',
              'sidebar-menu-eight': headerSidebarStyle === '3',
              'sidebar-menu-nine': headerSidebarStyle === '4',
              'sidebar-menu-ten': primarySkinStyle === '1',
              'sidebar-menu-eleven ': primarySkinStyle === '2',
              'sidebar-menu-twelve': primarySkinStyle === '3'
            }">


        <ul class="sidebar-vertical">
          @for (mainTittle of side_bar_data; track mainTittle) {
          <li class="menu-title">
            <span>{{ 'sideMenu.' + mainTittle.tittle | translate }}</span>
          </li>
          @for (menu of mainTittle?.menu; track menu) {
          @if (menu?.hasSubRoute === false) {
          <li [class.active]="base === menu.base">
            <a [routerLink]="menu.route"><i class="feather" [class]="'icon-' + menu.icon"></i>
              <span>
                {{ 'sideMenu.' + menu?.menuValue | translate }}</span> @if (menu.changeLogVersion === true) {
              <span class="badge badge-primary ms-auto">v2.0.5</span>
              }</a>
          </li>
          }
          @if (menu.hasSubRoute === true) {
          <li class="submenu">
            <a [class.active]="base === menu.base" href="javascript:void(0)" (click)="expandSubMenus(menu)"
              [ngClass]="{ 'subdrop': menu.showSubRoute === true , 'd-none': menu.view === false }"><i class="feather"
                [class]="'icon-' + menu.icon"></i>
              <span> {{ menu.menuValue }}</span>
              <span class="menu-arrow"></span>
            </a>
            <ul [ngClass]="
                        menu.showSubRoute === true
                          ? 'show-sub-menu'
                          : 'hide-sub-menu'
                      ">
              @for (subMenus of menu.subMenus; track subMenus) {
              <li>
                <a [class.active]="currentRoute ===subMenus.base" [routerLink]="subMenus.route"
                  (click)="navigateAuth(menu.menuValue)">{{ subMenus.menuValue }}
                </a>
              </li>
              }
            </ul>
          </li>
          }
          }
          }
          <!-- <li class="submenu">
            <a [ngClass]="{ subdrop: multilevel[0] }" (click)="multilevel[0] = !multilevel[0]"
              href="javascript:void(0);"><i class="feather icon-list"></i> <span>Multi Level</span> <span
                class="menu-arrow"></span></a>
            <ul [ngClass]="
                multilevel[0] === true
                ? 'd-block'
                : 'd-none'
            ">
              <li class="submenu">
                <a [ngClass]="{ subdrop: multilevel[1] }" (click)="multilevel[1] = !multilevel[1]"
                  href="javascript:void(0);"><span>Level 1</span> <span class="menu-arrow"></span></a>
                <ul [ngClass]="
                    multilevel[1] === true
                    ? 'd-block'
                    : 'd-none'
                ">
                  <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                  <li class="submenu">
                    <a [ngClass]="{ subdrop: multilevel[2] }" (click)="multilevel[2] = !multilevel[2]"
                      href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                    <ul [ngClass]="
                        multilevel[2] === true
                        ? 'd-block'
                        : 'd-none'
                    ">
                      <li><a href="javascript:void(0);">Level 3</a></li>
                      <li><a href="javascript:void(0);">Level 3</a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);"><span>Level 1</span></a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- </div>     -->

  </ng-scrollbar>
</div>
<!-- /Sidebar -->