<!-- Sidebar -->
<div

  class="sidebar sidebar-two"
  (mouseover)="miniSideBarMouseHover('over')"
  (focus)="miniSideBarMouseHover('over')"
  (mouseout)="miniSideBarMouseHover('out')"
  (blur)="miniSideBarMouseHover('out')"
  id="sidebar"
  [ngClass]="{
    'sidebar-six': headerSidebarStyle === '1',
    'sidebar-seven': headerSidebarStyle === '2',
    'sidebar-eight': headerSidebarStyle === '3',
    'sidebar-nine': headerSidebarStyle === '4'
  }"
  >
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <a [routerLink]="routes.dashboard">
        <img src="assets/img/logo-white.png" class="img-fluid logo"alt="image">
      </a>
      <a [routerLink]="routes.dashboard">
        <img src="assets/img/logo-small.png" class="img-fluid logo-small"alt="image">
      </a>
    </div>
  </div>
  <ng-scrollbar thumbClass="custom-scrollbars">
    <div class="sidebar-inner slimScroll">
      <div
        id="sidebar-menu"
        class="sidebar-menu"
        [ngClass]="{
          'sidebar-menu-six': headerSidebarStyle === '1',
          'sidebar-menu-seven ': headerSidebarStyle === '2',
          'sidebar-menu-eight': headerSidebarStyle === '3',
          'sidebar-menu-nine': headerSidebarStyle === '4',
          'sidebar-menu-ten': primarySkinStyle === '1',
          'sidebar-menu-eleven ': primarySkinStyle === '2',
          'sidebar-menu-twelve': primarySkinStyle === '3'
        }"
        >

        <ul>
          @for (mainTittle of side_bar_data; track mainTittle) {
            <li class="menu-title">
              <span>{{ mainTittle.tittle }}</span>
            </li>
            @for (menu of mainTittle?.menu; track menu) {
              @if (menu?.hasSubRoute === false) {
                <li
                  [class.active]="isMenuActive(menu.base)"
                  >
                  <a [routerLink]="menu.route"
                    ><i class="feather" [class]="'icon-' + menu.icon"></i><span>{{ menu?.menuValue }}</span></a
                    >
                  </li>
                }
                @if (menu.hasSubRoute === true) {
                  <li class="submenu">
                    <a
                      [class.active]="isMenuActive(menu.base)"
                      href="javascript:void(0)"
                      (click)="expandSubMenus(menu)"
                      [ngClass]="{ subdrop: menu.showSubRoute === true }"
                      ><i class="feather" [class]="'icon-' + menu.icon"></i>
                      <span> {{ menu.menuValue }}</span>
                      <span class="menu-arrow"></span
                      ></a>
                      <ul
                [ngClass]="
                  menu.showSubRoute === true
                    ? 'show-sub-menu'
                    : 'hide-sub-menu'
                "
                        >
                        @for (subMenus of menu.subMenus; track subMenus) {
                          <li>
                            <a
                              [class.active]="currentRoute ===subMenus.base"
                              [routerLink]="subMenus.route"
                              (click)="navigateAuth(menu.menuValue)"
                              >{{ subMenus.menuValue }}
                            </a>
                          </li>
                        }
                      </ul>
                    </li>
                  }
                }
              }
              <li><a  (click)="logOut()" class="logout "href="javascript:void(0);"><i class="feather icon-power me-6"></i>Logout</a></li>
            </ul>
          </div>
        </div>
      </ng-scrollbar>
    </div>
    <!-- /Sidebar -->
