<div class="row gx-0">
  <div class="col-lg-6">
    <div class="authentication-wrapper">
      <div class="authentication-content">
        <h1>{{ 'auth.forcePasswordTitle' | translate }}</h1>
        <p>{{ 'auth.forcePasswordSubtitle' | translate }}</p>
      </div>
      <div class="authen-img">
        <img src="assets/img/saas-login-img.png" alt="" />
      </div>
      <div class="login-bg-img">
        <img src="assets/img/saas-login-bg-04.png" class="img-fluid vector-bg-four" alt="Img" />
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="saas-login-wrapper p-0">
      <div class="login-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="login-userset">
            <div class="login-logo" routerLink="/">
              <img src="assets/img/resources/dk_logo.png" alt="Logo" />
            </div>
            <div class="login-card">
              <div class="login-heading">
                <p>{{ 'auth.forcePasswordRequired' | translate }}</p>
                <h3>{{ 'auth.changePassword' | translate }}</h3>
              </div>

              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.currentPassword' | translate }} *</label>
                <div class="pass-group">
                  <input class="form-control" formControlName="currentPassword"
                    [type]="showCurrentPassword ? 'text' : 'password'"
                    placeholder="{{ 'auth.currentPassword' | translate }}" minlength="8" />
                  <a href="javascript:void(0);" (click)="showCurrentPassword = !showCurrentPassword">
                    <span [ngClass]="showCurrentPassword ? 'fas toggle-password fa-eye' : 'fas toggle-password fa-eye-slash'"></span>
                  </a>
                </div>
              </div>

              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.enterNewPassword' | translate }} *</label>
                <div class="pass-group">
                  <input class="form-control" formControlName="newPassword"
                    [type]="showNewPassword ? 'text' : 'password'"
                    placeholder="{{ 'auth.enterNewPassword' | translate }}" minlength="8" />
                  <a href="javascript:void(0);" (click)="showNewPassword = !showNewPassword">
                    <span [ngClass]="showNewPassword ? 'fas toggle-password fa-eye' : 'fas toggle-password fa-eye-slash'"></span>
                  </a>
                </div>
              </div>

              <div class="input-block mb-3">
                <label class="form-control-label">{{ 'auth.confirmPassword' | translate }} *</label>
                <input class="form-control" formControlName="confirmPassword"
                  [type]="showNewPassword ? 'text' : 'password'"
                  placeholder="{{ 'auth.confirmPassword' | translate }}" minlength="8" />
              </div>

              <button type="submit" class="btn btn-primary" *ngIf="!isSending" [disabled]="form.invalid">
                {{ 'action.save' | translate }}
              </button>
              <button class="btn btn-lg btn-block btn-light w-100" type="button" disabled *ngIf="isSending">
                <div class="spinner-border" role="status"></div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
