<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Facturation</h5>
    <div class="page-content">
      <div class="list-btn">
        <ul class="filter-list">
          <li (click)="getAllInvoiceData()">
            <a class="btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="Refresh" matTooltip="Refresh"><span><i class="feather icon-refresh-ccw"></i></span></a>
          </li>
          <li>
            <a (click)="openContent()" class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Filter" matTooltip="Filter"><span class="me-2"><img
                  src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter
            </a>
          </li>

          <li>
            <div class="dropdown dropdown-action" data-bs-toggle="tooltip" matTooltip="Download"
              data-bs-placement="bottom" title="Download">
              <a href="javascript:void(0);" class="btn btn-filters" data-bs-toggle="dropdown"
                aria-expanded="false"><span class="me-2"><i class="feather icon-download"></i></span>Export</a>
              <div class="dropdown-menu dropdown-menu-end">
                <ul class="d-block">
                  <li>
                    <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                        class="far fa-file-pdf me-2"></i>Export as PDF</a>
                  </li>
                  <li>
                    <a class="d-flex align-items-center download-item" href="javascript:void(0);" download><i
                        class="far fa-file-text me-2"></i>Export as Excel</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a class="btn btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip" matTooltip="Print"
              data-bs-placement="bottom" title="Print"><span class="me-2"><i class="feather icon-printer"></i></span>
              Print
            </a>
          </li>
          <li>
            <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal"
              data-bs-target="#add_companies">
              <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Ajouter une facture</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Page Header -->
<!-- 
<div class="super-admin-list-head">
  <div class="row">
    <div class="col-xl-3 col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <div class="grid-info-item total-items">
            <div class="grid-info">
              <span>Total Companies</span>
              <h4>987</h4>
            </div>
            <div class="grid-head-icon">
              <i class="feather icon-life-buoy"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <div class="grid-info-item active-items">
            <div class="grid-info">
              <span>Active Companies</span>
              <h4>154</h4>
            </div>
            <div class="grid-head-icon">
              <i class="feather icon-check-square"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <div class="grid-info-item inactive-items">
            <div class="grid-info">
              <span>Inactive Company</span>
              <h4>2</h4>
            </div>
            <div class="grid-head-icon">
              <i class="feather icon-x-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <div class="grid-info-item location-info">
            <div class="grid-info">
              <span>Company Locations</span>
              <h4>200</h4>
            </div>
            <div class="grid-head-icon">
              <i class="feather icon-map-pin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table
          datatable
            class="table table-stripped table-hover"
          >
            <thead class="thead-light">
              <tr>
                <th Class="no-sort">#</th>
                <!-- <th >Id</th> -->
                <th >Nom</th>
                <th >Email</th>
                <th >Téléphone</th>
                <th >Montant</th>
                <th >Reste</th>
                <th >Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of tableData; let i = index" (click)="copyToClipboard(invoice.id)">
                <!-- <td>{{ i + 1 }}</td> -->
                <td>{{ invoice.id}}</td>
                <td>{{ invoice.name}}</td>
                <td>{{ invoice.email}}</td>
                <td>{{ invoice.phone }}</td>
                <td>{{ invoice.payment}} {{ invoice.currency}}</td>
                <td>{{ invoice.rest}} {{ invoice.currency}}<td>
                  <td *ngIf="invoice.status === false" style="background-color: #4b4b4b46;">{{ invoice.status}}</td>
                  <td *ngIf="invoice.status === true" style="background-color: #0ee52b46;">{{ invoice.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!isLoading && tableData && tableData?.length < 1" style="padding: 30px 10px; text-align: center !important;">
          <img src="assets/img/new/empty_folder.png" width="100px" alt="" style="margin: 70px 0;"><br>
          Aucune donnée à afficher.
        </div>
        <div *ngIf="isLoading" style="text-align: center !important; padding: 100px;">
          <img src="assets/img/new/loader.gif" width="50px">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Asset -->
<div class="toggle-sidebar" [ngClass]="{ 'open-filter': toggleData === true }">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="javascript:void(0);" class="sidebar-closes" (click)="openContent()"><i
          class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Company Name
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input type="text" class="form-control member-search-dropdown" id="member_search1"
                        placeholder="Search Company">
                      <span><img src="assets/img/icons/search.svg" alt="img"></span>
                    </div>
                    <div class="selectBox-cont search-dropdown-item">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Hermann Groups
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Skiles LLC
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Kerluke Group
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span>Schowalter Group
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Accentric Global
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Dexter Matrix
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Emporis Technologies
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span>High Tech Lead
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span> Beacon Softwares
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="bystatus">
                        <span class="checkmark"></span>Global tech
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Customer -->

        <!-- By Plane -->
        <div class="accordion" id="accordionMain3">
          <div class="card-header-new" id="headingThree">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Plans
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
            <div class="card-body-chat">
              <div id="checkBoxes2">
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> All Plans
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Advanced
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Basic
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Enterprise
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span>Premium
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span>Free
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /By Plane -->

        <!-- By Plane -->
        <div class="accordion" id="accordionMain4">
          <div class="card-header-new" id="headingFour">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Plans Type
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
            <div class="card-body-chat">
              <div id="checkBoxes2">
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> All Plan Type
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Monthly
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span> Weekly
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus">
                    <span class="checkmark"></span>Lifetime
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /By Plane -->

        <!-- Select Date -->
        <div class="accordion accordion-last" id="accordionMain2">
          <div class="card-header-new" id="headingTwo">
            <h6 class="filter-title">
              <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Select Date
                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </h6>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
            <div class="card-body-chat">
              <div class="input-block mb-3">
                <label class="form-control-label">From</label>
                <div class="cal-icon">
                  <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                </div>
              </div>
              <div class="input-block mb-3">
                <label class="form-control-label">To</label>
                <div class="cal-icon">
                  <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Select Date -->



        <div class="filter-buttons">
          <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
            Apply
          </button>
          <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary">
            Reset
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<!--/Add Asset -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade modal-delete" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <div class="delete-modal-icon">
            <span><i class="feather icon-check-circle"></i></span>
          </div>
          <h3>Are You Sure?</h3>
          <p>You want delete company</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="modal-footer justify-content-center p-0">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn me-2">Yes,
              Delete</button>
            <button type="button" data-bs-dismiss="modal" class="btn btn-back cancel-btn">No,
              Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Items Modal -->

<!-- Add Companies Modal -->
<div class="modal custom-modal custom-lg-modal fade p-20"  #modal  id="add_companies" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Nouvelle facture</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="form-label">Nom </label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nom du payeur">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-label">Email </label>
                <input formControlName="email" type="text" class="form-control" placeholder="Enter Company Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="mb-2">Téléphone</label>
                <input formControlName="phone" class="form-control" id="phone" name="phone" type="text" placeholder="Téléphone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-label">Désignation </label>
                <input formControlName="service" type="text" class="form-control" placeholder="Nom du service">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-block mb-3">
                <label class="form-label">Paiement</label>
                <input formControlName="payment" type="text" class="form-control" placeholder="Paiement">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-block mb-3">
                <label class="form-label">Reste </label>
                <input formControlName="rest" type="text" class="form-control" placeholder="Reste">
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-block mb-3">
                <input formControlName="ir" type="checkbox" style="margin-right: 10px;" checked>
                <label class="form-label">IR (5,5%) </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-block mb-3">
                <input formControlName="yn" type="checkbox" style="margin-right: 10px;" checked>
                <label class="form-label">yNkap commission (2%) </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Devise</label>
                <mat-select formControlName="currency" class="select custom-mat-select" placeholder="Choisir une devise">
                  <mat-option value="FCFA" selected>FCFA</mat-option>
                  <mat-option value="USD">$</mat-option>
                  <mat-option value="EU">€</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="form-label">Description </label>
                <textarea formControlName="description" type="text" class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Langue de la facture</label>
                <mat-select formControlName="language" class="select custom-mat-select" placeholder="Choisir une langue">
                  <mat-option value="fr">Frençais</mat-option>
                  <mat-option value="en">Anglais</mat-option>
                </mat-select>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Annuler</button>
          <button type="submit" class="btn btn-primary paid-continue-btn" *ngIf="!isLoading">Créer</button>
          <button class="btn btn-light" disabled *ngIf="isLoading">
            <img src="assets/img/new/loader.gif" width="30px" alt=""></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Companies Modal -->

<!-- Edit Companies Modal -->
<div class="modal custom-modal custom-lg-modal fade p-20" id="edit_companies" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Edit Company</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form [formGroup]="phoneForm"> 

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-field-item">
                <h5 class="form-title">Company Profile</h5>
                <div class="profile-picture">
                  <div class="upload-profile">
                    <div class="profile-img company-profile-img">
                      <img id="edit-company-img" class="img-fluid me-0" src="assets/img/companies/company-01.svg"
                        alt="profile-img">
                    </div>
                    <div class="add-profile">
                      <h5>Upload a New Photo</h5>
                      <span>Profile-pic.jpg</span>
                    </div>
                  </div>
                  <div class="img-upload">
                    <label class="btn btn-upload">
                      Upload <input type="file">
                    </label>
                    <a class="btn btn-remove">Remove</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="form-label">Name </label>
                <input type="text" class="form-control" placeholder="Enter Company Name" value="Hermann Groups">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-label">Email Address </label>
                <input type="text" class="form-control" placeholder="Enter Company Email" value="info&#64;example.com">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-label">Account Url </label>
                <div class="url-text-box">
                  <input type="text" class="form-control" placeholder="Account URL" value="www.hru.example.com">
                  <span class="url-text">kanakku.com</span>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="mb-2">Phone Number</label>
                <ngx-mat-intl-tel-input id="phone_2" name="phone" type="text" class="form-control"
                  [preferredCountries]="['us', 'gb']" [enablePlaceholder]="true" [enableSearch]="true" name="phone"
                  describedBy="phoneInput" formControlName="phone"></ngx-mat-intl-tel-input>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-label">Website </label>
                <input type="text" class="form-control" placeholder="Enter Website" value="www.example.com">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-control-label">Password</label>
                <div class="pass-group modal-password-field">
                  <input [type]="password[3] ? 'text' : 'password'" class="form-control pass-input"
                    placeholder="Password" value="12345">
                  <span class="fas toggle-password" [ngClass]=" password[3] ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePassword(3)"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="form-control-label">Confirm Password</label>
                <div class="pass-group modal-password-field">
                  <input [type]="password[4] ? 'text' : 'password'" class="form-control pass-input-two"
                    placeholder="Confirm Password" value="12345">
                  <span class="fas toggle-password-two" [ngClass]=" password[4] ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePassword(4)"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="form-label">Company Address </label>
                <textarea type="text" class="form-control" rows="3">22 Junior Avenue Duluth, GA 30097</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Plan Name</label>
                <mat-select class="select custom-mat-select" placeholder="All Plans">
                  <mat-option value="All Plans">All Plans</mat-option>
                  <mat-option value="Advanced">Advanced</mat-option>
                  <mat-option value="Basic">Basic</mat-option>
                  <mat-option value="Enterprise">Enterprise</mat-option>
                  <mat-option value="Premium">Premium</mat-option>
                  <mat-option value="Free">Free</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Plan Type</label>
                <mat-select class="select custom-mat-select" placeholder="Monthly">
                  <mat-option value="Monthly">Monthly</mat-option>
                  <mat-option value="Yearly">Yearly</mat-option>
                  <mat-option value="Lifetime">Lifetime</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Select Currency</label>
                <mat-select class="select custom-mat-select" placeholder="United States Dollar (USD)">
                  <mat-option value="United States Dollar (USD)">United States Dollar
                    (USD)</mat-option>
                  <mat-option value="$">$</mat-option>
                  <mat-option value="£">£</mat-option>
                  <mat-option value="€">€</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label>Select Language</label>
                <mat-select class="select custom-mat-select" placeholder="English">
                  <mat-option value="English">English</mat-option>
                  <mat-option value="French">French</mat-option>
                  <mat-option value="Spanish">Spanish</mat-option>
                  <mat-option value="German">German</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex align-items-center mb-3">
                <h6 class="mb-0">Status</h6>
                <div class="status-toggle">
                  <input id="access-trail-2" class="check" type="checkbox" checked="">
                  <label for="access-trail-2" class="checktoggle checkbox-bg">checkbox</label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Companies Modal -->

<!-- View Companies Modal -->
<div class="modal custom-modal custom-lg-modal fade p-20" id="view_companies" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Company Details</h4>
        </div>
        <div class="d-flex details-edit-link">
          <a href="javascript:void(0);" class="modal-edit-link d-flex align-items-center" data-bs-toggle="modal"
            data-bs-target="#edit_companies"><i class="feather icon-edit me-2"></i>Edit Company</a>
          <button type="button" class="btn-close ms-2" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>

      </div>
      <div class="modal-body pb-0">
        <div class="row">
          <div class="col-md-12">
            <div class="form-field-item">
              <div class="profile-picture company-detail-head">
                <div class="upload-profile">
                  <div class="profile-img company-profile-img">
                    <img id="view-company-img" class="img-fluid me-0" src="assets/img/companies/company-01.svg"
                      alt="profile-img">
                  </div>
                  <div class="add-profile">
                    <h5>Hermann Groups</h5>
                    <span>Hermllrich&#64;example.com</span>
                  </div>
                </div>
                <span class="badge bg-success-light d-inline-flex align-items-center"><i
                    class="feather icon-check me-1"></i>Active</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="plane-basic-info">
              <h5>Basic Info</h5>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Account URL</h6>
                    <p>hru.example.com</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Phone Number</h6>
                    <p>+1 15541 54544</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Website</h6>
                    <p>www.example.com</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Company Address</h6>
                    <p>22 Junior Avenue <br>Duluth, GA 30097</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Currency</h6>
                    <p>United Stated Dollar (USD)</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Language</h6>
                    <p>English</p>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="col-md-12">
            <div class="plane-basic-info plane-detail">
              <h5>Plan Details</h5>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Plan Name</h6>
                    <p>Enterprise</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Plan Type</h6>
                    <p>Yearly</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Price</h6>
                    <p>$200</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Register Date</h6>
                    <p>15 Jan 2024</p>
                  </div>

                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="basic-info-detail">
                    <h6>Expiring On</h6>
                    <p>15 Jan 2025</p>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /View Companies Modal -->

<!-- Change Plane Modal -->
<div class="modal custom-modal custom-lg-modal fade p-20" id="change_pane" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Update Package</h4>
        </div>
        <button type="button" class="btn-close ms-2" data-bs-dismiss="modal" aria-label="Close">
        </button>

      </div>
      <form action="#">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="plane-basic-info plane-detail">
                <h5>Current Plan Details</h5>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Company Name</h6>
                      <p>Hermann Groups</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Plan Name</h6>
                      <p>Enterprise</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Plan Type</h6>
                      <p>Yearly</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Price</h6>
                      <p>$200</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Register Date</h6>
                      <p>15 Jan 2024</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="basic-info-detail">
                      <h6>Expiring On</h6>
                      <p>15 Jan 2025</p>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12">
              <div class="plane-basic-info plane-detail">
                <h5>Change Company Plan</h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label>Plan Name</label>
                      <mat-select class="select custom-mat-select" placeholder="Enterprise">
                        <mat-option value="Enterprise">Enterprise</mat-option>
                        <mat-option value="Advanced">Advanced</mat-option>
                        <mat-option value="Basic">Basic</mat-option>
                        <mat-option value="Premium">Premium</mat-option>
                        <mat-option value="Free">Free</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label>Plan Type</label>
                      <mat-select class="select custom-mat-select" placeholder="Yearly">
                        <mat-option value="Yearly">Yearly</mat-option>
                        <mat-option value="Monthly">Monthly</mat-option>
                        <mat-option value="Lifetime">Lifetime</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label class="form-label">Amount </label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label class="form-control-label">Payment Date</label>
                      <div class="cal-icon">
                        <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label class="form-control-label">Next Payment Date</label>
                      <div class="cal-icon">
                        <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block mb-3">
                      <label class="form-control-label">Expiring On</label>
                      <div class="cal-icon">
                        <input type="email" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }" placeholder="DD-MM-YYYY">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Save
            Changes</button>
        </div>
      </form>

    </div>
  </div>
</div>
<!-- /Change Plane Modal -->