.edit-delete-content {
    margin-left: -5px;
}
.option-space-op {
    border: 1px solid #021b672c;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.active {
    border: 2px solid #021d6678;
    box-shadow: 5px 5px 10px 2px #021d6678;
}

.c-hover:hover {
  cursor: pointer;
}

.invoice-wrapper {
    margin: O !important;
    padding: 0 !important;
}

.organisation-name {
    font-size: 1.5rem !important;
    color: #021d66 !important;
}

.invoice-one .invoice-wrapper {
    margin: 0 !important;
}

.invoice-wrapper{
    margin: 0 !important;
}