<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="main-wrapper invoice-one">
        <div class="modal-content">
            <div class="modal-body" *ngIf="inModal">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal
                    id="closeModal" (click)="ngOnDestroy()">
                </button>
            </div>
            <div class="invoice-wrapper download_section">
                <div class="inv-content">
                    <span class="line"></span>
                    <div class="invoice-header">
                        <div class="inv-header-left">
                            <h4 style="color: #021d66">{{ 'payment.invoice' | translate }}</h4>
                            <div class="company-details">
                                <div class="gst-details">
                                    <h6>{{ "payment." + transactionData?.transactionType | translate }}</h6>
                                    <!-- <span>Address:15 Hodges Mews,<br> High Wycombe HP12 3JL, United Kingdom.</span> -->
                                </div>
                                <div class="address-bg"></div>
                            </div>
                        </div>
                        <div class="inv-header-right">
                            <a href="javascript:void(0);">
                                <!-- Kanaku -->
                                <!-- <img src="assets/img/logo2.png" alt="Logo"> -->
                                <h3>{{transactionData?.senderName}}</h3>
                            </a>
                            <h6>Ref. : {{transactionData?.transactionRef}}</h6>
                            <h6>Date : {{transactionData?.updatedAt | date: 'dd/MM/yyyy' }}</h6>
                            <!-- <p> <span>Due Date  : 07-12-2023</span></p>  -->
                            <p style="color: #f2a603;" *ngIf="transactionData?.status === 'transaction_payout_pending'
                                                        || transactionData?.status === 'transaction_payin_pending'">
                                <b>{{ 'payment.transactionPending' | translate }}</b>
                            </p>
                            <p style="color: #f2a603;"
                                *ngIf="transactionData?.transactionType === 'transfer' && transactionData?.status === 'transaction_payin_success'">
                                <b>{{ 'payment.transactionPending' | translate }}</b>
                            </p>
                            <p style="color: #f2a603;"
                                *ngIf="transactionData?.transactionType === 'withdrawal' && transactionData?.status === 'transaction_payin_success'">
                                <b>{{ 'payment.transactionPending' | translate }}</b>
                            </p>
                            <p style="color: #15af01;" *ngIf="transactionData?.transactionType !== 'transfer'
                                                        && transactionData?.transactionType !== 'withdrawal'
                                                        && transactionData?.status === 'transaction_payin_success'
                                                        || transactionData?.status === 'transaction_payout_success'">
                                <b>{{ 'payment.success' | translate }}</b>
                            </p>
                            <p style="color: #bf1f03;" *ngIf="transactionData?.status === 'transaction_payin_error'
                                                    || transactionData?.status === 'transaction_payout_error'
                                                    || transactionData?.status === 'transaction_payout_rejected'
                                                    || transactionData?.status === 'transaction_payout_closed'
                                                    || transactionData?.status === 'transaction_payout_error'
                                                    || transactionData?.status === 'transaction_payin_closed'">
                                <b>{{ 'payment.error' | translate }}</b>
                            </p>

                        </div>

                    </div>
                    <span class="line"></span>
                    <div class="patient-infos">
                        <!-- Invoice Item -->
                        <div class="invoice-item invoice-item-bg">
                            <div class="invoice-circle-img">
                                <img src="assets/img/invoice-circle1.png" alt="" class="invoice-circle1">
                                <img src="assets/img/invoice-circle2.png" alt="" class="invoice-circle2">
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text-one">{{ 'payment.sender' | translate
                                            }}</strong>
                                        <h6 class="invoice-name">{{transactionData?.clientName}}</h6>
                                        <p class="invoice-details invoice-details-two">
                                            {{transactionData?.senderName}} <br>
                                            {{transactionData?.senderCountry}} <br>
                                            {{transactionData?.senderContact}} <br>
                                            {{transactionData?.senderEmail}} <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text-one">{{ 'payment.receiver' | translate
                                            }}</strong>
                                        <!-- <h6 class="invoice-name">{{transactionData?.receiverName}}</h6> -->
                                        <p class="invoice-details invoice-details-two">
                                            {{transactionData?.receiverName}} <br>
                                            {{transactionData?.receiverContact}} <br>
                                            {{transactionData?.receiverEmail}} <br>
                                            {{transactionData?.receiverAddress}} <br>
                                        </p>
                                        <!-- <h6>{{transactionData?.senderCountry}}</h6> -->
                                        <!-- <p class="invoice-details invoice-details-two">
                                            {{transactionData?.classAbreviation}} <br>
                                        </p> -->
                                        <!-- <strong class="customer-text-one">Montant déjà versé:</strong>
                                        <p class="invoice-details invoice-details-two">
                                            {{transactionData?.alreadyPaid}} {{transactionData?.receiverCurrency}}<br>
                                        </p> -->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="invoice-info invoice-info-one border-0">
                                        <p>{{ 'payment.receipt' | translate }} : {{transactionData?.transactionRef}}
                                        </p>
                                        <p>Id : {{transactionData?._id }}</p>
                                        <p>Date : {{formatDate(transactionData?.createdAt)}}</p>
                                        <br>
                                        <!-- <p>Méthode de paiement : {{transactionData?.paymentMethode }}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Invoice Item -->
                    </div>
                    <div class="invoice-table">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="invoice-table table table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="table_width_1">#</th>
                                                <th>{{ 'payment.designation' | translate }}</th>
                                                <th *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'">
                                                    {{ 'payment.unitPrice' | translate }}</th>
                                                <th *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'">
                                                    {{ 'payment.quantity' | translate }}
                                                </th>
                                                <th style="text-align: right;">{{ 'payment.amount' | translate
                                                    }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>{{ 'payment.' + transactionData?.transactionType | translate
                                                    }}
                                                    <span *ngIf="transactionData?.transactionType === 'transfer'">|
                                                        {{ transactionData?.raisonForTransfer }}</span>
                                                    <span *ngIf="transactionData?.transactionType === 'subscription'">|
                                                        {{ planData?.title }}</span>
                                                </td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'">
                                                    {{unitPrice(transactionData)}}</td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'">
                                                    {{transactionData?.quantity}}
                                                    <span *ngIf="transactionData?.cycle === 'dayly'">{{
                                                        "subscriptions.day" | translate }}(s)</span>
                                                    <span *ngIf="transactionData?.cycle === 'weekly'">{{
                                                        "subscriptions.week" | translate }}(s)</span>
                                                    <span *ngIf="transactionData?.cycle === 'monthly'">{{
                                                        "subscriptions.month" | translate }}</span>
                                                    <span *ngIf="transactionData?.cycle === 'yearly'">{{
                                                        "subscriptions.year" | translate }}(s)</span>
                                                </td>
                                                <td class="text-end">{{transactionData?.estimation}}
                                                    {{transactionData?.receiverCurrency}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'"></td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'"></td>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'"></td>
                                                <td *ngIf="transactionData?.transactionType === 'subscription'
                                                        || transactionData?.transactionType === 'payment'"></td>
                                                <th></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="table-footer-left notes">
                                <div class="logo3" *ngIf="transactionData?.transactionType !== 'transfer'
                            && transactionData?.transactionType !== 'withdrawal'
                            && transactionData?.status === 'transaction_payin_success'
                            || transactionData?.status === 'transaction_payout_success'">
                                    <img src="assets/img/paid.svg" alt="img">
                                </div>
                                <div class="logo3" *ngIf="transactionData?.status === 'transaction_payin_error'
                                    || transactionData?.status === 'transaction_payout_error'
                                    || transactionData?.status === 'transaction_payout_rejected'
                                    || transactionData?.status === 'transaction_payout_closed'
                                    || transactionData?.status === 'transaction_payout_error'
                                    || transactionData?.status === 'transaction_payin_closed'">
                                    <img src="assets/img/not paid.svg" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="invoice-total-card">
                                <div class="invoice-total-box"
                                    style="border: 2px dashed #021d66; padding: 10px; border-radius: 5px;">
                                    <div class="invoice-total-inner">
                                        <p>Somme :<span>{{transactionData?.estimation}}
                                                {{transactionData?.receiverCurrency}}</span></p>
                                        <!-- <p>Taxes service en ligne ({{transactionData?.taxes}}%)
                                            :<span>{{transactionData?.taxesAmount}}
                                                {{transactionData?.receiverCurrency}}</span></p> -->
                                    </div>
                                    <div class="invoice-total-footer">
                                        <h4>{{ 'payment.totalAmount' | translate }}
                                            <span>{{transactionData?.estimation}}
                                                {{transactionData?.receiverCurrency}}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total-amountdetails">
                        <p>{{ 'payment.totalAmount' | translate }} ({{ 'payment.inWords' | translate }}): <span> {{ numberToWords(transactionData?.estimation) }} {{transactionData?.receiverCurrency}}</span>
                        </p>
                    </div>
                    <div class="bank-details">
                        <div class="row">
                            <div class="col md-6">
                                <div class="payment-info">
                                    <div class="qr">
                                        <img src="assets/img/qr-code.svg" alt="qr">
                                        <h6 class="scan-details">Scan to View Receipt</h6>
                                    </div>
                                    <div class="pay-details">
                                        <span class="payment-title">Payment Info:</span>
                                        <div><span>Debit Card :</span> 465 *************645</div>
                                        <div class="mb-0"><span>Amount :</span> $1,815</div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="terms-condition">
                                    <span>Terms & Conditions:</span>
                                    <ol>
                                        <li> Goods Once sold cannot be taken back or exchanged</li>
                                        <li> We are not the manufactures, company will stand for warrenty as per their
                                            terms and conditions.</li>
                                    </ol>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
                <div class="modal-footer" style="
                background: #021d66;
                color: #fff;
                text-align: center !important;">
                    <p>digiKUNTZ Payments | payments.digikuntz.com</p>
                </div>
            </div>

        </div>
    </div>
</div>